Repository MaibornWolff/codecharta, pull requests merged in 2018-05, with the labels that each got.

#137 Regex show ancestors/parentNodes
  CHANGELOG.md
  visualization/app/codeCharta/ui/mapTreeView/mapTreeViewLevelComponent.ts
  visualization/app/codeCharta/ui/regexFilter/regexFilter.component.ts
Labels: bug, enhancement, visualization

#133 Crococosmo importer
  CHANGELOG.md
  analysis/import/CrococosmoImporter/README.md
  analysis/import/CrococosmoImporter/build.gradle
  analysis/import/CrococosmoImporter/src/main/kotlin/de/maibornwolff/codecharta/importer/crococosmo/CrococosmoConverter.kt
  analysis/import/CrococosmoImporter/src/main/kotlin/de/maibornwolff/codecharta/importer/crococosmo/CrococosmoDeserializer.kt
  analysis/import/CrococosmoImporter/src/main/kotlin/de/maibornwolff/codecharta/importer/crococosmo/CrococosmoImporter.kt
  analysis/import/CrococosmoImporter/src/main/kotlin/de/maibornwolff/codecharta/importer/crococosmo/model/Attribute.kt
  analysis/import/CrococosmoImporter/src/main/kotlin/de/maibornwolff/codecharta/importer/crococosmo/model/Graph.kt
  analysis/import/CrococosmoImporter/src/main/kotlin/de/maibornwolff/codecharta/importer/crococosmo/model/Node.kt
  analysis/import/CrococosmoImporter/src/main/kotlin/de/maibornwolff/codecharta/importer/crococosmo/model/Schema.kt
  analysis/import/CrococosmoImporter/src/main/kotlin/de/maibornwolff/codecharta/importer/crococosmo/model/Version.kt
  analysis/import/CrococosmoImporter/src/test/kotlin/de/maibornwolff/codecharta/importer/crococosmo/CrococosmoConverterTest.kt
  analysis/import/CrococosmoImporter/src/test/kotlin/de/maibornwolff/codecharta/importer/crococosmo/CrococosmoDeserializerTest.kt
  analysis/import/CrococosmoImporter/src/test/resources/test.xml
  analysis/settings.gradle
  analysis/test/data/codecharta/crococosmo.xml
  analysis/test/golden_test.sh
  analysis/tools/ccsh/build.gradle
  analysis/tools/ccsh/src/main/kotlin/de/maibornwolff/codecharta/tools/ccsh/Ccsh.kt
Labels: analysis

#145 Invert height of buildings
  CHANGELOG.md
  visualization/app/codeCharta/core/scenario/scenario.data.ts
  visualization/app/codeCharta/core/settings/settings.service.ts
  visualization/app/codeCharta/core/treemap/treemap.service.ts
  visualization/app/codeCharta/ui/codeMap/codeMap.render.service.ts
  visualization/app/codeCharta/ui/displaySettingsPanel/displaySettingsPanel.component.html
  visualization/app/codeCharta/ui/settingsPanel/settingsPanel.scss
Labels: enhancement, visualization
