Repository MaibornWolff/codecharta, pull requests merged in 2019-10, with the labels that each got.

#729 Feature/716/pipe support sourcecodeparser
  CHANGELOG.md
  analysis/filter/MergeFilter/src/main/kotlin/de/maibornwolff/codecharta/filter/mergefilter/MergeFilter.kt
  analysis/filter/StructureModifier/src/main/kotlin/de/maibornwolff/codecharta/filter/structuremodifier/PipedInputScanner.kt
  analysis/filter/StructureModifier/src/main/kotlin/de/maibornwolff/codecharta/filter/structuremodifier/StructureModifier.kt
  analysis/import/SourceCodeParser/README.md
  analysis/import/SourceCodeParser/build.gradle
  analysis/import/SourceCodeParser/src/main/kotlin/de/maibornwolff/codecharta/importer/sourcecodeparser/OutputFormat.kt
  analysis/import/SourceCodeParser/src/main/kotlin/de/maibornwolff/codecharta/importer/sourcecodeparser/SourceCodeParserMain.kt
  analysis/import/SourceCodeParser/src/main/kotlin/de/maibornwolff/codecharta/importer/sourcecodeparser/metricwriters/CSVMetricWriter.kt
  analysis/import/SourceCodeParser/src/main/kotlin/de/maibornwolff/codecharta/importer/sourcecodeparser/metricwriters/JSONMetricWriter.kt
  analysis/import/SourceCodeParser/src/main/kotlin/de/maibornwolff/codecharta/importer/sourcecodeparser/metricwriters/MetricWriter.kt
  analysis/import/SourceCodeParser/src/main/kotlin/de/maibornwolff/codecharta/importer/sourcecodeparser/sonaranalyzers/JavaSonarAnalyzer.kt
  analysis/import/SourceCodeParser/src/test/kotlin/de/maibornwolff/codecharta/importer/sourcecodeparser/e2e/FileDoesNotExist.kt
  analysis/import/SourceCodeParser/src/test/kotlin/de/maibornwolff/codecharta/importer/sourcecodeparser/e2e/PipedInputStream.kt
  analysis/import/SourceCodeParser/src/test/resources/cc_project.cc.json
  analysis/import/TokeiImporter/src/main/kotlin/de/maibornwolff/codecharta/importer/tokeiimporter/TokeiImporter.kt
  analysis/import/TokeiImporter/src/test/kotlin/de/maibornwolff/codecharta/importer/tokeiimporter/TokeiImporterTest.kt
  analysis/model/src/main/kotlin/de/maibornwolff/codecharta/serialization/PipedInputScanner.kt
  analysis/model/src/main/kotlin/de/maibornwolff/codecharta/serialization/ProjectDeserializer.kt
  analysis/model/src/test/kotlin/de/maibornwolff/codecharta/serialization/ProjectSerializerTest.kt
Labels: pr-analysis

#737 Feature/717/pipe support SCMLogParser
  CHANGELOG.md
  analysis/import/SCMLogParser/README.md
  analysis/import/SCMLogParser/build.gradle
  analysis/import/SCMLogParser/src/main/kotlin/de/maibornwolff/codecharta/importer/scmlogparser/SCMLogParser.kt
  analysis/import/SCMLogParser/src/main/kotlin/de/maibornwolff/codecharta/importer/scmlogparser/parser/LogLineParser.kt
  analysis/import/SCMLogParser/src/test/kotlin/de/maibornwolff/codecharta/importer/scmlogparser/PipedInputStream.kt
  analysis/import/SCMLogParser/src/test/resources/cc_project.cc.json
  analysis/test/data/codecharta/foo.java
  analysis/test/data/codecharta/tokei_results.json
  analysis/test/golden_test.sh
Labels: pr-analysis

#732 Feature/715/pipe support sonar import
  CHANGELOG.md
  analysis/import/SonarImporter/README.md
  analysis/import/SonarImporter/build.gradle
  analysis/import/SonarImporter/src/main/kotlin/de/maibornwolff/codecharta/importer/sonar/SonarImporterMain.kt
Labels: pr-analysis

#742 Bug/644/space in ribbon bar
  CHANGELOG.md
  visualization/app/codeCharta/ui/ribbonBar/ribbonBar.component.scss
Labels: pr-visualization

#743 Bug/649/wrong root folder name
  CHANGELOG.md
  visualization/app/codeCharta/ui/mapTreeView/mapTreeView.component.html
  visualization/app/codeCharta/ui/mapTreeView/mapTreeView.component.ts
Labels: bug, pr-visualization

#745 Bug/600/shelljs sanitize input
  CHANGELOG.md
  visualization/cli.js
Labels: bug, pr-visualization-desktop, security

#739 Tech/add tests
  visualization/app/codeCharta/ui/dialog/dialog.download.component.spec.ts
  visualization/app/codeCharta/ui/dialog/dialog.download.component.ts
  visualization/app/codeCharta/ui/dialog/dialog.globalSettings.component.spec.ts
  visualization/app/codeCharta/ui/dialog/dialog.globalSettings.component.ts
  visualization/app/codeCharta/ui/dialog/dialog.module.ts
  visualization/app/codeCharta/ui/mapTreeView/mapTreeView.component.spec.ts
  visualization/app/codeCharta/ui/mapTreeView/mapTreeView.component.ts
  visualization/app/codeCharta/util/dataMocks.ts
  visualization/package-lock.json
  visualization/package.json
Labels: pr-visualization, tech

#727 Bug/634/auto fit map after unfocussing map
  CHANGELOG.md
  visualization/app/codeCharta/codeCharta.component.spec.ts
  visualization/app/codeCharta/codeCharta.component.ts
  visualization/app/codeCharta/state/fileState.service.spec.ts
  visualization/app/codeCharta/state/fileState.service.ts
  visualization/app/codeCharta/state/loadingStatus.service.spec.ts
  visualization/app/codeCharta/state/loadingStatus.service.ts
  visualization/app/codeCharta/state/settingsService/settings.service.events.ts
  visualization/app/codeCharta/state/settingsService/settings.service.spec.ts
  visualization/app/codeCharta/state/settingsService/settings.service.ts
  visualization/app/codeCharta/state/state.module.ts
  visualization/app/codeCharta/ui/centerMapButton/centerMapButton.component.spec.ts
  visualization/app/codeCharta/ui/codeMap/codeMap.actions.service.spec.ts
  visualization/app/codeCharta/ui/codeMap/codeMap.actions.service.ts
  visualization/app/codeCharta/ui/codeMap/codeMap.component.spec.ts
  visualization/app/codeCharta/ui/codeMap/codeMap.component.ts
  visualization/app/codeCharta/ui/codeMap/codeMap.preRender.service.spec.ts
  visualization/app/codeCharta/ui/codeMap/codeMap.preRender.service.ts
  visualization/app/codeCharta/ui/codeMap/threeViewer/__snapshots__/threeOrbitControlsService.spec.ts.snap
  visualization/app/codeCharta/ui/codeMap/threeViewer/threeOrbitControlsService.spec.ts
  visualization/app/codeCharta/ui/codeMap/threeViewer/threeOrbitControlsService.ts
  visualization/app/codeCharta/ui/fileChooser/fileChooser.component.spec.ts
  visualization/app/codeCharta/ui/fileChooser/fileChooser.component.ts
  visualization/app/codeCharta/ui/loadingGif/loadingGif.component.spec.ts
  visualization/app/codeCharta/ui/loadingGif/loadingGif.component.ts
  visualization/app/codeCharta/ui/loadingGif/loadingGif.module.ts
  visualization/app/codeCharta/ui/loadingGif/loadingGif.service.spec.ts
Labels: bug, pr-visualization

#744 Bug/725/calculation distribution bar for excluded files
  CHANGELOG.md
  visualization/app/codeCharta/ui/fileExtensionBar/fileExtensionBar.component.spec.ts
  visualization/app/codeCharta/ui/fileExtensionBar/fileExtensionBar.component.ts
  visualization/app/codeCharta/util/codeMapHelper.spec.ts
  visualization/app/codeCharta/util/codeMapHelper.ts
  visualization/app/codeCharta/util/color/hsl.spec.ts
  visualization/app/codeCharta/util/color/hsl.ts
  visualization/app/codeCharta/util/fileExtensionCalculator.spec.ts
  visualization/app/codeCharta/util/fileExtensionCalculator.ts
Labels: bug, pr-visualization

#751 Tech/750/remove layout switcher
  visualization/app/app.ts
  visualization/app/codeCharta/ui/layoutSwitcher/layoutSwitcher.component.html
  visualization/app/codeCharta/ui/layoutSwitcher/layoutSwitcher.component.ts
  visualization/app/codeCharta/ui/layoutSwitcher/layoutSwitcher.module.ts
  visualization/app/codeCharta/ui/ui.ts
  visualization/app/index.html
  visualization/app/testVille/testVille.component.html
  visualization/app/testVille/testVille.component.scss
  visualization/app/testVille/testVille.component.ts
  visualization/app/testVille/testVille.ts
  visualization/package.json
Labels: pr-visualization, tech

#749 Feature/ribbon bar opening behaviour
  CHANGELOG.md
  visualization/app/app.e2e.ts
  visualization/app/codeCharta/codeCharta.component.scss
  visualization/app/codeCharta/e2e/logo.e2e.ts
  visualization/app/codeCharta/e2e/url.e2e.ts
  visualization/app/codeCharta/ui/nodeContextMenu/nodeContextMenu.e2e.ts
  visualization/app/codeCharta/ui/ribbonBar/ribbonBar.component.html
  visualization/app/codeCharta/ui/ribbonBar/ribbonBar.component.scss
  visualization/app/codeCharta/ui/ribbonBar/ribbonBar.component.spec.ts
  visualization/app/codeCharta/ui/ribbonBar/ribbonBar.component.ts
  visualization/app/codeCharta/ui/ribbonBar/ribbonBar.e2e.ts
  visualization/app/codeCharta/ui/ribbonBar/ribbonBar.po.ts
  visualization/app/codeCharta/ui/searchPanel/searchPanel.component.html
  visualization/app/codeCharta/ui/searchPanel/searchPanel.component.ts
  visualization/app/codeCharta/ui/searchPanel/searchPanel.po.ts
  visualization/app/puppeteer.helper.ts
  visualization/package-lock.json
Labels: pr-visualization

#754 Bug/573/single file scan exception
  CHANGELOG.md
  analysis/import/SourceCodeParser/src/main/kotlin/de/maibornwolff/codecharta/importer/sourcecodeparser/ProjectTraverser.kt
  analysis/import/SourceCodeParser/src/test/kotlin/de/maibornwolff/codecharta/importer/sourcecodeparser/ProjectTraverserTest.kt
Labels: bug, pr-analysis

#758 Bug/747/auto fit broken for focused
  CHANGELOG.md
  visualization/app/codeCharta/ui/codeMap/codeMap.label.service.spec.ts
  visualization/app/codeCharta/ui/codeMap/codeMap.label.service.ts
  visualization/app/codeCharta/ui/codeMap/threeViewer/threeOrbitControlsService.ts
Labels: bug, pr-visualization
