Repository MaibornWolff/codecharta, pull requests merged in 2019-07, with the labels that each got.

#616 refactored e2e tests
  visualization/app/codeCharta/e2e/logo.e2e.ts
  visualization/app/codeCharta/e2e/logo.po.ts
  visualization/app/codeCharta/e2e/url.e2e.ts
  visualization/app/codeCharta/ui/areaSettingsPanel/areaSettingsPanel.e2e.ts
  visualization/app/codeCharta/ui/dialog/dialog.error.po.ts
  visualization/app/codeCharta/ui/filePanel/filePanel.po.ts
  visualization/app/codeCharta/ui/heightSettingsPanel/heightSettingsPanel.e2e.ts
  visualization/app/codeCharta/ui/nodeContextMenu/nodeContextMenu.e2e.ts
  visualization/app/codeCharta/ui/nodeContextMenu/nodeContextMenu.po.ts
  visualization/app/codeCharta/ui/ribbonBar/ribbonBar.e2e.ts
  visualization/app/codeCharta/ui/ribbonBar/ribbonBar.po.ts
  visualization/app/codeCharta/ui/settingsPanel/settingsPanel.po.ts
  visualization/app/puppeteer.helper.ts
  visualization/package-lock.json
  visualization/package.json
  visualization/plop-templates/e2e.ts.hbs
  visualization/plop-templates/po.ts.hbs
  visualization/plopfile.js
Labels: tech, visualization

#617 Bug/584/file extension bar color missing in standalone
  CHANGELOG.md
  visualization/app/codeCharta/ui/fileExtensionBar/fileExtensionBar.component.spec.ts
  visualization/app/codeCharta/ui/fileExtensionBar/fileExtensionBar.component.ts
Labels: bug, visualization

#609 Feature/606/move center button next to viewcube
  CHANGELOG.md
  visualization/app/codeCharta/codeCharta.component.html
  visualization/app/codeCharta/codeCharta.component.spec.ts
  visualization/app/codeCharta/codeCharta.component.ts
  visualization/app/codeCharta/ui/centerMapButton/centerMapButton.component.html
  visualization/app/codeCharta/ui/centerMapButton/centerMapButton.component.scss
  visualization/app/codeCharta/ui/centerMapButton/centerMapButton.component.spec.ts
  visualization/app/codeCharta/ui/centerMapButton/centerMapButton.component.ts
  visualization/app/codeCharta/ui/centerMapButton/centerMapButton.module.ts
  visualization/app/codeCharta/ui/codeMap/codeMap.component.html
  visualization/app/codeCharta/ui/codeMap/codeMap.component.scss
  visualization/app/codeCharta/ui/codeMap/threeViewer/threeOrbitControlsService.spec.ts
  visualization/app/codeCharta/ui/codeMap/threeViewer/threeOrbitControlsService.ts
  visualization/app/codeCharta/ui/codeMap/threeViewer/threeViewerService.ts
  visualization/app/codeCharta/ui/ui.ts
  visualization/app/codeCharta/ui/viewCube/viewCube.component.scss
  visualization/package.json
Labels: visualization

#603 Tech/refactor pre/render-service
  visualization/README.md
  visualization/app/codeCharta/codeCharta.model.ts
  visualization/app/codeCharta/ui/codeMap/__snapshots__/codeMap.render.service.spec.ts.snap
  visualization/app/codeCharta/ui/codeMap/codeMap.arrow.service.spec.ts
  visualization/app/codeCharta/ui/codeMap/codeMap.arrow.service.ts
  visualization/app/codeCharta/ui/codeMap/codeMap.label.service.spec.ts
  visualization/app/codeCharta/ui/codeMap/codeMap.label.service.ts
  visualization/app/codeCharta/ui/codeMap/codeMap.mouseEvent.service.spec.ts
  visualization/app/codeCharta/ui/codeMap/codeMap.mouseEvent.service.ts
  visualization/app/codeCharta/ui/codeMap/codeMap.preRender.service.spec.ts
  visualization/app/codeCharta/ui/codeMap/codeMap.preRender.service.ts
  visualization/app/codeCharta/ui/codeMap/codeMap.render.service.spec.ts
  visualization/app/codeCharta/ui/codeMap/codeMap.render.service.ts
  visualization/app/codeCharta/ui/codeMap/rendering/codeMapMesh.ts
  visualization/app/codeCharta/ui/codeMap/threeViewer/threeSceneService.ts
  visualization/app/codeCharta/ui/heightSettingsPanel/heightSettingsPanel.component.html
  visualization/app/codeCharta/ui/heightSettingsPanel/heightSettingsPanel.component.spec.ts
  visualization/app/codeCharta/ui/heightSettingsPanel/heightSettingsPanel.component.ts
  visualization/app/codeCharta/ui/metricChooser/metricChooser.component.spec.ts
  visualization/app/codeCharta/ui/metricChooser/metricChooser.component.ts
  visualization/app/codeCharta/ui/ribbonBar/ribbonBar.component.spec.ts
  visualization/app/codeCharta/util/__snapshots__/treeMapGenerator.spec.ts.snap
  visualization/app/codeCharta/util/__snapshots__/treeMapHelper.spec.ts.snap
  visualization/app/codeCharta/util/dataMocks.ts
  visualization/app/codeCharta/util/nodeDecorator.spec.ts
  visualization/app/codeCharta/util/nodeDecorator.ts
  visualization/app/codeCharta/util/treeMapGenerator.spec.ts
  visualization/app/codeCharta/util/treeMapGenerator.ts
  visualization/app/codeCharta/util/treeMapHelper.spec.ts
  visualization/app/codeCharta/util/treeMapHelper.ts
Labels: visualization

#639 Feature/fine tune ribbon bar
  CHANGELOG.md
  visualization/app/codeCharta/codeCharta.component.html
  visualization/app/codeCharta/codeCharta.component.scss
  visualization/app/codeCharta/ui/blacklistPanel/blacklistPanel.component.html
  visualization/app/codeCharta/ui/blacklistPanel/blacklistPanel.component.scss
  visualization/app/codeCharta/ui/codeMap/codeMap.component.scss
  visualization/app/codeCharta/ui/fileExtensionBar/fileExtensionBar.component.html
  visualization/app/codeCharta/ui/fileExtensionBar/fileExtensionBar.component.scss
  visualization/app/codeCharta/ui/loadingGif/loadingGif.map.component.html
  visualization/app/codeCharta/ui/ribbonBar/ribbonBar.component.html
  visualization/app/codeCharta/ui/ribbonBar/ribbonBar.component.scss
  visualization/app/codeCharta/ui/ribbonBar/ribbonBar.component.ts
  visualization/app/codeCharta/ui/ribbonBar/ribbonBar.e2e.ts
  visualization/app/codeCharta/ui/ribbonBar/ribbonBar.po.ts
  visualization/app/codeCharta/ui/searchBar/searchBar.component.html
  visualization/app/codeCharta/ui/searchBar/searchBar.component.scss
  visualization/app/codeCharta/ui/searchPanel/searchPanel.component.html
  visualization/app/codeCharta/ui/searchPanel/searchPanel.component.spec.ts
  visualization/app/codeCharta/ui/searchPanel/searchPanel.component.ts
  visualization/app/codeCharta/ui/searchPanelModeSelector/searchPanelModeSelector.component.scss
  visualization/app/codeCharta/ui/toolBar/toolBar.component.html
  visualization/app/codeCharta/ui/toolBar/toolBar.component.scss
Labels: visualization

#646 Feature/adapt-file-extension-bar-height
  CHANGELOG.md
  visualization/app/codeCharta/ui/fileExtensionBar/fileExtensionBar.component.scss
Labels: visualization

#647 Feature/620/age in weeks
  CHANGELOG.md
  analysis/import/SCMLogParser/README.md
  analysis/import/SCMLogParser/src/main/kotlin/de/maibornwolff/codecharta/importer/scmlogparser/SCMLogParser.kt
  analysis/import/SCMLogParser/src/main/kotlin/de/maibornwolff/codecharta/importer/scmlogparser/input/metrics/AgeInWeeks.kt
  analysis/import/SCMLogParser/src/main/kotlin/de/maibornwolff/codecharta/importer/scmlogparser/input/metrics/MetricsFactory.kt
  analysis/import/SCMLogParser/src/test/kotlin/de/maibornwolff/codecharta/importer/scmlogparser/input/metrics/AgeInWeeksTest.kt
  analysis/import/SCMLogParser/src/test/kotlin/de/maibornwolff/codecharta/importer/scmlogparser/input/metrics/MetricsFactoryTest.kt
Labels: analysis

#648 Feature/621/number of renames
  CHANGELOG.md
  analysis/import/SCMLogParser/README.md
  analysis/import/SCMLogParser/src/main/kotlin/de/maibornwolff/codecharta/importer/scmlogparser/SCMLogParser.kt
  analysis/import/SCMLogParser/src/main/kotlin/de/maibornwolff/codecharta/importer/scmlogparser/input/metrics/MetricsFactory.kt
  analysis/import/SCMLogParser/src/main/kotlin/de/maibornwolff/codecharta/importer/scmlogparser/input/metrics/NumberOfRenames.kt
  analysis/import/SCMLogParser/src/test/kotlin/de/maibornwolff/codecharta/importer/scmlogparser/input/metrics/MetricsFactoryTest.kt
  analysis/import/SCMLogParser/src/test/kotlin/de/maibornwolff/codecharta/importer/scmlogparser/input/metrics/NumberOfRenamesTest.kt
Labels: analysis

#652 Bug/ribbon bar blocked pointer events
  CHANGELOG.md
  visualization/app/codeCharta/ui/ribbonBar/ribbonBar.component.scss
Labels: bug, visualization

#653 Update README.md screenshot
  screenshot.png
Labels: documentation
