Repository MaibornWolff/codecharta, pull requests merged in 2019-02, with the labels that each got.

#331 Bug/sort-attribute-list
  visualization/app/codeCharta/core/data/data.service.spec.ts
  visualization/app/codeCharta/core/data/data.service.ts
  visualization/app/codeCharta/ui/metricChooser/metricChooser.component.ts
Labels: bug, review, visualization

#333 Bug/307/navigating-text-fields
  CHANGELOG.md
  visualization/app/codeCharta/ui/codeMap/threeViewer/threeViewerService.ts
Labels: bug, review, visualization

#329 Feature/308/remove-statistics-panel
  CHANGELOG.md
  visualization/app/codeCharta/core/core.module.ts
  visualization/app/codeCharta/core/scenario/scenario.data.ts
  visualization/app/codeCharta/core/settings/settings.module.ts
  visualization/app/codeCharta/core/settings/settings.service.ts
  visualization/app/codeCharta/core/statistic/statistic.module.ts
  visualization/app/codeCharta/core/statistic/statistic.service.spec.ts
  visualization/app/codeCharta/core/statistic/statistic.service.ts
  visualization/app/codeCharta/core/statistic/statisticMapService.spec.js
  visualization/app/codeCharta/ui/experimentalSettingsPanel/experimentalSettingsPanel.component.html
  visualization/app/codeCharta/ui/experimentalSettingsPanel/experimentalSettingsPanel.ts
  visualization/app/codeCharta/ui/legendPanel/legendPanel.component.ts
  visualization/app/codeCharta/ui/settingsPanel/settingsPanel.html
  visualization/app/codeCharta/ui/statisticSettingsPanel/statisticSettingsPanel.component.html
  visualization/app/codeCharta/ui/statisticSettingsPanel/statisticSettingsPanel.component.scss
  visualization/app/codeCharta/ui/statisticSettingsPanel/statisticSettingsPanel.component.ts
  visualization/app/codeCharta/ui/statisticSettingsPanel/statisticSettingsPanel.ts
Labels: review, visualization

#314 Bug/313/merge blacklist in multiple file service
  CHANGELOG.md
  visualization/app/codeCharta/core/multipleFile/__snapshots__/multipleFile.service.spec.ts.snap
  visualization/app/codeCharta/core/multipleFile/multipleFile.service.spec.ts
  visualization/app/codeCharta/core/multipleFile/multipleFile.service.ts
  visualization/app/codeCharta/ui/multipleFilePanel/multipleFilePanelComponent.ts
Labels: bug, review, tech, visualization

#335 Tech/224/scenario as update object
  CHANGELOG.md
  visualization/app/codeCharta/core/scenario/__snapshots__/scenario.service.spec.ts.snap
  visualization/app/codeCharta/core/scenario/__snapshots__/scenario.spec.ts.snap
  visualization/app/codeCharta/core/scenario/scenario.data.ts
  visualization/app/codeCharta/core/scenario/scenario.service.spec.ts
  visualization/app/codeCharta/core/scenario/scenario.service.ts
  visualization/app/codeCharta/core/scenario/scenarios.json
  visualization/app/codeCharta/ui/scenarioButtons/scenarioButtons.component.ts
Labels: review, tech, visualization

#321 Feature/311/white color buildings
  CHANGELOG.md
  visualization/app/codeCharta/core/scenario/__snapshots__/scenario.service.spec.ts.snap
  visualization/app/codeCharta/core/scenario/scenario.service.spec.ts
  visualization/app/codeCharta/core/settings/settings.service.ts
  visualization/app/codeCharta/ui/codeMap/codeMap.render.service.ts
  visualization/app/codeCharta/ui/codeMap/rendering/geometryGenerator.ts
  visualization/app/codeCharta/ui/codeMap/rendering/renderSettings.ts
  visualization/app/codeCharta/ui/colorSettingsPanel/colorSettingsPanel.component.html
  visualization/app/codeCharta/ui/legendPanel/legendPanel.component.ts
  visualization/app/codeCharta/ui/rangeSlider/rangeSlider.component.html
  visualization/app/codeCharta/ui/rangeSlider/rangeSlider.component.spec.ts
  visualization/app/codeCharta/ui/rangeSlider/rangeSlider.component.ts
  visualization/app/codeCharta/ui/ribbonBar/ribbonBar.component.html
  visualization/app/codeCharta/ui/ribbonBar/ribbonBar.component.scss
Labels: review, visualization

#342 Feature/324/Visual Long Button to open Ribbon Bar
  CHANGELOG.md
  visualization/app/codeCharta/ui/ribbonBar/ribbonBar.component.html
  visualization/app/codeCharta/ui/ribbonBar/ribbonBar.component.scss
  visualization/app/codeCharta/ui/ribbonBar/ribbonBar.component.ts
Labels: review

#341 adds prettier config
  CHANGELOG.md
  visualization/.prettierrc.json
  visualization/package-lock.json
  visualization/package.json
Labels: review

#344 Feature: View-Cube
  CHANGELOG.md
  visualization/app/codeCharta/codeCharta.component.html
  visualization/app/codeCharta/codeCharta.component.scss
  visualization/app/codeCharta/ui/codeMap/codeMap.component.html
  visualization/app/codeCharta/ui/codeMap/codeMap.component.scss
  visualization/app/codeCharta/ui/codeMap/codeMap.mouseEvent.service.ts
  visualization/app/codeCharta/ui/codeMap/codeMap.render.service.ts
  visualization/app/codeCharta/ui/codeMap/threeViewer/threeCameraService.ts
  visualization/app/codeCharta/ui/codeMap/threeViewer/threeOrbitControlsService.spec.ts
  visualization/app/codeCharta/ui/codeMap/threeViewer/threeOrbitControlsService.ts
  visualization/app/codeCharta/ui/codeMap/threeViewer/threeRendererService.ts
  visualization/app/codeCharta/ui/codeMap/threeViewer/threeSceneService.ts
  visualization/app/codeCharta/ui/codeMap/threeViewer/threeViewerService.ts
  visualization/app/codeCharta/ui/ui.ts
  visualization/app/codeCharta/ui/viewCube/viewCube.component.html
  visualization/app/codeCharta/ui/viewCube/viewCube.component.scss
  visualization/app/codeCharta/ui/viewCube/viewCube.component.ts
  visualization/app/codeCharta/ui/viewCube/viewCube.materials.ts
  visualization/app/codeCharta/ui/viewCube/viewCube.meshGenerator.ts
  visualization/app/codeCharta/ui/viewCube/viewCube.module.ts
  visualization/app/codeCharta/ui/viewCube/viewCube.mouseEvents.service.ts
  visualization/app/testVille/testVille.component.scss
  visualization/conf/webpack.loaders.js
  visualization/package-lock.json
Labels: review, visualization

#332 Bug/330/dynamic-color-range
  CHANGELOG.md
  visualization/app/codeCharta/core/data/data.service.ts
  visualization/app/codeCharta/core/scenario/__snapshots__/scenario.service.spec.ts.snap
  visualization/app/codeCharta/core/scenario/scenario.data.ts
  visualization/app/codeCharta/core/scenario/scenario.service.spec.ts
  visualization/app/codeCharta/core/scenario/scenario.service.ts
  visualization/app/codeCharta/core/scenario/scenarios.json
  visualization/app/codeCharta/core/settings/settings.service.ts
  visualization/app/codeCharta/core/settings/settings.spec.ts
  visualization/app/codeCharta/ui/blacklistPanel/blacklistPanel.component.ts
  visualization/app/codeCharta/ui/codeMap/codeMap.actions.service.ts
  visualization/app/codeCharta/ui/colorSettingsPanel/colorSettingsPanel.component.html
  visualization/app/codeCharta/ui/displaySettingsPanel/displaySettingsPanel.component.html
  visualization/app/codeCharta/ui/displaySettingsPanel/displaySettingsPanel.component.scss
  visualization/app/codeCharta/ui/displaySettingsPanel/displaySettingsPanel.component.ts
  visualization/app/codeCharta/ui/displaySettingsPanel/displaySettingsPanel.controller.spec.ts
  visualization/app/codeCharta/ui/displaySettingsPanel/displaySettingsPanel.ts
  visualization/app/codeCharta/ui/fileChooser/fileChooserController.spec.ts
  visualization/app/codeCharta/ui/fileChooser/fileChooserController.ts
  visualization/app/codeCharta/ui/optionsPanel/optionsPanel.component.html
  visualization/app/codeCharta/ui/resetSettingsButton/resetSettingsButton.component.spec.ts
  visualization/app/codeCharta/ui/resetSettingsButton/resetSettingsButton.component.ts
  visualization/app/codeCharta/ui/resetSettingsButton/resetSettingsButton.controller.spec.ts
  visualization/app/codeCharta/ui/ribbonBar/ribbonBar.component.html
  visualization/app/codeCharta/ui/ui.ts
Labels: bug, review, visualization

#354 Bug/settings-service-calls
  CHANGELOG.md
  visualization/app/codeCharta/core/settings/settings.service.ts
  visualization/app/codeCharta/ui/colorSettingsPanel/colorSettingsPanel.component.html
  visualization/app/codeCharta/ui/optionsPanel/optionsPanel.component.html
Labels: bug, review, visualization

#360 Hovering over items in the Treeview shows metrics and highlights them in the map #351
  CHANGELOG.md
  visualization/app/codeCharta/ui/mapTreeView/mapTreeView.component.scss
  visualization/app/codeCharta/ui/mapTreeView/mapTreeView.level.component.html
  visualization/app/codeCharta/ui/mapTreeView/mapTreeView.level.component.spec.ts
  visualization/app/codeCharta/ui/mapTreeView/mapTreeView.level.component.ts
Labels: review

#361 Folders can no longer be colored in the CodeMap or TreeView
  CHANGELOG.md
  visualization/app/app.e2e.ts
  visualization/app/codeCharta/ui/nodeContextMenu/nodeContextMenu.component.html
  visualization/app/codeCharta/ui/nodeContextMenu/nodeContextMenu.e2e.ts
  visualization/app/codeCharta/ui/nodeContextMenu/nodeContextMenu.po.ts
  visualization/app/codeCharta/ui/settingsPanel/settingsPanel.po.ts
  visualization/app/puppeteer.helper.ts
Labels: review

#347 Feature/337/markingcolor in settings
  visualization/app/codeCharta/core/colorService.ts
  visualization/app/codeCharta/core/data/model/CodeMap.ts
  visualization/app/codeCharta/core/settings/settings.service.ts
  visualization/app/codeCharta/core/treemap/__snapshots__/treemap.spec.ts.snap
  visualization/app/codeCharta/core/treemap/__snapshots__/treemap.util.spec.ts.snap
  visualization/app/codeCharta/core/treemap/treemap.service.ts
  visualization/app/codeCharta/core/treemap/treemap.util.spec.ts
  visualization/app/codeCharta/core/treemap/treemap.util.ts
  visualization/app/codeCharta/ui/codeMap/codeMap.actions.service.spec.ts
  visualization/app/codeCharta/ui/codeMap/codeMap.actions.service.ts
  visualization/app/codeCharta/ui/codeMap/codeMap.label.service.spec.ts
  visualization/app/codeCharta/ui/codeMap/codeMap.label.service.ts
  visualization/app/codeCharta/ui/codeMap/codeMap.render.service.spec.ts
  visualization/app/codeCharta/ui/codeMap/codeMap.render.service.ts
  visualization/app/codeCharta/ui/codeMap/codeMap.util.service.spec.ts
  visualization/app/codeCharta/ui/codeMap/codeMap.util.service.ts
  visualization/app/codeCharta/ui/codeMap/rendering/boxGeometryGenerationHelper.ts
  visualization/app/codeCharta/ui/codeMap/rendering/codeMapBuilding.ts
  visualization/app/codeCharta/ui/codeMap/rendering/codeMapMesh.ts
  visualization/app/codeCharta/ui/codeMap/rendering/geometryGenerator.ts
  visualization/app/codeCharta/ui/codeMap/rendering/intermediateVertexData.ts
  visualization/app/codeCharta/ui/codeMap/rendering/node.ts
  visualization/app/codeCharta/ui/codeMap/rendering/renderSettings.ts
  visualization/app/codeCharta/ui/codeMap/rendering/renderingUtil.spec.ts
  visualization/app/codeCharta/ui/codeMap/rendering/renderingUtil.ts
  visualization/app/codeCharta/ui/fileChooser/fileChooserController.ts
  visualization/app/codeCharta/ui/legendPanel/legendPanel.component.html
  visualization/app/codeCharta/ui/legendPanel/legendPanel.component.spec.ts
  visualization/app/codeCharta/ui/legendPanel/legendPanel.component.ts
  visualization/app/codeCharta/ui/mapTreeView/mapTreeView.level.component.html
  visualization/app/codeCharta/ui/mapTreeView/mapTreeView.level.component.spec.ts
  visualization/app/codeCharta/ui/mapTreeView/mapTreeView.level.component.ts
  visualization/app/codeCharta/ui/nodeContextMenu/nodeContextMenu.component.html
  visualization/app/codeCharta/ui/nodeContextMenu/nodeContextMenu.component.spec.ts
  visualization/app/codeCharta/ui/nodeContextMenu/nodeContextMenu.component.ts
  visualization/app/codeCharta/ui/rangeSlider/rangeSlider.component.spec.ts
  visualization/app/codeCharta/ui/rangeSlider/rangeSlider.component.ts
Labels: review, visualization

#395 Bug/metric aggregation top level
  CHANGELOG.md
  visualization/app/codeCharta/core/multipleFile/__snapshots__/multipleFile.service.spec.ts.snap
  visualization/app/codeCharta/core/multipleFile/multipleFile.service.spec.ts
  visualization/app/codeCharta/core/multipleFile/multipleFile.service.ts
Labels: bug, review, visualization

#397 Feature/390/preselect all files in multiple mode
  CHANGELOG.md
  visualization/app/codeCharta/ui/multipleFilePanel/multipleFilePanel.component.spec.ts
  visualization/app/codeCharta/ui/multipleFilePanel/multipleFilePanel.component.ts
  visualization/app/codeCharta/ui/multipleFilePanel/multipleFilePanel.ts
  visualization/app/codeCharta/ui/multipleFilePanel/multipleFilePanelComponent.ts
Labels: review, visualization
