Repository MaibornWolff/codecharta, pull requests merged in 2019-01, with the labels that each got.

#292 Tech/265/add tests detail panel
  visualization/app/codeCharta/ui/detailPanel/detailPanel.component.html
  visualization/app/codeCharta/ui/detailPanel/detailPanel.component.scss
  visualization/app/codeCharta/ui/detailPanel/detailPanel.component.spec.ts
  visualization/app/codeCharta/ui/detailPanel/detailPanel.component.ts
  visualization/app/codeCharta/ui/detailPanel/detailPanel.ts
  visualization/app/codeCharta/ui/detailPanel/detailPanelController.spec.js
Labels: review, tech

#293 Tech/265/refactor scenario buttons filenames
  visualization/app/codeCharta/ui/ribbonBar/logo.png
  visualization/app/codeCharta/ui/scenarioButtons/scenarioButtons.component.html
  visualization/app/codeCharta/ui/scenarioButtons/scenarioButtons.component.spec.ts
  visualization/app/codeCharta/ui/scenarioButtons/scenarioButtons.component.ts
  visualization/app/codeCharta/ui/scenarioButtons/scenarioButtons.ts
  visualization/app/codeCharta/ui/scenarioButtons/scenarioDropDown.component.html
  visualization/app/codeCharta/ui/scenarioButtons/scenarioDropDown.component.scss
Labels: review, tech

#315 Feature/306/277/remove-delta-invert-height
  CHANGELOG.md
  visualization/app/codeCharta/ui/colorSettingsPanel/colorSettingsPanel.component.html
  visualization/app/codeCharta/ui/ribbonBar/ribbonBar.component.html
  visualization/app/codeCharta/ui/ribbonBar/ribbonBar.component.scss
Labels: review, visualization

#319 Feature/318/coloring color slider
  CHANGELOG.md
  visualization/app/codeCharta/ui/rangeSlider/rangeSlider.component.scss
  visualization/app/codeCharta/ui/rangeSlider/rangeSlider.component.spec.ts
  visualization/app/codeCharta/ui/rangeSlider/rangeSlider.component.ts
Labels: review, visualization

#317 Feature/204/show max number in metricchooser
  CHANGELOG.md
  visualization/app/codeCharta/core/data/data.service.spec.ts
  visualization/app/codeCharta/core/data/data.service.ts
  visualization/app/codeCharta/ui/metricChooser/metricChooser.area.component.html
  visualization/app/codeCharta/ui/metricChooser/metricChooser.color.component.html
  visualization/app/codeCharta/ui/metricChooser/metricChooser.component.scss
  visualization/app/codeCharta/ui/metricChooser/metricChooser.component.spec.ts
  visualization/app/codeCharta/ui/metricChooser/metricChooser.component.ts
  visualization/app/codeCharta/ui/metricChooser/metricChooser.height.component.html
Labels: review, visualization

#312 Feature/298/treeview search to add blacklist entry
  CHANGELOG.md
  visualization/app/codeCharta/codeCharta.component.scss
  visualization/app/codeCharta/core/settings/settings.service.ts
  visualization/app/codeCharta/core/treemap/treemap.util.ts
  visualization/app/codeCharta/ui/blacklistPanel/blacklistPanel.component.html
  visualization/app/codeCharta/ui/blacklistPanel/blacklistPanel.component.scss
  visualization/app/codeCharta/ui/blacklistPanel/blacklistPanel.component.spec.ts
  visualization/app/codeCharta/ui/blacklistPanel/blacklistPanel.component.ts
  visualization/app/codeCharta/ui/codeMap/codeMap.actions.service.ts
  visualization/app/codeCharta/ui/mapTreeViewSearch/mapTreeViewSearch.component.html
  visualization/app/codeCharta/ui/mapTreeViewSearch/mapTreeViewSearch.component.scss
  visualization/app/codeCharta/ui/mapTreeViewSearch/mapTreeViewSearch.component.spec.ts
  visualization/app/codeCharta/ui/mapTreeViewSearch/mapTreeViewSearch.component.ts
  visualization/app/codeCharta/ui/mapTreeViewSearch/mapTreeViewSearch.ts
  visualization/app/codeCharta/ui/nodeContextMenu/nodeContextMenu.component.html
  visualization/app/codeCharta/ui/settingsPanel/settingsPanel.html
  visualization/app/codeCharta/ui/settingsPanel/settingsPanel.scss
  visualization/app/codeCharta/ui/settingsPanel/settingsPanel.ts
Labels: review, visualization

#303 Feature/237/301/Set correct labelSize for high distance to map
  CHANGELOG.md
  visualization/app/codeCharta/ui/codeMap/codeMap.arrow.service.spec.ts
  visualization/app/codeCharta/ui/codeMap/codeMap.arrow.service.ts
  visualization/app/codeCharta/ui/codeMap/codeMap.label.service.spec.ts
  visualization/app/codeCharta/ui/codeMap/codeMap.label.service.ts
  visualization/app/codeCharta/ui/codeMap/codeMap.render.service.spec.ts
  visualization/app/codeCharta/ui/codeMap/codeMap.render.service.ts
  visualization/app/codeCharta/ui/codeMap/codeMap.ts
  visualization/app/codeCharta/ui/codeMap/rendering/labelManager.spec.ts
  visualization/app/codeCharta/ui/codeMap/rendering/labelManager.ts
  visualization/app/codeCharta/ui/codeMap/rendering/renderSettings.ts
  visualization/app/codeCharta/ui/codeMap/threeViewer/threeSceneService.ts
Labels: bug, review, tech, visualization

#322 updating dependencies to fix vulnerabilities
  CHANGELOG.md
  visualization/package-lock.json
  visualization/package.json
Labels: review, tech

#296 Tech/203/refactor root to nodes
  visualization/app/codeCharta/core/data/data.decorator.service.spec.ts
  visualization/app/codeCharta/core/data/data.decorator.service.ts
  visualization/app/codeCharta/core/data/data.deltaCalculator.service.spec.ts
  visualization/app/codeCharta/core/data/data.deltaCalculator.service.ts
  visualization/app/codeCharta/core/data/data.loading.service.ts
  visualization/app/codeCharta/core/data/data.mocks.ts
  visualization/app/codeCharta/core/data/data.service.spec.ts
  visualization/app/codeCharta/core/data/data.service.ts
  visualization/app/codeCharta/core/data/data.validator.service.spec.ts
  visualization/app/codeCharta/core/data/model/CodeMap.ts
  visualization/app/codeCharta/core/download/download.service.spec.ts
  visualization/app/codeCharta/core/download/download.service.ts
  visualization/app/codeCharta/core/multipleFile/multipleFile.service.spec.ts
  visualization/app/codeCharta/core/multipleFile/multipleFile.service.ts
  visualization/app/codeCharta/core/settings/settings.service.ts
  visualization/app/codeCharta/core/settings/settings.spec.ts
  visualization/app/codeCharta/core/statistic/statistic.service.spec.ts
  visualization/app/codeCharta/core/statistic/statistic.service.ts
  visualization/app/codeCharta/core/statistic/statisticMapService.spec.js
  visualization/app/codeCharta/core/treemap/treemap.service.ts
  visualization/app/codeCharta/core/url/url.mocks.ts
  visualization/app/codeCharta/ui/blacklistPanel/blacklistPanel.component.spec.ts
  visualization/app/codeCharta/ui/codeMap/codeMap.actions.service.spec.ts
  visualization/app/codeCharta/ui/codeMap/codeMap.actions.service.ts
  visualization/app/codeCharta/ui/codeMap/codeMap.render.service.spec.ts
  visualization/app/codeCharta/ui/codeMap/codeMap.render.service.ts
  visualization/app/codeCharta/ui/codeMap/codeMap.util.service.spec.ts
  visualization/app/codeCharta/ui/codeMap/codeMap.util.service.ts
  visualization/app/codeCharta/ui/legendPanel/legendPanel.component.spec.ts
  visualization/app/codeCharta/ui/legendPanel/legendPanel.component.ts
  visualization/app/codeCharta/ui/mapTreeView/mapTreeView.component.ts
  visualization/app/codeCharta/ui/mapTreeView/mapTreeView.level.component.spec.ts
  visualization/app/codeCharta/ui/mapTreeViewSearch/mapTreeViewSearch.component.spec.ts
  visualization/app/codeCharta/ui/mapTreeViewSearch/mapTreeViewSearch.component.ts
  visualization/app/codeCharta/ui/ribbonBar/ribbonBar.component.ts
Labels: review, tech
