Repository MaibornWolff/codecharta, pull requests merged in 2019-11, with the labels that each got.

#764 Tech/refactor hovered event
  visualization/app/codeCharta/ui/codeMap/codeMap.arrow.service.spec.ts
  visualization/app/codeCharta/ui/codeMap/codeMap.arrow.service.ts
  visualization/app/codeCharta/ui/codeMap/codeMap.mouseEvent.service.spec.ts
  visualization/app/codeCharta/ui/codeMap/codeMap.mouseEvent.service.ts
  visualization/app/codeCharta/ui/edgeChooser/edgeChooser.component.spec.ts
  visualization/app/codeCharta/ui/edgeChooser/edgeChooser.component.ts
  visualization/app/codeCharta/ui/mapTreeView/mapTreeView.level.component.spec.ts
  visualization/app/codeCharta/ui/mapTreeView/mapTreeView.level.component.ts
  visualization/app/codeCharta/ui/metricChooser/metricChooser.component.spec.ts
  visualization/app/codeCharta/ui/metricChooser/metricChooser.component.ts
  visualization/app/codeCharta/ui/metricType/metricType.component.spec.ts
  visualization/app/codeCharta/ui/metricType/metricType.component.ts
  visualization/app/codeCharta/ui/nodePathPanel/nodePathPanel.component.spec.ts
  visualization/app/codeCharta/ui/nodePathPanel/nodePathPanel.component.ts
Labels: pr-visualization, tech

#759 Feature/607/move path panel
  CHANGELOG.md
  visualization/app/codeCharta/codeCharta.component.html
  visualization/app/codeCharta/ui/nodePathPanel/nodePathPanel.component.html
  visualization/app/codeCharta/ui/nodePathPanel/nodePathPanel.component.scss
  visualization/app/codeCharta/ui/nodePathPanel/nodePathPanel.component.spec.ts
  visualization/app/codeCharta/ui/nodePathPanel/nodePathPanel.component.ts
  visualization/app/codeCharta/ui/toolBar/toolBar.component.html
  visualization/app/codeCharta/ui/toolBar/toolBar.component.scss
  visualization/app/codeCharta/ui/toolBar/toolBar.component.spec.ts
  visualization/app/codeCharta/ui/toolBar/toolBar.component.ts
Labels: pr-visualization

#760 Feature/622/temporal coupling scm parser
  CHANGELOG.md
  analysis/import/SCMLogParser/README.md
  analysis/import/SCMLogParser/src/main/kotlin/de/maibornwolff/codecharta/importer/scmlogparser/SCMLogParser.kt
  analysis/import/SCMLogParser/src/main/kotlin/de/maibornwolff/codecharta/importer/scmlogparser/converter/ProjectConverter.kt
  analysis/import/SCMLogParser/src/main/kotlin/de/maibornwolff/codecharta/importer/scmlogparser/input/VersionControlledFile.kt
  analysis/import/SCMLogParser/src/main/kotlin/de/maibornwolff/codecharta/importer/scmlogparser/input/metrics/HighlyCoupledFiles.kt
  analysis/import/SCMLogParser/src/main/kotlin/de/maibornwolff/codecharta/importer/scmlogparser/input/metrics/Metric.kt
  analysis/import/SCMLogParser/src/test/kotlin/de/maibornwolff/codecharta/importer/scmlogparser/converter/ProjectConverterTest.kt
  analysis/import/SCMLogParser/src/test/kotlin/de/maibornwolff/codecharta/importer/scmlogparser/input/metrics/HighlyCoupledFilesTest.kt
  analysis/model/src/main/kotlin/de/maibornwolff/codecharta/model/Edge.kt
Labels: pr-analysis

#770 Bug/679/too many attributs in downloads
  CHANGELOG.md
  visualization/app/codeCharta/util/dataMocks.ts
  visualization/app/codeCharta/util/fileDownloader.spec.ts
  visualization/app/codeCharta/util/fileDownloader.ts
Labels: bug, pr-visualization

#776 Bug/775/sum symbol shows for leafs
  CHANGELOG.md
  visualization/app/codeCharta/ui/metricType/metricType.component.spec.ts
  visualization/app/codeCharta/ui/metricType/metricType.component.ts
Labels: bug, pr-visualization

#778 Tech/777/refactor map size usage
  visualization/app/codeCharta/state/settingsService/__snapshots__/settings.service.spec.ts.snap
  visualization/app/codeCharta/state/settingsService/settings.service.ts
  visualization/app/codeCharta/ui/codeMap/codeMap.label.service.ts
  visualization/app/codeCharta/ui/codeMap/codeMap.render.service.spec.ts
  visualization/app/codeCharta/ui/codeMap/rendering/codeMapBuilding.spec.ts
  visualization/app/codeCharta/ui/codeMap/rendering/codeMapBuilding.ts
  visualization/app/codeCharta/ui/codeMap/rendering/codeMapGeometricDescription.ts
  visualization/app/codeCharta/ui/codeMap/threeViewer/threeSceneService.ts
  visualization/app/codeCharta/util/__snapshots__/treeMapHelper.spec.ts.snap
  visualization/app/codeCharta/util/dataMocks.ts
  visualization/app/codeCharta/util/treeMapGenerator.ts
  visualization/app/codeCharta/util/treeMapHelper.ts
Labels: pr-visualization, tech

#774 Feature/696/redesign metric values
  CHANGELOG.md
  visualization/app/codeCharta/ui/edgeChooser/edgeChooser.component.html
  visualization/app/codeCharta/ui/edgeChooser/edgeChooser.component.scss
  visualization/app/codeCharta/ui/metricChooser/metricChooser.area.component.html
  visualization/app/codeCharta/ui/metricChooser/metricChooser.color.component.html
  visualization/app/codeCharta/ui/metricChooser/metricChooser.component.scss
  visualization/app/codeCharta/ui/metricChooser/metricChooser.component.spec.ts
  visualization/app/codeCharta/ui/metricChooser/metricChooser.component.ts
  visualization/app/codeCharta/ui/metricChooser/metricChooser.height.component.html
  visualization/app/codeCharta/ui/metricType/metricType.component.scss
  visualization/app/codeCharta/ui/rangeSlider/rangeSlider.component.scss
  visualization/app/codeCharta/ui/ribbonBar/ribbonBar.component.scss
  visualization/app/codeCharta/ui/ribbonBar/ribbonBar.e2e.ts
Labels: pr-visualization

#793 Tech/791/remove origin attribute
  visualization/app/codeCharta/codeCharta.model.ts
  visualization/app/codeCharta/ui/attributeSideBar/attributeSideBar.component.html
  visualization/app/codeCharta/ui/attributeSideBar/attributeSideBar.component.spec.ts
  visualization/app/codeCharta/ui/attributeSideBar/attributeSideBar.component.ts
  visualization/app/codeCharta/ui/codeMap/__snapshots__/codeMap.render.service.spec.ts.snap
  visualization/app/codeCharta/util/__snapshots__/aggregationGenerator.spec.ts.snap
  visualization/app/codeCharta/util/__snapshots__/treeMapGenerator.spec.ts.snap
  visualization/app/codeCharta/util/__snapshots__/treeMapHelper.spec.ts.snap
  visualization/app/codeCharta/util/aggregationGenerator.ts
  visualization/app/codeCharta/util/dataMocks.ts
  visualization/app/codeCharta/util/fileDownloader.ts
  visualization/app/codeCharta/util/nodeDecorator.spec.ts
  visualization/app/codeCharta/util/nodeDecorator.ts
  visualization/app/codeCharta/util/treeMapGenerator.spec.ts
  visualization/app/codeCharta/util/treeMapHelper.ts
Labels: pr-visualization, tech

#795 Tech/794/exclude-test-files-for-test-coverage
  visualization/package.json
  visualization/sonar-project.properties
Labels: pr-visualization, tech

#796 Tech/extract components from toolbar
  visualization/app/codeCharta/ui/downloadButton/downloadButton.component.html
  visualization/app/codeCharta/ui/downloadButton/downloadButton.component.scss
  visualization/app/codeCharta/ui/downloadButton/downloadButton.component.spec.ts
  visualization/app/codeCharta/ui/downloadButton/downloadButton.component.ts
  visualization/app/codeCharta/ui/downloadButton/downloadButton.module.ts
  visualization/app/codeCharta/ui/fileChooser/fileChooser.component.html
  visualization/app/codeCharta/ui/globalSettingsButton/globalSettingsButton.component.html
  visualization/app/codeCharta/ui/globalSettingsButton/globalSettingsButton.component.scss
  visualization/app/codeCharta/ui/globalSettingsButton/globalSettingsButton.component.spec.ts
  visualization/app/codeCharta/ui/globalSettingsButton/globalSettingsButton.component.ts
  visualization/app/codeCharta/ui/globalSettingsButton/globalSettingsButton.module.ts
  visualization/app/codeCharta/ui/toolBar/toolBar.component.html
  visualization/app/codeCharta/ui/toolBar/toolBar.component.scss
  visualization/app/codeCharta/ui/toolBar/toolBar.component.spec.ts
  visualization/app/codeCharta/ui/toolBar/toolBar.component.ts
  visualization/app/codeCharta/ui/ui.ts
Labels: pr-visualization, tech

#797 Tech/split metric chooser component
  visualization/app/codeCharta/ui/edgeChooser/edgeChooser.component.scss
  visualization/app/codeCharta/ui/metricChooser/metricChooser.area.component.html
  visualization/app/codeCharta/ui/metricChooser/metricChooser.color.component.html
  visualization/app/codeCharta/ui/metricChooser/metricChooser.component.scss
  visualization/app/codeCharta/ui/metricChooser/metricChooser.component.spec.ts
  visualization/app/codeCharta/ui/metricChooser/metricChooser.component.ts
  visualization/app/codeCharta/ui/metricChooser/metricChooser.height.component.html
  visualization/app/codeCharta/ui/metricValueHovered/metricValueHovered.area.component.html
  visualization/app/codeCharta/ui/metricValueHovered/metricValueHovered.color.component.html
  visualization/app/codeCharta/ui/metricValueHovered/metricValueHovered.component.scss
  visualization/app/codeCharta/ui/metricValueHovered/metricValueHovered.component.spec.ts
  visualization/app/codeCharta/ui/metricValueHovered/metricValueHovered.component.ts
  visualization/app/codeCharta/ui/metricValueHovered/metricValueHovered.height.component.html
  visualization/app/codeCharta/ui/metricValueHovered/metricValueHovered.module.ts
  visualization/app/codeCharta/ui/ui.ts
Labels: pr-visualization, tech

#784 Feature/691/redesign blacklist panel
  CHANGELOG.md
  visualization/app/codeCharta/codeCharta.component.scss
  visualization/app/codeCharta/codeCharta.model.ts
  visualization/app/codeCharta/codeCharta.service.spec.ts
  visualization/app/codeCharta/codeCharta.service.ts
  visualization/app/codeCharta/state/settingsService/__snapshots__/settings.service.spec.ts.snap
  visualization/app/codeCharta/state/settingsService/settings.service.ts
  visualization/app/codeCharta/ui/blacklistPanel/blacklistPanel.component.html
  visualization/app/codeCharta/ui/blacklistPanel/blacklistPanel.component.scss
  visualization/app/codeCharta/ui/blacklistPanel/blacklistPanel.component.spec.ts
  visualization/app/codeCharta/ui/blacklistPanel/blacklistPanel.component.ts
  visualization/app/codeCharta/ui/blacklistPanel/blacklistPanel.exclude.component.html
  visualization/app/codeCharta/ui/blacklistPanel/blacklistPanel.flatten.component.html
  visualization/app/codeCharta/ui/blacklistPanel/blacklistPanel.module.ts
  visualization/app/codeCharta/ui/codeMap/codeMap.actions.service.spec.ts
  visualization/app/codeCharta/ui/codeMap/codeMap.actions.service.ts
  visualization/app/codeCharta/ui/codeMap/codeMap.mouseEvent.service.spec.ts
  visualization/app/codeCharta/ui/dialog/dialog.download.component.spec.ts
  visualization/app/codeCharta/ui/dialog/dialog.download.component.ts
  visualization/app/codeCharta/ui/matchingFilesCounter/matchingFilesCounter.component.html
  visualization/app/codeCharta/ui/matchingFilesCounter/matchingFilesCounter.component.spec.ts
  visualization/app/codeCharta/ui/matchingFilesCounter/matchingFilesCounter.component.ts
  visualization/app/codeCharta/ui/nodeContextMenu/nodeContextMenu.component.html
  visualization/app/codeCharta/ui/nodeContextMenu/nodeContextMenu.component.spec.ts
  visualization/app/codeCharta/ui/nodeContextMenu/nodeContextMenu.component.ts
  visualization/app/codeCharta/ui/searchBar/searchBar.component.html
  visualization/app/codeCharta/ui/searchBar/searchBar.component.spec.ts
  visualization/app/codeCharta/ui/searchBar/searchBar.component.ts
  visualization/app/codeCharta/ui/searchPanel/searchPanel.component.html
  visualization/app/codeCharta/ui/searchPanel/searchPanel.component.spec.ts
  visualization/app/codeCharta/ui/searchPanelModeSelector/searchPanelModeSelector.component.html
  visualization/app/codeCharta/ui/searchPanelModeSelector/searchPanelModeSelector.component.spec.ts
  visualization/app/codeCharta/ui/searchPanelModeSelector/searchPanelModeSelector.component.ts
  visualization/app/codeCharta/util/__snapshots__/settingsMerger.spec.ts.snap
  visualization/app/codeCharta/util/codeMapHelper.spec.ts
  visualization/app/codeCharta/util/codeMapHelper.ts
  visualization/app/codeCharta/util/dataMocks.ts
  visualization/app/codeCharta/util/fileDownloader.spec.ts
  visualization/app/codeCharta/util/fileDownloader.ts
  visualization/app/codeCharta/util/fileExtensionCalculator.spec.ts
  visualization/app/codeCharta/util/settingsMerger.spec.ts
  visualization/app/codeCharta/util/treeMapGenerator.ts
  visualization/app/codeCharta/util/treeMapHelper.spec.ts
  visualization/app/codeCharta/util/treeMapHelper.ts
Labels: pr-visualization

#803 Tech/698/redux-blacklist-ispresentationmode
  visualization/app/codeCharta/codeCharta.component.spec.ts
  visualization/app/codeCharta/codeCharta.component.ts
  visualization/app/codeCharta/codeCharta.model.ts
  visualization/app/codeCharta/state/edgeMetric.service.spec.ts
  visualization/app/codeCharta/state/edgeMetric.service.ts
  visualization/app/codeCharta/state/injector.service.spec.ts
  visualization/app/codeCharta/state/injector.service.ts
  visualization/app/codeCharta/state/metric.service.spec.ts
  visualization/app/codeCharta/state/metric.service.ts
  visualization/app/codeCharta/state/state.module.ts
  visualization/app/codeCharta/state/store.service.spec.ts
  visualization/app/codeCharta/state/store.service.ts
  visualization/app/codeCharta/state/store/appSettings/appSettings.reducer.ts
  visualization/app/codeCharta/state/store/appSettings/isPresentationMode/isPresentationMode.actions.ts
  visualization/app/codeCharta/state/store/appSettings/isPresentationMode/isPresentationMode.reducer.spec.ts
  visualization/app/codeCharta/state/store/appSettings/isPresentationMode/isPresentationMode.reducer.ts
  visualization/app/codeCharta/state/store/appSettings/isPresentationMode/isPresentationMode.service.spec.ts
  visualization/app/codeCharta/state/store/appSettings/isPresentationMode/isPresentationMode.service.ts
  visualization/app/codeCharta/state/store/fileSettings/blacklist/blacklist.actions.ts
  visualization/app/codeCharta/state/store/fileSettings/blacklist/blacklist.reducer.spec.ts
  visualization/app/codeCharta/state/store/fileSettings/blacklist/blacklist.reducer.ts
  visualization/app/codeCharta/state/store/fileSettings/blacklist/blacklist.service.spec.ts
  visualization/app/codeCharta/state/store/fileSettings/blacklist/blacklist.service.ts
  visualization/app/codeCharta/state/store/fileSettings/fileSettings.reducer.ts
  visualization/app/codeCharta/state/store/initialState.ts
  visualization/app/codeCharta/state/store/reducer.ts
  visualization/app/codeCharta/ui/blacklistPanel/blacklistPanel.component.ts
  visualization/app/codeCharta/ui/codeMap/codeMap.actions.service.spec.ts
  visualization/app/codeCharta/ui/codeMap/codeMap.actions.service.ts
  visualization/app/codeCharta/ui/codeMap/codeMap.mouseEvent.service.ts
  visualization/app/codeCharta/ui/codeMap/codeMap.preRender.service.spec.ts
  visualization/app/codeCharta/ui/codeMap/codeMap.preRender.service.ts
  visualization/app/codeCharta/ui/codeMap/threeViewer/threeSceneService.spec.ts
  visualization/app/codeCharta/ui/codeMap/threeViewer/threeSceneService.ts
  visualization/app/codeCharta/ui/fileExtensionBar/fileExtensionBar.component.spec.ts
  visualization/app/codeCharta/ui/fileExtensionBar/fileExtensionBar.component.ts
  visualization/app/codeCharta/ui/mapTreeView/mapTreeView.level.component.spec.ts
  visualization/app/codeCharta/ui/mapTreeView/mapTreeView.level.component.ts
  visualization/app/codeCharta/ui/matchingFilesCounter/matchingFilesCounter.component.spec.ts
  visualization/app/codeCharta/ui/matchingFilesCounter/matchingFilesCounter.component.ts
  visualization/app/codeCharta/ui/nodePathPanel/nodePathPanel.component.ts
  visualization/app/codeCharta/ui/presentationModeButton/presentationModeButton.component.spec.ts
  visualization/app/codeCharta/ui/presentationModeButton/presentationModeButton.component.ts
  visualization/app/codeCharta/ui/searchBar/searchBar.component.spec.ts
  visualization/app/codeCharta/ui/searchBar/searchBar.component.ts
  visualization/app/codeCharta/ui/searchPanelModeSelector/searchPanelModeSelector.component.spec.ts
  visualization/app/codeCharta/ui/searchPanelModeSelector/searchPanelModeSelector.component.ts
  visualization/app/codeCharta/ui/viewCube/viewCube.component.ts
  visualization/package-lock.json
  visualization/package.json
Labels: pr-visualization

#799 Feature/380/foldersize in treeview
  CHANGELOG.md
  visualization/app/codeCharta/ui/mapTreeView/mapTreeView.component.scss
  visualization/app/codeCharta/ui/mapTreeView/mapTreeView.level.component.html
  visualization/app/codeCharta/ui/mapTreeView/mapTreeView.level.component.spec.ts
  visualization/app/codeCharta/ui/mapTreeView/mapTreeView.level.component.ts
  visualization/app/codeCharta/util/dataMocks.ts
Labels: pr-visualization

#806 Tech/plop-redux-generator
  visualization/app/codeCharta/state/injector.service.ts
  visualization/app/codeCharta/state/store/appSettings/appSettings.reducer.ts
  visualization/app/codeCharta/state/store/dynamicSettings/dynamicSettings.reducer.ts
  visualization/app/codeCharta/state/store/fileSettings/fileSettings.reducer.ts
  visualization/app/codeCharta/state/store/reducer.ts
  visualization/plop-templates/redux/actions.ts.hbs
  visualization/plop-templates/redux/injector.spec.ts.hbs
  visualization/plop-templates/redux/reducer.spec.ts.hbs
  visualization/plop-templates/redux/reducer.ts.hbs
  visualization/plop-templates/redux/service.spec.ts.hbs
  visualization/plop-templates/redux/service.ts.hbs
  visualization/plop-templates/state/service.spec.ts.hbs
  visualization/plop-templates/state/service.ts.hbs
  visualization/plop-templates/ui/component.html.hbs
  visualization/plop-templates/ui/component.scss.hbs
  visualization/plop-templates/ui/component.spec.ts.hbs
  visualization/plop-templates/ui/component.ts.hbs
  visualization/plop-templates/ui/e2e.ts.hbs
  visualization/plop-templates/ui/po.ts.hbs
  visualization/plop-templates/ui/ui.module.ts.hbs
  visualization/plop-templates/util/util.spec.ts.hbs
  visualization/plop-templates/util/util.ts.hbs
  visualization/plopfile.js
Labels: tech
