Repository MaibornWolff/codecharta, pull requests merged in 2019-06, with the labels that each got.

#561 Fix set default colorRange onClickResetButton #560
  CHANGELOG.md
  visualization/app/codeCharta/ui/colorSettingsPanel/colorSettingsPanel.component.html
Labels: bug, visualization

#559 Feature/495/file extension bar
  CHANGELOG.md
  screenshot.png
  visualization/app/codeCharta/codeCharta.component.scss
  visualization/app/codeCharta/codeCharta.model.ts
  visualization/app/codeCharta/e2e/logo.e2e.ts
  visualization/app/codeCharta/state/__snapshots__/settings.service.spec.ts.snap
  visualization/app/codeCharta/state/settings.service.ts
  visualization/app/codeCharta/ui/fileExtensionBar/fileExtensionBar.component.html
  visualization/app/codeCharta/ui/fileExtensionBar/fileExtensionBar.component.scss
  visualization/app/codeCharta/ui/fileExtensionBar/fileExtensionBar.component.spec.ts
  visualization/app/codeCharta/ui/fileExtensionBar/fileExtensionBar.component.ts
  visualization/app/codeCharta/ui/fileExtensionBar/fileExtensionBar.module.ts
  visualization/app/codeCharta/ui/legendPanel/legendPanel.component.scss
  visualization/app/codeCharta/ui/metricChooser/metricChooser.component.scss
  visualization/app/codeCharta/ui/metricChooser/metricChooser.component.spec.ts
  visualization/app/codeCharta/ui/metricChooser/metricChooser.component.ts
  visualization/app/codeCharta/ui/metricChooser/metricChooser.distribution.component.html
  visualization/app/codeCharta/ui/metricChooser/metricChooser.module.ts
  visualization/app/codeCharta/ui/ribbonBar/ribbonBar.component.html
  visualization/app/codeCharta/ui/ribbonBar/ribbonBar.component.scss
  visualization/app/codeCharta/ui/ui.ts
  visualization/app/codeCharta/ui/viewCube/viewCube.component.scss
  visualization/app/codeCharta/util/dataMocks.ts
  visualization/app/codeCharta/util/fileExtensionCalculator.spec.ts
  visualization/app/codeCharta/util/fileExtensionCalculator.ts
Labels: visualization

#549 display sigma letter next to metric values
  CHANGELOG.md
  TECHNICAL_DEBT.md
  visualization/app/codeCharta/codeCharta.model.ts
  visualization/app/codeCharta/codeCharta.service.spec.ts
  visualization/app/codeCharta/codeCharta.service.ts
  visualization/app/codeCharta/state/__snapshots__/settings.service.spec.ts.snap
  visualization/app/codeCharta/state/metric.service.spec.ts
  visualization/app/codeCharta/state/metric.service.ts
  visualization/app/codeCharta/state/settings.service.spec.ts
  visualization/app/codeCharta/state/settings.service.ts
  visualization/app/codeCharta/ui/colorSettingsPanel/colorSettingsPanel.component.html
  visualization/app/codeCharta/ui/fileExtensionBar/fileExtensionBar.component.html
  visualization/app/codeCharta/ui/legendPanel/legendPanel.component.scss
  visualization/app/codeCharta/ui/metricChooser/metricChooser.area.component.html
  visualization/app/codeCharta/ui/metricChooser/metricChooser.color.component.html
  visualization/app/codeCharta/ui/metricChooser/metricChooser.component.scss
  visualization/app/codeCharta/ui/metricChooser/metricChooser.height.component.html
  visualization/app/codeCharta/ui/metricType/areaMetricType.component.html
  visualization/app/codeCharta/ui/metricType/colorMetricType.component.html
  visualization/app/codeCharta/ui/metricType/heightMetricType.component.html
  visualization/app/codeCharta/ui/metricType/metricType.component.scss
  visualization/app/codeCharta/ui/metricType/metricType.component.spec.ts
  visualization/app/codeCharta/ui/metricType/metricType.component.ts
  visualization/app/codeCharta/ui/metricType/metricType.module.ts
  visualization/app/codeCharta/ui/revisionChooser/revisionChooserFileDropDown.component.html
  visualization/app/codeCharta/ui/ribbonBar/ribbonBar.e2e.ts
  visualization/app/codeCharta/ui/ribbonBar/ribbonBar.po.ts
  visualization/app/codeCharta/ui/ui.ts
  visualization/app/codeCharta/ui/viewCube/viewCube.component.scss
  visualization/app/codeCharta/util/__snapshots__/aggregationGenerator.spec.ts.snap
  visualization/app/codeCharta/util/__snapshots__/fileDownloader.spec.ts.snap
  visualization/app/codeCharta/util/__snapshots__/settingsMerger.spec.ts.snap
  visualization/app/codeCharta/util/aggregationGenerator.spec.ts
  visualization/app/codeCharta/util/aggregationGenerator.ts
  visualization/app/codeCharta/util/dataMocks.ts
  visualization/app/codeCharta/util/deltaGenerator.ts
  visualization/app/codeCharta/util/fileDownloader.spec.ts
  visualization/app/codeCharta/util/fileDownloader.ts
  visualization/app/codeCharta/util/settingsMerger.spec.ts
  visualization/app/codeCharta/util/settingsMerger.ts
Labels: visualization

#555 Feature/523/download dialog
  CHANGELOG.md
  visualization/app/codeCharta/codeCharta.model.ts
  visualization/app/codeCharta/codeCharta.service.ts
  visualization/app/codeCharta/e2e/url.e2e.ts
  visualization/app/codeCharta/state/fileState.service.ts
  visualization/app/codeCharta/ui/codeMap/codeMap.preRender.service.ts
  visualization/app/codeCharta/ui/dialog/dialog.component.scss
  visualization/app/codeCharta/ui/dialog/dialog.download.component.html
  visualization/app/codeCharta/ui/dialog/dialog.download.component.ts
  visualization/app/codeCharta/ui/dialog/dialog.error.po.ts
  visualization/app/codeCharta/ui/dialog/dialog.module.ts
  visualization/app/codeCharta/ui/dialog/dialog.service.ts
  visualization/app/codeCharta/ui/dialog/dialog.urlParameter.component.html
  visualization/app/codeCharta/ui/dialog/dialog.urlParameter.component.ts
  visualization/app/codeCharta/ui/dialog/queryParam.dialog.ts
  visualization/app/codeCharta/ui/ribbonBar/ribbonBar.component.ts
  visualization/app/codeCharta/util/__snapshots__/aggregationGenerator.spec.ts.snap
  visualization/app/codeCharta/util/__snapshots__/settingsMerger.spec.ts.snap
  visualization/app/codeCharta/util/aggregationGenerator.ts
  visualization/app/codeCharta/util/dataMocks.ts
  visualization/app/codeCharta/util/deltaGenerator.ts
  visualization/app/codeCharta/util/fileDownloader.spec.ts
  visualization/app/codeCharta/util/fileDownloader.ts
  visualization/app/codeCharta/util/fileNameHelper.spec.ts
  visualization/app/codeCharta/util/fileNameHelper.ts
  visualization/app/codeCharta/util/fileStateHelper.spec.ts
  visualization/app/codeCharta/util/fileStateHelper.ts
  visualization/app/codeCharta/util/settingsMerger.spec.ts
  visualization/app/codeCharta/util/settingsMerger.ts
  visualization/app/codeCharta/util/treeMapGenerator.ts
  visualization/package-lock.json
Labels: visualization

#563 Tech/fix sonar bugs
  visualization/app/codeCharta/ui/codeMap/codeMap.render.service.ts
  visualization/app/codeCharta/ui/codeMap/rendering/geometryGenerator.ts
  visualization/app/codeCharta/ui/legendPanel/legendPanel.component.html
  visualization/app/codeCharta/ui/viewCube/viewCube.component.ts
  visualization/app/codeCharta/ui/viewCube/viewCube.mouseEvents.service.ts
  visualization/app/codeCharta/util/codeMapHelper.ts
  visualization/app/codeCharta/util/settingsMerger.ts
Labels: tech

#566 Tech/refactor render data interface
  visualization/app/codeCharta/state/settings.service.spec.ts
  visualization/app/codeCharta/ui/areaSettingsPanel/areaSettingsPanel.component.spec.ts
  visualization/app/codeCharta/ui/areaSettingsPanel/areaSettingsPanel.component.ts
  visualization/app/codeCharta/ui/codeMap/codeMap.preRender.service.spec.ts
  visualization/app/codeCharta/ui/codeMap/codeMap.preRender.service.ts
  visualization/app/codeCharta/ui/dialog/dialog.component.scss
  visualization/app/codeCharta/ui/dialog/dialog.download.component.html
  visualization/app/codeCharta/ui/dialog/dialog.download.component.ts
  visualization/app/codeCharta/ui/fileExtensionBar/fileExtensionBar.component.spec.ts
  visualization/app/codeCharta/ui/fileExtensionBar/fileExtensionBar.component.ts
  visualization/app/codeCharta/ui/mapTreeView/mapTreeView.component.ts
  visualization/app/codeCharta/ui/mapTreeViewSearch/mapTreeViewSearch.component.ts
  visualization/app/codeCharta/ui/nodeContextMenu/nodeContextMenu.component.spec.ts
  visualization/app/codeCharta/ui/nodeContextMenu/nodeContextMenu.component.ts
  visualization/app/codeCharta/util/__snapshots__/fileDownloader.spec.ts.snap
  visualization/app/codeCharta/util/fileDownloader.spec.ts
  visualization/app/codeCharta/util/fileDownloader.ts
  visualization/package.json
Labels: tech

#568 Fix/sigma icon not displayed
  analysis/filter/EdgeFilter/src/main/kotlin/de/maibornwolff/codecharta/filter/edgefilter/EdgeProjectBuilder.kt
  analysis/filter/EdgeFilter/src/test/kotlin/de/maibornwolff/codecharta/filter/edgefilter/ProjectMergerTest.kt
  visualization/app/codeCharta/assets/sample1.cc.json
  visualization/app/codeCharta/codeCharta.model.ts
  visualization/app/codeCharta/state/metric.service.spec.ts
  visualization/app/codeCharta/state/metric.service.ts
  visualization/app/codeCharta/state/settings.service.spec.ts
  visualization/app/codeCharta/ui/metricChooser/metricChooser.area.component.html
  visualization/app/codeCharta/ui/metricChooser/metricChooser.color.component.html
  visualization/app/codeCharta/ui/metricChooser/metricChooser.height.component.html
  visualization/app/codeCharta/ui/metricType/metricType.component.spec.ts
  visualization/app/codeCharta/ui/metricType/metricType.component.ts
  visualization/app/codeCharta/util/dataMocks.ts
  visualization/app/codeCharta/util/settingsMerger.spec.ts
  visualization/app/codeCharta/util/settingsMerger.ts
Labels: bug, visualization

#570 Fixed issue with Timezones in fileNameHelper specs
  visualization/app/codeCharta/util/fileNameHelper.spec.ts
Labels: tech

#581 Feature/525/move file settings
  CHANGELOG.md
  visualization/app/codeCharta/codeCharta.component.html
  visualization/app/codeCharta/e2e/url.e2e.ts
  visualization/app/codeCharta/ui/filePanel/filePanel.component.html
  visualization/app/codeCharta/ui/filePanel/filePanel.component.scss
  visualization/app/codeCharta/ui/filePanel/filePanel.component.spec.ts
  visualization/app/codeCharta/ui/filePanel/filePanel.component.ts
  visualization/app/codeCharta/ui/filePanel/filePanel.module.ts
  visualization/app/codeCharta/ui/filePanel/filePanel.po.ts
  visualization/app/codeCharta/ui/legendPanel/legendPanel.component.scss
  visualization/app/codeCharta/ui/revisionChooser/revisionChooser.component.html
  visualization/app/codeCharta/ui/revisionChooser/revisionChooser.component.scss
  visualization/app/codeCharta/ui/revisionChooser/revisionChooser.module.ts
  visualization/app/codeCharta/ui/revisionChooser/revisionChooser.po.ts
  visualization/app/codeCharta/ui/revisionChooser/revisionChooserFileDropDown.component.html
  visualization/app/codeCharta/ui/revisionChooser/revisionChooserFileDropDown.component.scss
  visualization/app/codeCharta/ui/ribbonBar/ribbonBar.component.html
  visualization/app/codeCharta/ui/ribbonBar/ribbonBar.component.scss
  visualization/app/codeCharta/ui/ribbonBar/ribbonBar.component.ts
  visualization/app/codeCharta/ui/scenarioDropDown/scenarioDropDown.component.scss
  visualization/app/codeCharta/ui/sidenav/sidenav.component.scss
  visualization/app/codeCharta/ui/ui.ts
  visualization/app/codeCharta/ui/viewCube/viewCube.component.scss
  visualization/app/codeCharta/util/treeMapGenerator.spec.ts
Labels: visualization

#588 Feature/587/Rename-sample-file-nodes
  CHANGELOG.md
  visualization/app/codeCharta/assets/sample1.cc.json
  visualization/app/codeCharta/assets/sample2.cc.json
  visualization/app/codeCharta/assets/sample3.cc.json
Labels: visualization

#593 Bug/adapt-sample-edges-to-new-node-names
  visualization/app/codeCharta/assets/sample1.cc.json
Labels: bug, visualization

#591 Bug/345/hide-white-building-checkbox-for-delta
  CHANGELOG.md
  visualization/app/codeCharta/ui/colorSettingsPanel/colorSettingsPanel.component.html
Labels: bug, visualization

#592 Feature/589/remove url parameter button
  CHANGELOG.md
  visualization/README.md
  visualization/app/codeCharta/ui/dialog/dialog.service.ts
  visualization/app/codeCharta/ui/dialog/dialog.urlParameter.component.html
  visualization/app/codeCharta/ui/dialog/dialog.urlParameter.component.ts
  visualization/app/codeCharta/ui/sidenav/sidenav.component.html
  visualization/app/codeCharta/ui/sidenav/sidenav.component.ts
Labels: documentation, visualization

#572 release script now executable from root folder
  script/make_release.sh
Labels: tech

#601 bug/579/select-unary-after-loading-new-file
  CHANGELOG.md
  visualization/app/codeCharta/state/metric.service.spec.ts
  visualization/app/codeCharta/state/metric.service.ts
Labels: bug, visualization

#605 bug/602/margin-null-after-area-metric-change
  CHANGELOG.md
  visualization/app/codeCharta/ui/metricChooser/metricChooser.component.spec.ts
  visualization/app/codeCharta/ui/metricChooser/metricChooser.component.ts
Labels: bug, visualization

#567 Feature/547/reliability merge filter, StrucureModifier
  CHANGELOG.md
  analysis/README.md
  analysis/filter/MergeFilter/README.md
  analysis/filter/MergeFilter/src/main/kotlin/de/maibornwolff/codecharta/filter/mergefilter/LeafNodeMergerStrategy.kt
  analysis/filter/MergeFilter/src/main/kotlin/de/maibornwolff/codecharta/filter/mergefilter/NodeMergerStrategy.kt
  analysis/filter/MergeFilter/src/main/kotlin/de/maibornwolff/codecharta/filter/mergefilter/ProjectMerger.kt
  analysis/filter/MergeFilter/src/main/kotlin/de/maibornwolff/codecharta/filter/mergefilter/RecursiveNodeMergerStrategy.kt
  analysis/filter/MergeFilter/src/test/kotlin/de/maibornwolff/codecharta/filter/mergefilter/ProjectMergerTest.kt
  analysis/filter/StructureModifier/README.md
  analysis/filter/StructureModifier/build.gradle
  analysis/filter/StructureModifier/src/main/kotlin/de/maibornwolff/codecharta/filter/structuremodifier/FolderMover.kt
  analysis/filter/StructureModifier/src/main/kotlin/de/maibornwolff/codecharta/filter/structuremodifier/NodeRemover.kt
  analysis/filter/StructureModifier/src/main/kotlin/de/maibornwolff/codecharta/filter/structuremodifier/PipedInputScanner.kt
  analysis/filter/StructureModifier/src/main/kotlin/de/maibornwolff/codecharta/filter/structuremodifier/ProjectStructurePrinter.kt
  analysis/filter/StructureModifier/src/main/kotlin/de/maibornwolff/codecharta/filter/structuremodifier/StructureModifier.kt
  analysis/filter/StructureModifier/src/main/kotlin/de/maibornwolff/codecharta/filter/structuremodifier/SubProjectExtractor.kt
  analysis/filter/StructureModifier/src/test/kotlin/de/maibornwolff/codecharta/filter/structuremodifier/FolderMoverTest.kt
  analysis/filter/StructureModifier/src/test/kotlin/de/maibornwolff/codecharta/filter/structuremodifier/NodeRemoverTest.kt
  analysis/filter/StructureModifier/src/test/kotlin/de/maibornwolff/codecharta/filter/structuremodifier/PipedInputTestHelper.kt
  analysis/filter/StructureModifier/src/test/kotlin/de/maibornwolff/codecharta/filter/structuremodifier/ProjectStructurePrinterTest.kt
  analysis/filter/StructureModifier/src/test/kotlin/de/maibornwolff/codecharta/filter/structuremodifier/StructureModifierTest.kt
  analysis/filter/StructureModifier/src/test/kotlin/de/maibornwolff/codecharta/filter/structuremodifier/SubProjectExtractorTest.kt
  analysis/filter/StructureModifier/src/test/resources/invalid_project.cc.json
  analysis/filter/StructureModifier/src/test/resources/sample_project.cc.json
  analysis/gradle/wrapper/gradle-wrapper.properties
  analysis/model/src/main/kotlin/de/maibornwolff/codecharta/model/BlacklistItem.kt
  analysis/model/src/main/kotlin/de/maibornwolff/codecharta/model/Edge.kt
  analysis/model/src/main/kotlin/de/maibornwolff/codecharta/model/MutableNode.kt
  analysis/model/src/main/kotlin/de/maibornwolff/codecharta/model/ProjectBuilder.kt
  analysis/model/src/main/kotlin/de/maibornwolff/codecharta/serialization/ProjectDeserializer.kt
  analysis/settings.gradle
  analysis/tools/ccsh/build.gradle
  analysis/tools/ccsh/src/main/kotlin/de/maibornwolff/codecharta/tools/ccsh/Ccsh.kt
  analysis/tools/ccsh/src/test/kotlin/de/maibornwolff/codecharta/tools/ccsh/CcshTest.kt
Labels: analysis
