Repository MaibornWolff/codecharta, pull requests merged in 2019-09, with the labels that each got.

#720 Bug/keep metrics when changing map
  visualization/app/codeCharta/ui/metricChooser/metricChooser.component.ts
Labels: bug, pr-visualization

#712 Bug/debounce settings
  visualization/app/codeCharta/state/settingsService/settings.service.ts
Labels: bug, pr-visualization

#718 Feature/693/Focus metric chooser search
  CHANGELOG.md
  visualization/app/codeCharta/ui/edgeChooser/edgeChooser.component.html
  visualization/app/codeCharta/ui/edgeChooser/edgeChooser.component.spec.ts
  visualization/app/codeCharta/ui/edgeChooser/edgeChooser.component.ts
  visualization/app/codeCharta/ui/metricChooser/metricChooser.area.component.html
  visualization/app/codeCharta/ui/metricChooser/metricChooser.color.component.html
  visualization/app/codeCharta/ui/metricChooser/metricChooser.component.spec.ts
  visualization/app/codeCharta/ui/metricChooser/metricChooser.component.ts
  visualization/app/codeCharta/ui/metricChooser/metricChooser.distribution.component.html
  visualization/app/codeCharta/ui/metricChooser/metricChooser.height.component.html
Labels: pr-visualization

#723 Prominent Notice that we use Sonar-jar #713
  CHANGELOG.md
  analysis/README.md
  analysis/import/SourceCodeParser/LGPL.txt
  analysis/import/SourceCodeParser/README.md
  analysis/import/SourceCodeParser/src/main/kotlin/de/maibornwolff/codecharta/importer/sourcecodeparser/SourceCodeParserMain.kt
Labels: documentation, pr-analysis

#726 Feature/538/tokei importer
  CHANGELOG.md
  analysis/README.md
  analysis/import/TokeiImporter/README.md
  analysis/import/TokeiImporter/build.gradle
  analysis/import/TokeiImporter/src/main/kotlin/de/maibornwolff/codecharta/importer/tokeiimporter/AnalysisObject.kt
  analysis/import/TokeiImporter/src/main/kotlin/de/maibornwolff/codecharta/importer/tokeiimporter/TokeiImporter.kt
  analysis/import/TokeiImporter/src/test/kotlin/de/maibornwolff/codecharta/importer/tokeiimporter/TokeiImporterTest.kt
  analysis/import/TokeiImporter/src/test/resources/tokei_results.json
  analysis/import/TokeiImporter/src/test/resources/tokei_with_root.json
  analysis/model/src/main/kotlin/de/maibornwolff/codecharta/model/ProjectBuilder.kt
  analysis/model/src/main/kotlin/de/maibornwolff/codecharta/serialization/PipedInputScanner.kt
  analysis/settings.gradle
  analysis/tools/ccsh/build.gradle
  analysis/tools/ccsh/src/main/kotlin/de/maibornwolff/codecharta/tools/ccsh/Ccsh.kt
Labels: pr-analysis

#728 Tech/analysis dependencies
  CHANGELOG.md
  analysis/filter/StructureModifier/build.gradle
  analysis/gradle.properties
  analysis/import/SonarImporter/build.gradle
  analysis/import/SourceCodeParser/build.gradle
  analysis/import/SourceCodeParser/src/main/kotlin/de/maibornwolff/codecharta/importer/sourcecodeparser/sonaranalyzers/JavaSonarAnalyzer.kt
  analysis/import/SourceCodeParser/src/test/kotlin/de/maibornwolff/codecharta/importer/sourcecodeparser/sourcecodeparser/JavaSonarAnalyzerTest.kt
  analysis/import/TokeiImporter/build.gradle
  analysis/model/build.gradle
Labels: pr-analysis, tech
