Repository MaibornWolff/codecharta, pull requests merged in 2019-08, with the labels that each got.

#661 Feature/614/detect encoding
  CHANGELOG.md
  analysis/import/SCMLogParser/README.md
  analysis/import/SCMLogParser/build.gradle
  analysis/import/SCMLogParser/src/main/kotlin/de/maibornwolff/codecharta/importer/scmlogparser/SCMLogParser.kt
  analysis/import/SCMLogParser/src/main/kotlin/de/maibornwolff/codecharta/importer/scmlogparser/parser/LogLineCollector.kt
  analysis/import/SCMLogParser/src/test/kotlin/de/maibornwolff/codecharta/importer/scmlogparser/parser/LogLineCollectorTest.kt
  analysis/tools/ccsh/build.gradle
Labels: analysis

#663 Feature/659/metric max nesting level
  CHANGELOG.md
  analysis/import/SourceCodeParser/README.md
  analysis/import/SourceCodeParser/src/main/kotlin/de/maibornwolff/codecharta/importer/sourcecodeparser/sonaranalyzers/JavaSonarAnalyzer.kt
  analysis/import/SourceCodeParser/src/main/kotlin/de/maibornwolff/codecharta/importer/sourcecodeparser/visitors/MaxNestingLevelVisitor.kt
  analysis/import/SourceCodeParser/src/test/kotlin/de/maibornwolff/codecharta/importer/sourcecodeparser/sourcecodeparser/JavaSonarAnalyzerTest.kt
  analysis/import/SourceCodeParser/src/test/kotlin/de/maibornwolff/codecharta/importer/sourcecodeparser/visitors/MaxNestingLevelVisitorTest.kt
  analysis/import/SourceCodeParser/src/test/resources/max-nesting-level/golden_test.java
  analysis/import/SourceCodeParser/src/test/resources/max-nesting-level/if_else.java
  analysis/import/SourceCodeParser/src/test/resources/max-nesting-level/lambda_function.java
  analysis/import/SourceCodeParser/src/test/resources/max-nesting-level/nested_ifs.java
Labels: analysis

#638 Feature/576/spotlight hovering
  CHANGELOG.md
  visualization/app/codeCharta/codeCharta.model.ts
  visualization/app/codeCharta/state/__snapshots__/settings.service.spec.ts.snap
  visualization/app/codeCharta/state/settings.service.ts
  visualization/app/codeCharta/ui/codeMap/codeMap.component.spec.ts
  visualization/app/codeCharta/ui/codeMap/codeMap.component.ts
  visualization/app/codeCharta/ui/codeMap/codeMap.label.service.ts
  visualization/app/codeCharta/ui/codeMap/codeMap.mouseEvent.service.spec.ts
  visualization/app/codeCharta/ui/codeMap/codeMap.mouseEvent.service.ts
  visualization/app/codeCharta/ui/codeMap/rendering/__snapshots__/rendering.spec.ts.snap
  visualization/app/codeCharta/ui/codeMap/rendering/codeMapBuilding.spec.ts
  visualization/app/codeCharta/ui/codeMap/rendering/codeMapBuilding.ts
  visualization/app/codeCharta/ui/codeMap/rendering/codeMapFragmentShader.glsl
  visualization/app/codeCharta/ui/codeMap/rendering/codeMapMesh.ts
  visualization/app/codeCharta/ui/codeMap/rendering/codeMapVertexShader.glsl
  visualization/app/codeCharta/ui/codeMap/rendering/geometryGenerator.ts
  visualization/app/codeCharta/ui/codeMap/rendering/intermediateVertexData.ts
  visualization/app/codeCharta/ui/codeMap/threeViewer/threeSceneService.spec.ts
  visualization/app/codeCharta/ui/codeMap/threeViewer/threeSceneService.ts
  visualization/app/codeCharta/ui/colorSettingsPanel/colorSettingsPanel.component.html
  visualization/app/codeCharta/ui/colorSettingsPanel/colorSettingsPanel.component.spec.ts
  visualization/app/codeCharta/ui/colorSettingsPanel/colorSettingsPanel.component.ts
  visualization/app/codeCharta/ui/detailPanel/detailPanel.component.spec.ts
  visualization/app/codeCharta/ui/detailPanel/detailPanel.component.ts
  visualization/app/codeCharta/ui/legendPanel/legendPanel.component.ts
  visualization/app/codeCharta/ui/mapTreeView/mapTreeView.level.component.ts
  visualization/app/codeCharta/ui/matchingFilesCounter/matchingFilesCounter.component.scss
  visualization/app/codeCharta/ui/matchingFilesCounter/matchingFilesCounter.module.ts
  visualization/app/codeCharta/ui/metricChooser/metricChooser.component.ts
  visualization/app/codeCharta/ui/metricType/metricType.component.spec.ts
  visualization/app/codeCharta/ui/metricType/metricType.component.ts
  visualization/app/codeCharta/ui/presentationModeButton/presentationModeButton.component.html
  visualization/app/codeCharta/ui/presentationModeButton/presentationModeButton.component.scss
  visualization/app/codeCharta/ui/presentationModeButton/presentationModeButton.component.spec.ts
  visualization/app/codeCharta/ui/presentationModeButton/presentationModeButton.component.ts
  visualization/app/codeCharta/ui/presentationModeButton/presentationModeButton.module.ts
  visualization/app/codeCharta/ui/ribbonBar/ribbonBar.component.scss
  visualization/app/codeCharta/ui/ribbonBar/ribbonBar.e2e.ts
  visualization/app/codeCharta/ui/ribbonBar/ribbonBar.po.ts
  visualization/app/codeCharta/ui/searchBar/searchBar.component.spec.ts
  visualization/app/codeCharta/ui/searchBar/searchBar.module.ts
  visualization/app/codeCharta/ui/searchPanel/searchPanel.module.ts
  visualization/app/codeCharta/ui/searchPanel/searchPanel.po.ts
  visualization/app/codeCharta/ui/searchPanelModeSelector/searchPanelModeSelector.module.ts
  visualization/app/codeCharta/ui/toolBar/toolBar.component.html
  visualization/app/codeCharta/ui/toolBar/toolBar.component.scss
  visualization/app/codeCharta/ui/ui.ts
  visualization/app/codeCharta/util/color/colorConverter.spec.ts
  visualization/app/codeCharta/util/color/colorConverter.ts
  visualization/app/codeCharta/util/color/hsl.spec.ts
  visualization/app/codeCharta/util/color/hsl.ts
  visualization/app/codeCharta/util/dataMocks.ts
  visualization/package-lock.json
  visualization/package.json
Labels: visualization

#664 Feature/628/replace scenario select
  CHANGELOG.md
  visualization/app/codeCharta/codeCharta.component.scss
  visualization/app/codeCharta/ui/filePanel/filePanel.component.html
  visualization/app/codeCharta/ui/filePanel/filePanel.component.scss
  visualization/app/codeCharta/ui/ribbonBar/ribbonBar.component.html
  visualization/app/codeCharta/ui/ribbonBar/ribbonBar.component.scss
  visualization/app/codeCharta/ui/scenarioDropDown/scenarioDropDown.component.html
  visualization/app/codeCharta/ui/scenarioDropDown/scenarioDropDown.component.scss
  visualization/app/codeCharta/ui/scenarioDropDown/scenarioDropDown.component.spec.ts
  visualization/app/codeCharta/ui/scenarioDropDown/scenarioDropDown.component.ts
  visualization/app/codeCharta/ui/searchPanelModeSelector/searchPanelModeSelector.component.html
  visualization/app/codeCharta/ui/searchPanelModeSelector/searchPanelModeSelector.component.scss
Labels: visualization

#701 Bug/677/grey building for metric value zero
  CHANGELOG.md
  visualization/app/codeCharta/ui/codeMap/rendering/geometryGenerator.spec.ts
  visualization/app/codeCharta/ui/codeMap/rendering/geometryGenerator.ts
Labels: bug, pr-visualization

#702 Feature/688/label slider max value
  visualization/app/codeCharta/ui/heightSettingsPanel/heightSettingsPanel.component.html
  visualization/app/codeCharta/ui/heightSettingsPanel/heightSettingsPanel.component.spec.ts
Labels: pr-visualization

#708 Bug/707/search does not work
  visualization/app/codeCharta/state/settingsService/settings.service.ts
Labels: bug, pr-visualization

#705 SourceCodeParser handling of files w. invalid syntax tree
  CHANGELOG.md
  analysis/import/SourceCodeParser/src/main/kotlin/de/maibornwolff/codecharta/importer/sourcecodeparser/sonaranalyzers/JavaSonarAnalyzer.kt
Labels: pr-analysis

#703 Feature/689/distribution default metric
  CHANGELOG.md
  visualization/app/codeCharta/assets/scenarios.json
  visualization/app/codeCharta/ui/metricChooser/metricChooser.component.spec.ts
  visualization/app/codeCharta/ui/metricChooser/metricChooser.component.ts
Labels: pr-visualization
