Repository MaibornWolff/codecharta, pull requests merged in 2019-05, with the labels that each got.

#491 Prevent downloaded files from having multiple Timestamps #484
  CHANGELOG.md
  visualization/app/codeCharta/util/dataMocks.ts
  visualization/app/codeCharta/util/fileDownloader.spec.ts
  visualization/app/codeCharta/util/fileDownloader.ts
Labels: bug, review, visualization

#504 Bug/498/filechooser-cancel-button
  CHANGELOG.md
  visualization/app/codeCharta/ui/fileChooser/fileChooser.component.spec.ts
  visualization/app/codeCharta/ui/fileChooser/fileChooser.component.ts
Labels: bug, review, tech

#501 Tech/479/use-root-name-from-variable
  visualization/app/codeCharta/codeCharta.service.ts
  visualization/app/codeCharta/util/aggregationGenerator.ts
Labels: review, tech

#492 Fix broken mapTreeViewSearch test on Windows #490
  visualization/app/codeCharta/ui/mapTreeViewSearch/mapTreeViewSearch.component.spec.ts
Labels: review, tech

#499 Tech/refactor color convertions
  visualization/app/codeCharta/ui/codeMap/rendering/codeMapMesh.ts
  visualization/app/codeCharta/ui/codeMap/rendering/geometryGenerator.ts
  visualization/app/codeCharta/ui/codeMap/rendering/renderingUtil.spec.ts
  visualization/app/codeCharta/ui/codeMap/rendering/renderingUtil.ts
  visualization/app/codeCharta/ui/nodeContextMenu/nodeContextMenu.e2e.ts
  visualization/app/codeCharta/util/colorConverter.spec.ts
  visualization/app/codeCharta/util/colorConverter.ts
Labels: review, tech

#507 Bug/355/exclude should update metric max value
  CHANGELOG.md
  visualization/app/codeCharta/state/metric.service.spec.ts
  visualization/app/codeCharta/state/metric.service.ts
  visualization/app/codeCharta/ui/colorSettingsPanel/colorSettingsPanel.component.spec.ts
  visualization/app/codeCharta/ui/colorSettingsPanel/colorSettingsPanel.component.ts
  visualization/app/codeCharta/util/codeMapHelper.ts
Labels: bug, review, visualization

#503 Tech/473/update plop generator
  visualization/app/codeCharta/state/state.module.ts
  visualization/plop-templates/component.spec.ts.hbs
  visualization/plop-templates/component.ts.hbs
  visualization/plop-templates/core.module.ts.hbs
  visualization/plop-templates/e2e.ts.hbs
  visualization/plop-templates/service.spec.ts.hbs
  visualization/plop-templates/service.ts.hbs
  visualization/plop-templates/ui.module.ts.hbs
  visualization/plop-templates/util.spec.ts.hbs
  visualization/plop-templates/util.ts.hbs
  visualization/plopfile.js
Labels: review, tech

#502 Tech/480/replace class selectors
  visualization/README.md
  visualization/app/app.ts
  visualization/app/codeCharta/assets/sample1.cc.json
  visualization/app/codeCharta/assets/sample2.cc.json
  visualization/app/codeCharta/assets/sample3.cc.json
  visualization/app/codeCharta/codeCharta.component.spec.ts
  visualization/app/codeCharta/codeCharta.component.ts
  visualization/app/codeCharta/codeCharta.module.ts
  visualization/app/codeCharta/codeCharta.service.spec.ts
  visualization/app/codeCharta/e2e/url.e2e.ts
  visualization/app/codeCharta/state/settings.service.ts
  visualization/app/codeCharta/state/state.module.ts
  visualization/app/codeCharta/ui/areaSettingsPanel/areaSettingsPanel.component.spec.ts
  visualization/app/codeCharta/ui/codeMap/codeMap.actions.service.spec.ts
  visualization/app/codeCharta/ui/codeMap/codeMap.actions.service.ts
  visualization/app/codeCharta/ui/codeMap/codeMap.arrow.service.spec.ts
  visualization/app/codeCharta/ui/codeMap/codeMap.arrow.service.ts
  visualization/app/codeCharta/ui/codeMap/codeMap.label.service.spec.ts
  visualization/app/codeCharta/ui/codeMap/codeMap.label.service.ts
  visualization/app/codeCharta/ui/codeMap/codeMap.module.ts
  visualization/app/codeCharta/ui/codeMap/codeMap.mouseEvent.service.spec.ts
  visualization/app/codeCharta/ui/codeMap/codeMap.mouseEvent.service.ts
  visualization/app/codeCharta/ui/codeMap/codeMap.preRender.service.spec.ts
  visualization/app/codeCharta/ui/codeMap/codeMap.preRender.service.ts
  visualization/app/codeCharta/ui/codeMap/codeMap.render.service.spec.ts
  visualization/app/codeCharta/ui/codeMap/codeMap.render.service.ts
  visualization/app/codeCharta/ui/codeMap/threeViewer/threeCameraService.ts
  visualization/app/codeCharta/ui/codeMap/threeViewer/threeOrbitControlsService.ts
  visualization/app/codeCharta/ui/codeMap/threeViewer/threeRendererService.ts
  visualization/app/codeCharta/ui/codeMap/threeViewer/threeSceneService.ts
  visualization/app/codeCharta/ui/codeMap/threeViewer/threeUpdateCycleService.ts
  visualization/app/codeCharta/ui/codeMap/threeViewer/threeViewer.module.ts
  visualization/app/codeCharta/ui/codeMap/threeViewer/threeViewerService.ts
  visualization/app/codeCharta/ui/detailPanel/detailPanel.component.spec.ts
  visualization/app/codeCharta/ui/dialog/dialog.module.ts
  visualization/app/codeCharta/ui/dialog/dialog.service.ts
  visualization/app/codeCharta/ui/fileChooser/fileChooser.component.spec.ts
  visualization/app/codeCharta/ui/legendPanel/legendPanel.module.ts
  visualization/app/codeCharta/ui/mapTreeView/mapTreeView.module.ts
  visualization/app/codeCharta/ui/mapTreeViewSearch/mapTreeViewSearch.module.ts
  visualization/app/codeCharta/ui/rangeSlider/rangeSlider.module.ts
  visualization/app/codeCharta/ui/viewCube/viewCube.module.ts
Labels: review, tech

#514 Tech/dependabot javascript
  CHANGELOG.md
  visualization/package-lock.json
Labels: dependencies, javascript

#505 Tech/create loading gif module
  visualization/app/codeCharta/codeCharta.component.html
  visualization/app/codeCharta/codeCharta.component.scss
  visualization/app/codeCharta/codeCharta.component.spec.ts
  visualization/app/codeCharta/codeCharta.component.ts
  visualization/app/codeCharta/state/fileState.service.spec.ts
  visualization/app/codeCharta/state/fileState.service.ts
  visualization/app/codeCharta/state/settings.service.spec.ts
  visualization/app/codeCharta/state/settings.service.ts
  visualization/app/codeCharta/state/state.module.ts
  visualization/app/codeCharta/ui/codeMap/codeMap.component.html
  visualization/app/codeCharta/ui/codeMap/codeMap.component.spec.ts
  visualization/app/codeCharta/ui/codeMap/codeMap.component.ts
  visualization/app/codeCharta/ui/codeMap/codeMap.preRender.service.spec.ts
  visualization/app/codeCharta/ui/codeMap/codeMap.preRender.service.ts
  visualization/app/codeCharta/ui/fileChooser/fileChooser.component.spec.ts
  visualization/app/codeCharta/ui/fileChooser/fileChooser.component.ts
  visualization/app/codeCharta/ui/loadingGif/loadingGif.component.scss
  visualization/app/codeCharta/ui/loadingGif/loadingGif.component.spec.ts
  visualization/app/codeCharta/ui/loadingGif/loadingGif.component.ts
  visualization/app/codeCharta/ui/loadingGif/loadingGif.file.component.html
  visualization/app/codeCharta/ui/loadingGif/loadingGif.map.component.html
  visualization/app/codeCharta/ui/loadingGif/loadingGif.module.ts
  visualization/app/codeCharta/ui/loadingGif/loadingGif.service.spec.ts
  visualization/app/codeCharta/ui/loadingGif/loadingGif.service.ts
  visualization/app/codeCharta/ui/nodeContextMenu/nodeContextMenu.e2e.ts
  visualization/app/codeCharta/ui/ribbonBar/ribbonBar.component.html
  visualization/app/codeCharta/ui/ribbonBar/ribbonBar.component.scss
  visualization/app/codeCharta/ui/ribbonBar/ribbonBar.component.ts
  visualization/app/codeCharta/ui/ui.ts
Labels: review, tech

#517 Tech/451/tslint travis
  visualization/app/codeCharta/codeCharta.component.ts
  visualization/app/codeCharta/state/fileState.service.ts
  visualization/app/codeCharta/ui/ribbonBar/ribbonBar.component.ts
  visualization/package.json
  visualization/script/travis-build.sh
Labels: review, tech

#512 fixed issue with too long line in ccsh.bat #506
  CHANGELOG.md
  analysis/tools/ccsh/build.gradle
Labels: analysis, bug, review

#509 Feature/508/exclude for sourcecodeparser
  CHANGELOG.md
  PULL_REQUEST_TEMPLATE.md
  analysis/import/SourceCodeParser/README.md
  analysis/import/SourceCodeParser/src/main/kotlin/de/maibornwolff/codecharta/importer/sourcecodeparser/ProjectParser.kt
  analysis/import/SourceCodeParser/src/main/kotlin/de/maibornwolff/codecharta/importer/sourcecodeparser/ProjectTraverser.kt
  analysis/import/SourceCodeParser/src/main/kotlin/de/maibornwolff/codecharta/importer/sourcecodeparser/SourceCodeParserMain.kt
  analysis/import/SourceCodeParser/src/test/kotlin/de/maibornwolff/codecharta/importer/sourcecodeparser/ProjectTraverserTest.kt
  analysis/import/SourceCodeParser/src/test/kotlin/de/maibornwolff/codecharta/importer/sourcecodeparser/e2e/ExcludeFilesAndFolders.kt
  analysis/import/SourceCodeParser/src/test/kotlin/de/maibornwolff/codecharta/importer/sourcecodeparser/e2e/ParseFolderToTable.kt
  analysis/import/SourceCodeParser/src/test/resources/sampleproject/.whatever/something.java
  visualization/README.md
  visualization/app/codeCharta/assets/sample1.cc.json
  visualization/app/codeCharta/assets/sample2.cc.json
  visualization/app/codeCharta/assets/sample3.cc.json
  visualization/app/codeCharta/codeCharta.component.html
  visualization/app/codeCharta/codeCharta.component.scss
  visualization/app/codeCharta/ui/codeMap/codeMap.component.html
  visualization/app/codeCharta/ui/loadingGif/loadingGif.component.scss
  visualization/app/codeCharta/ui/loadingGif/loadingGif.file.component.html
  visualization/app/codeCharta/ui/loadingGif/loadingGif.map.component.html
  visualization/app/codeCharta/ui/ribbonBar/ribbonBar.component.html
  visualization/app/codeCharta/ui/ribbonBar/ribbonBar.component.scss
  visualization/package-lock.json
  visualization/plopfile.js
Labels: analysis, review

#500 Refactor treeMapGenerator and treeMapHelper
  CHANGELOG.md
  visualization/app/codeCharta/util/__snapshots__/treeMapGenerator.spec.ts.snap
  visualization/app/codeCharta/util/__snapshots__/treeMapHelper.spec.ts.snap
  visualization/app/codeCharta/util/treeMapGenerator.spec.ts
  visualization/app/codeCharta/util/treeMapGenerator.ts
  visualization/app/codeCharta/util/treeMapHelper.spec.ts
  visualization/app/codeCharta/util/treeMapHelper.ts
Labels: review, tech

#530 Tech/refactor settings colorrange
  visualization/app/codeCharta/assets/scenarios.json
  visualization/app/codeCharta/codeCharta.model.ts
  visualization/app/codeCharta/state/__snapshots__/settings.service.spec.ts.snap
  visualization/app/codeCharta/state/settings.service.ts
  visualization/app/codeCharta/ui/codeMap/rendering/codeMapMesh.ts
  visualization/app/codeCharta/ui/codeMap/rendering/geometryGenerator.ts
  visualization/app/codeCharta/ui/colorSettingsPanel/colorSettingsPanel.component.html
  visualization/app/codeCharta/ui/colorSettingsPanel/colorSettingsPanel.component.spec.ts
  visualization/app/codeCharta/ui/colorSettingsPanel/colorSettingsPanel.component.ts
  visualization/app/codeCharta/ui/legendPanel/legendPanel.component.html
  visualization/app/codeCharta/ui/legendPanel/legendPanel.component.ts
  visualization/app/codeCharta/ui/metricChooser/metricChooser.component.spec.ts
  visualization/app/codeCharta/ui/metricChooser/metricChooser.component.ts
  visualization/app/codeCharta/ui/rangeSlider/rangeSlider.component.spec.ts
  visualization/app/codeCharta/ui/rangeSlider/rangeSlider.component.ts
  visualization/app/codeCharta/util/dataMocks.ts
  visualization/app/codeCharta/util/treeMapHelper.spec.ts
  visualization/app/codeCharta/util/treeMapHelper.ts
Labels: tech, visualization

#540 Docs/532/document-scmlogparser-usage-with-svn
  analysis/import/SCMLogParser/README.md
Labels: analysis, documentation

#546 Bug/542/Renaming breaks hierarchy in SVN log parser
  CHANGELOG.md
  analysis/import/SCMLogParser/src/main/kotlin/de/maibornwolff/codecharta/importer/scmlogparser/input/Commit.kt
  analysis/import/SCMLogParser/src/main/kotlin/de/maibornwolff/codecharta/importer/scmlogparser/input/VersionControlledFile.kt
  analysis/import/SCMLogParser/src/main/kotlin/de/maibornwolff/codecharta/importer/scmlogparser/parser/git/GitLogNumstatRawParserStrategy.kt
  analysis/import/SCMLogParser/src/main/kotlin/de/maibornwolff/codecharta/importer/scmlogparser/parser/svn/SVNLogParserStrategy.kt
  analysis/import/SCMLogParser/src/test/kotlin/de/maibornwolff/codecharta/importer/scmlogparser/SCMLogProjectCreatorGoldenMasterTest.kt
  analysis/import/SCMLogParser/src/test/kotlin/de/maibornwolff/codecharta/importer/scmlogparser/converter/ProjectConverterTest.kt
  analysis/import/SCMLogParser/src/test/kotlin/de/maibornwolff/codecharta/importer/scmlogparser/input/VersionControlledFileTest.kt
  analysis/import/SCMLogParser/src/test/kotlin/de/maibornwolff/codecharta/importer/scmlogparser/parser/ParserStrategyContractTest.kt
  analysis/import/SCMLogParser/src/test/kotlin/de/maibornwolff/codecharta/importer/scmlogparser/parser/svn/SVNLogParserStrategyTest.kt
  analysis/import/SCMLogParser/src/test/resources/example_git_numstat.log
  analysis/import/SCMLogParser/src/test/resources/example_svn.log
  analysis/import/SCMLogParser/src/test/resources/expected_git_numstat.json
  analysis/import/SCMLogParser/src/test/resources/expected_svn.json
Labels: analysis, bug

#552 Bugfix: Unary metric no longer vanishes when a folder is excluded
  CHANGELOG.md
  visualization/app/codeCharta/state/metric.service.spec.ts
  visualization/app/codeCharta/state/metric.service.ts
Labels: bug, visualization

#550 Bugfix: Changing Margin and then file or mode results in endless loading
  CHANGELOG.md
  visualization/app/codeCharta/ui/areaSettingsPanel/areaSettingsPanel.component.spec.ts
  visualization/app/codeCharta/ui/areaSettingsPanel/areaSettingsPanel.component.ts
Labels: bug, visualization

#511 Bug/478/merge marked packages
  visualization/app/codeCharta/ui/codeMap/codeMap.preRender.service.ts
  visualization/app/codeCharta/ui/revisionChooser/revisionChooserFileDropDown.component.html
  visualization/app/codeCharta/util/__snapshots__/settingsMerger.spec.ts.snap
  visualization/app/codeCharta/util/settingsMerger.spec.ts
  visualization/app/codeCharta/util/settingsMerger.ts
Labels: bug, review, visualization
