Repository MaibornWolff/codecharta, pull requests merged in 2019-03, with the labels that each got.

#404 Feature/391/select buttons multiple mode
  CHANGELOG.md
  visualization/app/codeCharta/ui/multipleFilePanel/multipleFilePanel.component.html
  visualization/app/codeCharta/ui/multipleFilePanel/multipleFilePanel.component.spec.ts
  visualization/app/codeCharta/ui/multipleFilePanel/multipleFilePanel.component.ts
Labels: review

#410 Update Javascript Dependencies
  CHANGELOG.md
  visualization/package-lock.json
  visualization/package.json
Labels: javascript, review, security, tech

#405 Setting reference map to chosen revision/map on change of revision mode
  CHANGELOG.md
  visualization/app/codeCharta/ui/revisionChooser/revisionChooser.component.spec.ts
  visualization/app/codeCharta/ui/revisionChooser/revisionChooser.component.ts
  visualization/tsconfig.json
Labels: bug, review, visualization

#399 Bug/398/api Version Missing in Aggregated Map
  CHANGELOG.md
  visualization/app/codeCharta/core/multipleFile/__snapshots__/multipleFile.service.spec.ts.snap
  visualization/app/codeCharta/core/multipleFile/multipleFile.service.ts
  visualization/package.json
Labels: bug, review, visualization

#406 MergeFilter can merge all files within folder(s) #392
  CHANGELOG.md
  analysis/filter/MergeFilter/build.gradle
  analysis/filter/MergeFilter/src/main/kotlin/de/maibornwolff/codecharta/filter/mergefilter/MergeFilter.kt
  analysis/filter/MergeFilter/src/test/kotlin/de/maibornwolff/codecharta/filter/mergefilter/MergeFilterTest.kt
  analysis/filter/MergeFilter/src/test/resources/mergeFolderTest/.doNotScan
  analysis/filter/MergeFilter/src/test/resources/mergeFolderTest/file1.cc.json
  analysis/filter/MergeFilter/src/test/resources/mergeFolderTest/file2.cc.json
  analysis/filter/MergeFilter/src/test/resources/mergeFolderTest/invalid.json
Labels: analysis, review

#419 Bug/409/sliders truncate digits
  CHANGELOG.md
  visualization/app/codeCharta/ui/rangeSlider/rangeSlider.component.html
  visualization/app/codeCharta/ui/rangeSlider/rangeSlider.component.ts
Labels: bug, review, visualization

#420 Tech/dependabot javascript
  CHANGELOG.md
  visualization/package-lock.json
  visualization/package.json
Labels: review

#431 tech/dependabot javascript
  CHANGELOG.md
  visualization/package-lock.json
  visualization/package.json
Labels: dependencies, javascript

#432 Feature/394/project name can be specified on merge
  CHANGELOG.md
  analysis/filter/MergeFilter/src/main/kotlin/de/maibornwolff/codecharta/filter/mergefilter/MergeFilter.kt
  analysis/filter/MergeFilter/src/main/kotlin/de/maibornwolff/codecharta/filter/mergefilter/ProjectMerger.kt
  analysis/filter/MergeFilter/src/test/kotlin/de/maibornwolff/codecharta/filter/mergefilter/ProjectMergerTest.kt
  analysis/filter/MergeFilter/src/test/resources/testEdges2.json
Labels: analysis, review

#443 Tech/dependabot javascript
  CHANGELOG.md
  visualization/package-lock.json
  visualization/package.json
Labels: dependencies, javascript

#438 Bug/352/metric calculation without excluded
  CHANGELOG.md
  visualization/app/codeCharta/core/data/data.decorator.service.spec.ts
  visualization/app/codeCharta/core/data/data.decorator.service.ts
  visualization/app/codeCharta/core/data/data.decorator.spec.ts
  visualization/app/codeCharta/core/data/data.decorator.ts
  visualization/app/codeCharta/core/data/data.deltaCalculator.service.spec.ts
  visualization/app/codeCharta/core/data/data.deltaCalculator.service.ts
  visualization/app/codeCharta/core/data/data.mocks.ts
  visualization/app/codeCharta/core/data/data.module.ts
  visualization/app/codeCharta/core/data/data.service.spec.ts
  visualization/app/codeCharta/core/data/data.service.ts
  visualization/app/codeCharta/core/settings/settings.service.ts
  visualization/app/codeCharta/ui/codeMap/codeMap.actions.service.spec.ts
  visualization/app/codeCharta/ui/codeMap/codeMap.actions.service.ts
Labels: bug, review, visualization

#452 Tech/dependabot javascript
  CHANGELOG.md
  visualization/package-lock.json
  visualization/package.json
Labels: dependencies, javascript
