Repository MaibornWolff/codecharta, pull requests merged in 2020-03, with the labels that each got.

#866 Tech/remove dependencies
  visualization/app/codeCharta/codeCharta.component.scss
  visualization/package-lock.json
  visualization/package.json
Labels: tech

#873 Tech/826/replace tslint with eslint
  visualization/.eslintignore
  visualization/.eslintrc.js
  visualization/app/codeCharta/ui/codeMap/rendering/codeMapGeometricDescription.ts
  visualization/package-lock.json
  visualization/package.json
  visualization/tslint.json
Labels: pr-visualization, tech

#872 Tech/move search panel mode to redux
  visualization/app/codeCharta/codeCharta.model.ts
  visualization/app/codeCharta/state/injector.service.ts
  visualization/app/codeCharta/state/searchPanel.service.spec.ts
  visualization/app/codeCharta/state/searchPanel.service.ts
  visualization/app/codeCharta/state/state.module.ts
  visualization/app/codeCharta/state/store/appSettings/appSettings.actions.ts
  visualization/app/codeCharta/state/store/appSettings/appSettings.reducer.ts
  visualization/app/codeCharta/state/store/appSettings/appSettings.splitter.ts
  visualization/app/codeCharta/state/store/appSettings/searchPanelMode/searchPanelMode.actions.ts
  visualization/app/codeCharta/state/store/appSettings/searchPanelMode/searchPanelMode.reducer.spec.ts
  visualization/app/codeCharta/state/store/appSettings/searchPanelMode/searchPanelMode.reducer.ts
  visualization/app/codeCharta/state/store/appSettings/searchPanelMode/searchPanelMode.service.spec.ts
  visualization/app/codeCharta/state/store/appSettings/searchPanelMode/searchPanelMode.service.ts
  visualization/app/codeCharta/state/store/appSettings/searchPanelMode/searchPanelMode.splitter.ts
  visualization/app/codeCharta/ui/blacklistPanel/blacklistPanel.component.spec.ts
  visualization/app/codeCharta/ui/blacklistPanel/blacklistPanel.component.ts
  visualization/app/codeCharta/ui/searchPanel/searchPanel.component.spec.ts
  visualization/app/codeCharta/ui/searchPanel/searchPanel.component.ts
  visualization/app/codeCharta/ui/searchPanelModeSelector/searchPanelModeSelector.component.spec.ts
  visualization/app/codeCharta/ui/searchPanelModeSelector/searchPanelModeSelector.component.ts
  visualization/app/codeCharta/util/dataMocks.ts
Labels: pr-visualization, tech

#881 Tech/clean up more dependencies
  script/build_gh_pages.sh
  visualization/jest.config.json
  visualization/package-lock.json
  visualization/package.json
  visualization/script/travis-build.sh
Labels: tech

#880 Tech/refactor node context menu
  visualization/app/codeCharta/ui/codeMap/codeMap.component.spec.ts
  visualization/app/codeCharta/ui/codeMap/codeMap.component.ts
  visualization/app/codeCharta/ui/codeMap/codeMap.mouseEvent.service.spec.ts
  visualization/app/codeCharta/ui/codeMap/codeMap.mouseEvent.service.ts
  visualization/app/codeCharta/ui/mapTreeView/mapTreeView.level.component.spec.ts
  visualization/app/codeCharta/ui/mapTreeView/mapTreeView.level.component.ts
  visualization/app/codeCharta/ui/nodeContextMenu/nodeContextMenu.component.html
  visualization/app/codeCharta/ui/nodeContextMenu/nodeContextMenu.component.spec.ts
  visualization/app/codeCharta/ui/nodeContextMenu/nodeContextMenu.component.ts
Labels: pr-visualization, tech

#877 Bug/876/wrong max value calculation
  CHANGELOG.md
  visualization/app/codeCharta/state/metric.service.spec.ts
  visualization/app/codeCharta/state/metric.service.ts
  visualization/app/codeCharta/util/codeMapHelper.ts
Labels: bug, pr-visualization

#883 Bug/invert files when none are selected
  visualization/app/codeCharta/codeCharta.component.ts
  visualization/app/codeCharta/ui/fileChooser/fileChooser.component.ts
  visualization/app/codeCharta/ui/filePanel/filePanel.component.spec.ts
  visualization/app/codeCharta/ui/filePanel/filePanel.component.ts
  visualization/jest.config.json
Labels: bug, pr-visualization, pr-visualization-desktop

#882 Tech/no unused locals ts compiler
  visualization/app/codeCharta/codeCharta.component.ts
  visualization/app/codeCharta/state/injector.service.ts
  visualization/app/codeCharta/state/store.service.ts
  visualization/app/codeCharta/state/store/appSettings/amountOfEdgePreviews/amountOfEdgePreviews.service.ts
  visualization/app/codeCharta/state/store/appSettings/amountOfTopLabels/amountOfTopLabels.service.ts
  visualization/app/codeCharta/state/store/appSettings/camera/camera.service.ts
  visualization/app/codeCharta/state/store/appSettings/dynamicMargin/dynamicMargin.service.ts
  visualization/app/codeCharta/state/store/appSettings/edgeHeight/edgeHeight.service.ts
  visualization/app/codeCharta/state/store/appSettings/hideFlatBuildings/hideFlatBuildings.service.ts
  visualization/app/codeCharta/state/store/appSettings/invertColorRange/invertColorRange.service.ts
  visualization/app/codeCharta/state/store/appSettings/invertDeltaColors/invertDeltaColors.service.ts
  visualization/app/codeCharta/state/store/appSettings/invertHeight/invertHeight.service.ts
  visualization/app/codeCharta/state/store/appSettings/isLoadingFile/isLoadingFile.service.ts
  visualization/app/codeCharta/state/store/appSettings/isLoadingMap/isLoadingMap.service.ts
  visualization/app/codeCharta/state/store/appSettings/isPresentationMode/isPresentationMode.service.ts
  visualization/app/codeCharta/state/store/appSettings/isWhiteBackground/isWhiteBackground.service.ts
  visualization/app/codeCharta/state/store/appSettings/mapColors/mapColors.service.ts
  visualization/app/codeCharta/state/store/appSettings/resetCameraIfNewFileIsLoaded/resetCameraIfNewFileIsLoaded.service.ts
  visualization/app/codeCharta/state/store/appSettings/scaling/scaling.service.ts
  visualization/app/codeCharta/state/store/appSettings/searchPanelMode/searchPanelMode.service.ts
  visualization/app/codeCharta/state/store/appSettings/showOnlyBuildingsWithEdges/showOnlyBuildingsWithEdges.service.ts
  visualization/app/codeCharta/state/store/appSettings/whiteColorBuildings/whiteColorBuildings.service.ts
  visualization/app/codeCharta/state/store/dynamicSettings/areaMetric/areaMetric.service.ts
  visualization/app/codeCharta/state/store/dynamicSettings/colorMetric/colorMetric.service.ts
  visualization/app/codeCharta/state/store/dynamicSettings/colorRange/colorRange.service.ts
  visualization/app/codeCharta/state/store/dynamicSettings/distributionMetric/distributionMetric.service.ts
  visualization/app/codeCharta/state/store/dynamicSettings/edgeMetric/edgeMetric.service.ts
  visualization/app/codeCharta/state/store/dynamicSettings/heightMetric/heightMetric.service.ts
  visualization/app/codeCharta/state/store/dynamicSettings/margin/margin.service.ts
  visualization/app/codeCharta/state/store/dynamicSettings/searchPattern/searchPattern.service.ts
  visualization/app/codeCharta/state/store/dynamicSettings/searchedNodePaths/searchedNodePaths.service.ts
  visualization/app/codeCharta/state/store/fileSettings/attributeTypes/attributeTypes.service.ts
  visualization/app/codeCharta/state/store/fileSettings/blacklist/blacklist.service.ts
  visualization/app/codeCharta/state/store/fileSettings/edges/edges.service.ts
  visualization/app/codeCharta/state/store/fileSettings/markedPackages/markedPackages.service.ts
  visualization/app/codeCharta/state/store/files/files.service.ts
  visualization/app/codeCharta/state/store/treeMap/mapSize/mapSize.service.ts
  visualization/app/codeCharta/ui/codeMap/codeMap.preRender.service.ts
  visualization/app/codeCharta/util/reduxHelper.spec.ts
  visualization/app/codeCharta/util/reduxHelper.ts
  visualization/package-lock.json
  visualization/package.json
  visualization/plop-templates/redux/service.ts.hbs
  visualization/tsconfig.json
Labels: tech

#885 Chore/nokogiri security issue
  CHANGELOG.md
  gh-pages/Gemfile.lock
Labels: dependencies, security

#887 Bug/only show metrics of visible maps
  CHANGELOG.md
  visualization/app/codeCharta/codeCharta.model.ts
  visualization/app/codeCharta/state/edgeMetricData.service.ts
  visualization/app/codeCharta/state/metric.service.spec.ts
  visualization/app/codeCharta/state/metric.service.ts
  visualization/app/codeCharta/state/store/dynamicSettings/areaMetric/areaMetric.service.spec.ts
  visualization/app/codeCharta/state/store/dynamicSettings/colorMetric/colorMetric.service.spec.ts
  visualization/app/codeCharta/state/store/dynamicSettings/distributionMetric/distributionMetric.service.spec.ts
  visualization/app/codeCharta/state/store/dynamicSettings/edgeMetric/edgeMetric.service.spec.ts
  visualization/app/codeCharta/state/store/dynamicSettings/heightMetric/heightMetric.service.spec.ts
  visualization/app/codeCharta/ui/edgeChooser/edgeChooser.component.spec.ts
  visualization/app/codeCharta/ui/metricChooser/metricChooser.component.spec.ts
  visualization/app/codeCharta/ui/scenarioDropDown/scenarioDropDown.component.spec.ts
  visualization/app/codeCharta/util/dataMocks.ts
  visualization/app/codeCharta/util/metricHelper.ts
  visualization/app/codeCharta/util/nodeDecorator.spec.ts
  visualization/app/codeCharta/util/scenarioHelper.spec.ts
  visualization/app/codeCharta/util/treeMapGenerator.spec.ts
Labels: pr-visualization, pr-visualization-desktop

#867 Tech/replace intersection result interface
  CHANGELOG.md
  visualization/app/codeCharta/ui/codeMap/codeMap.mouseEvent.service.spec.ts
  visualization/app/codeCharta/ui/codeMap/codeMap.mouseEvent.service.ts
  visualization/app/codeCharta/ui/codeMap/rendering/codeMapGeometricDescription.ts
  visualization/app/codeCharta/ui/codeMap/rendering/codeMapMesh.ts
  visualization/app/codeCharta/ui/nodeContextMenu/nodeContextMenu.component.ts
Labels: pr-visualization, tech

#869 Tech/plop generate subreducer
  visualization/app/codeCharta/state/store/reducer.ts
  visualization/app/codeCharta/state/store/state.actions.ts
  visualization/app/codeCharta/state/store/state.splitter.ts
  visualization/plop-templates/redux-subreducer/actions.ts.hbs
  visualization/plop-templates/redux-subreducer/reducer.spec.ts.hbs
  visualization/plop-templates/redux-subreducer/reducer.ts.hbs
  visualization/plop-templates/redux-subreducer/splitter.ts.hbs
  visualization/plopfile.js
Labels: pr-visualization, tech

#891 Tech/refactor find functions
  visualization/app/codeCharta/model/files.ts
  visualization/app/codeCharta/state/metric.service.ts
  visualization/app/codeCharta/state/store/fileSettings/attributeTypes/attributeTypes.merger.ts
  visualization/app/codeCharta/state/store/state.splitter.spec.ts
  visualization/app/codeCharta/ui/nodeContextMenu/nodeContextMenu.component.ts
  visualization/app/codeCharta/ui/searchBar/searchBar.component.ts
  visualization/app/codeCharta/util/reduxHelper.ts
Labels: pr-visualization, tech

#892 Tech/plop append redux default property
  visualization/app/codeCharta/state/store/appSettings/appSettings.actions.ts
  visualization/app/codeCharta/state/store/dynamicSettings/dynamicSettings.actions.ts
  visualization/app/codeCharta/state/store/fileSettings/fileSettings.actions.ts
  visualization/app/codeCharta/state/store/treeMap/treeMap.actions.ts
  visualization/plop-templates/redux-subreducer/actions.ts.hbs
  visualization/plopfile.js
Labels: tech

#886 Bug/search panel opens when importing new file
  CHANGELOG.md
  visualization/app/codeCharta/state/store.service.ts
  visualization/app/codeCharta/ui/codeMap/codeMap.preRender.service.ts
  visualization/app/codeCharta/ui/ribbonBar/ribbonBar.component.scss
  visualization/app/codeCharta/ui/searchPanel/searchPanel.component.html
  visualization/app/codeCharta/ui/searchPanel/searchPanel.component.spec.ts
  visualization/app/codeCharta/ui/searchPanel/searchPanel.component.ts
Labels: bug, pr-visualization

#897 Bugfix/896/file panel disappears
  visualization/app/codeCharta/ui/codeMap/codeMap.mouseEvent.service.ts
  visualization/app/codeCharta/ui/codeMap/threeViewer/threeSceneService.ts
  visualization/app/codeCharta/ui/nodePathPanel/nodePathPanel.component.spec.ts
  visualization/app/codeCharta/ui/nodePathPanel/nodePathPanel.component.ts
Labels: bug, pr-visualization
