Repository MaibornWolff/codecharta, pull requests merged in 2020-06, with the labels that each got.

#985 Height Component File Extension Bar
  visualization/app/codeCharta/ui/fileExtensionBar/fileExtensionBar.component.scss
Labels: bug, pr-visualization

#987 Revert file-loader update #973
  visualization/package-lock.json
  visualization/package.json
Labels: dependencies, pr-visualization

#949 Feature/948/move unfocus button to node context menu
  CHANGELOG.md
  visualization/app/codeCharta/ui/codeMap/codeMap.component.html
  visualization/app/codeCharta/ui/nodeContextMenu/nodeContextMenu.component.html
  visualization/app/codeCharta/ui/nodeContextMenu/nodeContextMenu.component.spec.ts
  visualization/app/codeCharta/ui/nodeContextMenu/nodeContextMenu.component.ts
  visualization/app/codeCharta/ui/unfocusButton/unfocusButton.component.html
  visualization/app/codeCharta/ui/unfocusButton/unfocusButton.component.scss
  visualization/app/codeCharta/ui/unfocusButton/unfocusButton.component.spec.ts
  visualization/app/codeCharta/ui/unfocusButton/unfocusButton.component.ts
Labels: pr-visualization

#874 Feature/675/custom persisted scenarios
  CHANGELOG.md
  visualization/app/codeCharta/codeCharta.component.spec.ts
  visualization/app/codeCharta/codeCharta.component.ts
  visualization/app/codeCharta/codeCharta.model.ts
  visualization/app/codeCharta/state/injector.service.ts
  visualization/app/codeCharta/state/state.module.ts
  visualization/app/codeCharta/state/store/appSettings/appSettings.actions.ts
  visualization/app/codeCharta/state/store/appSettings/appSettings.reducer.ts
  visualization/app/codeCharta/state/store/appSettings/appSettings.splitter.ts
  visualization/app/codeCharta/state/store/appSettings/camera/camera.reducer.ts
  visualization/app/codeCharta/state/store/appSettings/camera/camera.service.ts
  visualization/app/codeCharta/state/store/appSettings/cameraTarget/cameraTarget.actions.ts
  visualization/app/codeCharta/state/store/appSettings/cameraTarget/cameraTarget.reducer.spec.ts
  visualization/app/codeCharta/state/store/appSettings/cameraTarget/cameraTarget.reducer.ts
  visualization/app/codeCharta/state/store/appSettings/cameraTarget/cameraTarget.service.spec.ts
  visualization/app/codeCharta/state/store/appSettings/cameraTarget/cameraTarget.service.ts
  visualization/app/codeCharta/state/store/appSettings/cameraTarget/cameraTarget.splitter.ts
  visualization/app/codeCharta/state/store/appSettings/scaling/scaling.reducer.ts
  visualization/app/codeCharta/ui/centerMapButton/centerMapButton.component.spec.ts
  visualization/app/codeCharta/ui/codeMap/threeViewer/threeCameraService.ts
  visualization/app/codeCharta/ui/codeMap/threeViewer/threeOrbitControlsService.spec.ts
  visualization/app/codeCharta/ui/codeMap/threeViewer/threeOrbitControlsService.ts
  visualization/app/codeCharta/ui/dialog/dialog.addScenarioSettings.component.html
  visualization/app/codeCharta/ui/dialog/dialog.addScenarioSettings.component.spec.ts
  visualization/app/codeCharta/ui/dialog/dialog.addScenarioSettings.component.ts
  visualization/app/codeCharta/ui/dialog/dialog.component.scss
  visualization/app/codeCharta/ui/dialog/dialog.module.ts
  visualization/app/codeCharta/ui/dialog/dialog.service.ts
  visualization/app/codeCharta/ui/scenarioDropDown/scenarioDropDown.component.html
  visualization/app/codeCharta/ui/scenarioDropDown/scenarioDropDown.component.scss
  visualization/app/codeCharta/ui/scenarioDropDown/scenarioDropDown.component.spec.ts
  visualization/app/codeCharta/ui/scenarioDropDown/scenarioDropDown.component.ts
  visualization/app/codeCharta/util/dataMocks.ts
  visualization/app/codeCharta/util/scenarioHelper.spec.ts
  visualization/app/codeCharta/util/scenarioHelper.ts
  visualization/mocks/localStorageMock.js
Labels: pr-visualization

#991 ESLint: Enable no non-null assertion rule
  visualization/.eslintrc.js
  visualization/app/codeCharta/ui/codeMap/codeMap.label.service.ts
  visualization/package-lock.json
Labels: tech

#994 Feature/compress output of sourcemonitorimporter
  CHANGELOG.md
  analysis/import/CSVImporter/src/main/kotlin/de/maibornwolff/codecharta/importer/csv/SourceMonitorImporter.kt
Labels: pr-analysis

#1001 Fix digest bottleneck
  visualization/app/codeCharta/state/metric.service.spec.ts
  visualization/app/codeCharta/state/metric.service.ts
  visualization/app/codeCharta/ui/attributeSideBar/attributeSideBar.component.html
  visualization/app/codeCharta/ui/blacklistPanel/blacklistPanel.exclude.component.html
  visualization/app/codeCharta/ui/blacklistPanel/blacklistPanel.flatten.component.html
  visualization/app/codeCharta/ui/dialog/dialog.addScenarioSettings.component.html
  visualization/app/codeCharta/ui/dialog/dialog.download.component.html
  visualization/app/codeCharta/ui/edgeChooser/edgeChooser.component.html
  visualization/app/codeCharta/ui/fileExtensionBar/fileExtensionBar.component.html
  visualization/app/codeCharta/ui/filePanel/filePanel.component.html
  visualization/app/codeCharta/ui/legendPanel/legendPanel.component.html
  visualization/app/codeCharta/ui/mapTreeView/mapTreeView.level.component.html
  visualization/app/codeCharta/ui/metricChooser/metricChooser.area.component.html
  visualization/app/codeCharta/ui/metricChooser/metricChooser.color.component.html
  visualization/app/codeCharta/ui/metricChooser/metricChooser.distribution.component.html
  visualization/app/codeCharta/ui/metricChooser/metricChooser.height.component.html
  visualization/app/codeCharta/ui/nodeContextMenu/nodeContextMenu.component.html
  visualization/app/codeCharta/ui/scenarioDropDown/scenarioDropDown.component.html
  visualization/app/codeCharta/ui/sortingOption/sortingOption.component.html
  visualization/app/codeCharta/util/reduxHelper.ts
  visualization/package-lock.json
  visualization/package.json
Labels: performance

#999 Bug/improve performance
  CHANGELOG.md
  visualization/app/codeCharta/util/deltaGenerator.ts
  visualization/package-lock.json
  visualization/package.json
Labels: performance
