Repository MaibornWolff/codecharta, pull requests merged in 2020-05, with the labels that each got.

#947 Bug/730/delta mode broken with exported files
  CHANGELOG.md
  visualization/app/codeCharta/util/__snapshots__/mapBuilder.spec.ts.snap
  visualization/app/codeCharta/util/dataMocks.ts
  visualization/app/codeCharta/util/mapBuilder.spec.ts
  visualization/app/codeCharta/util/mapBuilder.ts
Labels: bug, pr-visualization

#945 Tech/remove files class
  TECHNICAL_DEBT.md
  visualization/app/codeCharta/codeCharta.component.ts
  visualization/app/codeCharta/codeCharta.model.ts
  visualization/app/codeCharta/codeCharta.service.spec.ts
  visualization/app/codeCharta/codeCharta.service.ts
  visualization/app/codeCharta/model/files.spec.ts
  visualization/app/codeCharta/model/files.ts
  visualization/app/codeCharta/model/files/files.helper.spec.ts
  visualization/app/codeCharta/model/files/files.helper.ts
  visualization/app/codeCharta/model/files/files.ts
  visualization/app/codeCharta/state/edgeMetricData.service.spec.ts
  visualization/app/codeCharta/state/edgeMetricData.service.ts
  visualization/app/codeCharta/state/metric.service.ts
  visualization/app/codeCharta/state/store/dynamicSettings/colorRange/colorRange.service.ts
  visualization/app/codeCharta/state/store/dynamicSettings/focusedNodePath/focusedNodePath.service.ts
  visualization/app/codeCharta/state/store/dynamicSettings/searchPattern/searchPattern.service.spec.ts
  visualization/app/codeCharta/state/store/dynamicSettings/searchPattern/searchPattern.service.ts
  visualization/app/codeCharta/state/store/fileSettings/attributeTypes/attributeTypes.service.ts
  visualization/app/codeCharta/state/store/fileSettings/blacklist/blacklist.service.ts
  visualization/app/codeCharta/state/store/fileSettings/edges/edges.service.ts
  visualization/app/codeCharta/state/store/fileSettings/markedPackages/markedPackages.service.ts
  visualization/app/codeCharta/state/store/files/files.actions.ts
  visualization/app/codeCharta/state/store/files/files.reducer.spec.ts
  visualization/app/codeCharta/state/store/files/files.reducer.ts
  visualization/app/codeCharta/state/store/files/files.service.ts
  visualization/app/codeCharta/state/store/files/files.splitter.ts
  visualization/app/codeCharta/ui/areaSettingsPanel/areaSettingsPanel.component.ts
  visualization/app/codeCharta/ui/codeMap/codeMap.mouseEvent.service.ts
  visualization/app/codeCharta/ui/codeMap/codeMap.preRender.service.ts
  visualization/app/codeCharta/ui/codeMap/codeMap.render.service.ts
  visualization/app/codeCharta/ui/codeMap/threeViewer/threeOrbitControlsService.ts
  visualization/app/codeCharta/ui/colorSettingsPanel/colorSettingsPanel.component.ts
  visualization/app/codeCharta/ui/dialog/dialog.download.component.ts
  visualization/app/codeCharta/ui/filePanel/filePanel.component.html
  visualization/app/codeCharta/ui/filePanel/filePanel.component.spec.ts
  visualization/app/codeCharta/ui/filePanel/filePanel.component.ts
  visualization/app/codeCharta/ui/heightSettingsPanel/heightSettingsPanel.component.ts
  visualization/app/codeCharta/ui/legendPanel/legendPanel.component.ts
  visualization/app/codeCharta/ui/rangeSlider/rangeSlider.component.ts
  visualization/app/codeCharta/util/dataMocks.ts
Labels: pr-visualization, tech

#950 Fix unfocus-button blocking visibility of attribute side bar
  CHANGELOG.md
  visualization/app/codeCharta/codeCharta.component.scss
  visualization/app/codeCharta/ui/codeMap/codeMap.component.html
  visualization/app/codeCharta/ui/codeMap/codeMap.component.scss
  visualization/app/codeCharta/ui/unfocusButton/unfocusButton.component.html
  visualization/app/codeCharta/ui/unfocusButton/unfocusButton.component.scss
Labels: bug, pr-visualization

#868 Tech/rewrite plop in typescript
  visualization/package-lock.json
  visualization/package.json
  visualization/plop/plopHelper.ts
  visualization/plop/redux.ts
  visualization/plop/reduxSubreducer.ts
  visualization/plop/state.ts
  visualization/plop/templates/redux/actions.ts.hbs
  visualization/plop/templates/redux/reducer.spec.ts.hbs
  visualization/plop/templates/redux/reducer.ts.hbs
  visualization/plop/templates/redux/service.spec.ts.hbs
  visualization/plop/templates/redux/service.ts.hbs
  visualization/plop/templates/redux/splitter.ts.hbs
  visualization/plop/templates/reduxSubreducer/actions.ts.hbs
  visualization/plop/templates/reduxSubreducer/reducer.spec.ts.hbs
  visualization/plop/templates/reduxSubreducer/reducer.ts.hbs
  visualization/plop/templates/reduxSubreducer/splitter.ts.hbs
  visualization/plop/templates/state/service.spec.ts.hbs
  visualization/plop/templates/state/service.ts.hbs
  visualization/plop/templates/ui/component.html.hbs
  visualization/plop/templates/ui/component.scss.hbs
  visualization/plop/templates/ui/component.spec.ts.hbs
  visualization/plop/templates/ui/component.ts.hbs
  visualization/plop/templates/ui/e2e.ts.hbs
  visualization/plop/templates/ui/module.ts.hbs
  visualization/plop/templates/ui/po.ts.hbs
  visualization/plop/templates/util/spec.ts.hbs
  visualization/plop/templates/util/ts.hbs
  visualization/plop/ui.ts
  visualization/plop/util.ts
  visualization/plopfile.js
  visualization/plopfile.ts
Labels: tech
