Repository MaibornWolff/codecharta, pull requests merged in 2020-04, with the labels that each got.

#899 Tech/update issue template bug report
  .github/ISSUE_TEMPLATE/---bug-report.md
Labels: tech

#902 Tech/refactor squarified node interface
  visualization/app/codeCharta/util/treeMapGenerator.spec.ts
  visualization/app/codeCharta/util/treeMapGenerator.ts
  visualization/app/codeCharta/util/treeMapHelper.spec.ts
  visualization/app/codeCharta/util/treeMapHelper.ts
Labels: pr-visualization, tech

#888 Feature/365/attribute types in ccsh
  CHANGELOG.md
  analysis/filter/EdgeFilter/src/main/kotlin/de/maibornwolff/codecharta/filter/edgefilter/EdgeProjectBuilder.kt
  analysis/filter/EdgeFilter/src/test/resources/coupling-empty-nodes.json
  analysis/filter/EdgeFilter/src/test/resources/coupling.json
  analysis/filter/MergeFilter/src/main/kotlin/de/maibornwolff/codecharta/filter/mergefilter/ProjectMerger.kt
  analysis/filter/MergeFilter/src/test/resources/testEdges1.json
  analysis/filter/MergeFilter/src/test/resources/testEdges2.json
  analysis/filter/StructureModifier/src/main/kotlin/de/maibornwolff/codecharta/filter/structuremodifier/FolderMover.kt
  analysis/filter/StructureModifier/src/main/kotlin/de/maibornwolff/codecharta/filter/structuremodifier/NodeRemover.kt
  analysis/filter/StructureModifier/src/main/kotlin/de/maibornwolff/codecharta/filter/structuremodifier/SubProjectExtractor.kt
  analysis/import/CodeMaatImporter/src/main/kotlin/de/maibornwolff/codecharta/importer/codemaat/CSVProjectBuilder.kt
  analysis/import/CodeMaatImporter/src/main/kotlin/de/maibornwolff/codecharta/importer/codemaat/CodeMaatImporter.kt
  analysis/import/SCMLogParser/src/main/kotlin/de/maibornwolff/codecharta/importer/scmlogparser/SCMLogProjectCreator.kt
  analysis/import/SCMLogParser/src/main/kotlin/de/maibornwolff/codecharta/importer/scmlogparser/converter/AttributeTypesFactory.kt
  analysis/import/SCMLogParser/src/main/kotlin/de/maibornwolff/codecharta/importer/scmlogparser/converter/ProjectConverter.kt
  analysis/import/SCMLogParser/src/main/kotlin/de/maibornwolff/codecharta/importer/scmlogparser/input/metrics/AgeInWeeks.kt
  analysis/import/SCMLogParser/src/main/kotlin/de/maibornwolff/codecharta/importer/scmlogparser/input/metrics/AverageCodeChurnPerCommit.kt
  analysis/import/SCMLogParser/src/main/kotlin/de/maibornwolff/codecharta/importer/scmlogparser/input/metrics/HighlyCoupledFiles.kt
  analysis/import/SCMLogParser/src/main/kotlin/de/maibornwolff/codecharta/importer/scmlogparser/input/metrics/MedianCoupledFiles.kt
  analysis/import/SCMLogParser/src/main/kotlin/de/maibornwolff/codecharta/importer/scmlogparser/input/metrics/Metric.kt
  analysis/import/SCMLogParser/src/main/kotlin/de/maibornwolff/codecharta/importer/scmlogparser/input/metrics/NumberOfAuthors.kt
  analysis/import/SCMLogParser/src/main/kotlin/de/maibornwolff/codecharta/importer/scmlogparser/input/metrics/RangeOfWeeksWithCommits.kt
  analysis/import/SCMLogParser/src/main/kotlin/de/maibornwolff/codecharta/importer/scmlogparser/input/metrics/SuccessiveWeeksWithCommits.kt
  analysis/import/SCMLogParser/src/main/kotlin/de/maibornwolff/codecharta/importer/scmlogparser/input/metrics/WeeksWithCommits.kt
  analysis/import/SCMLogParser/src/test/kotlin/de/maibornwolff/codecharta/importer/scmlogparser/converter/AttributeTypesFactoryTest.kt
  analysis/import/SCMLogParser/src/test/kotlin/de/maibornwolff/codecharta/importer/scmlogparser/converter/ProjectConverterTest.kt
  analysis/import/SourceCodeParser/src/main/kotlin/de/maibornwolff/codecharta/importer/sourcecodeparser/metricwriters/JSONMetricWriter.kt
  analysis/import/TokeiImporter/src/main/kotlin/de/maibornwolff/codecharta/importer/tokeiimporter/TokeiImporter.kt
  analysis/import/TokeiImporter/src/test/kotlin/de/maibornwolff/codecharta/importer/tokeiimporter/TokeiImporterTest.kt
  analysis/model/src/main/kotlin/de/maibornwolff/codecharta/attributeTypes/AttributeTypes.kt
  analysis/model/src/main/kotlin/de/maibornwolff/codecharta/model/AttributeTypes.kt
  analysis/model/src/main/kotlin/de/maibornwolff/codecharta/model/Project.kt
  analysis/model/src/main/kotlin/de/maibornwolff/codecharta/model/ProjectBuilder.kt
  analysis/model/src/main/kotlin/de/maibornwolff/codecharta/serialization/ProjectJsonDeserializer.kt
  analysis/model/src/test/kotlin/de/maibornwolff/codecharta/model/AttributeTypesTest.kt
  analysis/model/src/test/resources/example.cc.json
  analysis/tools/ValidationTool/src/main/resources/cc.json
  analysis/tools/ValidationTool/src/test/resources/validFile.json
  visualization/app/codeCharta/assets/sample1.cc.json
  visualization/app/codeCharta/assets/sample2.cc.json
  visualization/app/codeCharta/assets/sample3.cc.json
  visualization/app/codeCharta/codeCharta.model.ts
  visualization/app/codeCharta/codeCharta.service.spec.ts
  visualization/app/codeCharta/codeCharta.service.ts
  visualization/app/codeCharta/state/metric.service.spec.ts
  visualization/app/codeCharta/state/metric.service.ts
  visualization/app/codeCharta/state/store/fileSettings/attributeTypes/attributeTypes.actions.ts
  visualization/app/codeCharta/state/store/fileSettings/attributeTypes/attributeTypes.merger.spec.ts
  visualization/app/codeCharta/state/store/fileSettings/attributeTypes/attributeTypes.merger.ts
  visualization/app/codeCharta/state/store/fileSettings/attributeTypes/attributeTypes.reducer.spec.ts
  visualization/app/codeCharta/state/store/fileSettings/attributeTypes/attributeTypes.service.ts
  visualization/app/codeCharta/ui/dialog/dialog.download.component.spec.ts
  visualization/app/codeCharta/ui/dialog/dialog.download.component.ts
  visualization/app/codeCharta/ui/metricType/metricType.component.spec.ts
  visualization/app/codeCharta/util/__snapshots__/aggregationGenerator.spec.ts.snap
  visualization/app/codeCharta/util/aggregationGenerator.ts
  visualization/app/codeCharta/util/dataMocks.ts
  visualization/app/codeCharta/util/deltaGenerator.ts
  visualization/app/codeCharta/util/fileDownloader.ts
  visualization/package-lock.json
Labels: pr-analysis, pr-visualization

#894 Feature/365/Median for relative Metrics
  CHANGELOG.md
  visualization/app/codeCharta/state/edgeMetricData.service.ts
  visualization/app/codeCharta/state/metric.service.spec.ts
  visualization/app/codeCharta/state/metric.service.ts
  visualization/app/codeCharta/ui/codeMap/codeMap.preRender.service.ts
  visualization/app/codeCharta/ui/metricType/areaMetricType.component.html
  visualization/app/codeCharta/ui/metricType/colorMetricType.component.html
  visualization/app/codeCharta/ui/metricType/edgeMetricType.component.html
  visualization/app/codeCharta/ui/metricType/heightMetricType.component.html
  visualization/app/codeCharta/ui/metricType/metricType.component.spec.ts
  visualization/app/codeCharta/ui/metricType/metricType.component.ts
  visualization/app/codeCharta/util/nodeDecorator.spec.ts
  visualization/app/codeCharta/util/nodeDecorator.ts
  visualization/package-lock.json
Labels: pr-visualization

#912 Tech/use constant for unary name
  visualization/app/codeCharta/state/metric.service.spec.ts
  visualization/app/codeCharta/state/metric.service.ts
  visualization/app/codeCharta/ui/mapTreeView/mapTreeView.component.ts
  visualization/app/codeCharta/ui/mapTreeView/mapTreeView.level.component.spec.ts
  visualization/app/codeCharta/ui/mapTreeView/mapTreeView.level.component.ts
  visualization/app/codeCharta/util/dataMocks.ts
  visualization/app/codeCharta/util/fileDownloader.ts
  visualization/app/codeCharta/util/nodeDecorator.spec.ts
  visualization/app/codeCharta/util/nodeDecorator.ts
Labels: pr-visualization, tech

#908 Tech/fix plop import
  visualization/plop-templates/redux/injector.spec.ts.hbs
  visualization/plop-templates/redux/service.ts.hbs
Labels: tech

#909 Tech/rename redux store files
  visualization/app/codeCharta/state/store.service.ts
  visualization/app/codeCharta/state/store/state.reducer.spec.ts
  visualization/app/codeCharta/state/store/state.reducer.ts
Labels: pr-visualization, tech

#903 Bug/tokeiimporter wrong file description
  CHANGELOG.md
  analysis/import/TokeiImporter/src/main/kotlin/de/maibornwolff/codecharta/importer/tokeiimporter/TokeiImporter.kt
Labels: pr-analysis

#907 Tech/move side bar visibility to redux
  visualization/app/codeCharta/codeCharta.model.ts
  visualization/app/codeCharta/state/injector.service.ts
  visualization/app/codeCharta/state/state.module.ts
  visualization/app/codeCharta/state/store.service.ts
  visualization/app/codeCharta/state/store/appSettings/appSettings.actions.ts
  visualization/app/codeCharta/state/store/appSettings/appSettings.reducer.ts
  visualization/app/codeCharta/state/store/appSettings/appSettings.splitter.ts
  visualization/app/codeCharta/state/store/appSettings/isAttributeSideBarVisible/isAttributeSideBarVisible.actions.ts
  visualization/app/codeCharta/state/store/appSettings/isAttributeSideBarVisible/isAttributeSideBarVisible.reducer.spec.ts
  visualization/app/codeCharta/state/store/appSettings/isAttributeSideBarVisible/isAttributeSideBarVisible.reducer.ts
  visualization/app/codeCharta/state/store/appSettings/isAttributeSideBarVisible/isAttributeSideBarVisible.service.spec.ts
  visualization/app/codeCharta/state/store/appSettings/isAttributeSideBarVisible/isAttributeSideBarVisible.service.ts
  visualization/app/codeCharta/state/store/appSettings/isAttributeSideBarVisible/isAttributeSideBarVisible.splitter.ts
  visualization/app/codeCharta/ui/attributeSideBar/attributeSideBar.component.spec.ts
  visualization/app/codeCharta/ui/attributeSideBar/attributeSideBar.component.ts
  visualization/app/codeCharta/ui/attributeSideBar/attributeSideBar.module.ts
  visualization/app/codeCharta/ui/attributeSideBar/attributeSideBar.service.spec.ts
  visualization/app/codeCharta/ui/attributeSideBar/attributeSideBar.service.ts
  visualization/app/codeCharta/ui/codeMap/codeMap.component.ts
  visualization/app/codeCharta/ui/codeMap/codeMap.preRender.service.ts
  visualization/app/codeCharta/ui/legendPanel/legendPanel.component.spec.ts
  visualization/app/codeCharta/ui/legendPanel/legendPanel.component.ts
  visualization/app/codeCharta/util/dataMocks.ts
Labels: pr-visualization, tech

#895 Feature/attribute type selector
  CHANGELOG.md
  visualization/app/codeCharta/state/metric.service.ts
  visualization/app/codeCharta/state/store/fileSettings/attributeTypes/attributeTypes.actions.ts
  visualization/app/codeCharta/state/store/fileSettings/attributeTypes/attributeTypes.reducer.spec.ts
  visualization/app/codeCharta/state/store/fileSettings/attributeTypes/attributeTypes.reducer.ts
  visualization/app/codeCharta/ui/attributeTypeSelector/attributeTypeSelector.component.html
  visualization/app/codeCharta/ui/attributeTypeSelector/attributeTypeSelector.component.scss
  visualization/app/codeCharta/ui/attributeTypeSelector/attributeTypeSelector.component.spec.ts
  visualization/app/codeCharta/ui/attributeTypeSelector/attributeTypeSelector.component.ts
  visualization/app/codeCharta/ui/attributeTypeSelector/attributeTypeSelector.module.ts
  visualization/app/codeCharta/ui/edgeChooser/edgeChooser.component.html
  visualization/app/codeCharta/ui/metricChooser/metricChooser.area.component.html
  visualization/app/codeCharta/ui/metricChooser/metricChooser.color.component.html
  visualization/app/codeCharta/ui/metricChooser/metricChooser.component.scss
  visualization/app/codeCharta/ui/metricChooser/metricChooser.height.component.html
  visualization/app/codeCharta/ui/metricType/areaMetricType.component.html
  visualization/app/codeCharta/ui/metricType/colorMetricType.component.html
  visualization/app/codeCharta/ui/metricType/edgeMetricType.component.html
  visualization/app/codeCharta/ui/metricType/heightMetricType.component.html
  visualization/app/codeCharta/ui/metricType/metricType.component.html
  visualization/app/codeCharta/ui/metricType/metricType.component.spec.ts
  visualization/app/codeCharta/ui/metricType/metricType.component.ts
  visualization/app/codeCharta/ui/metricType/metricType.module.ts
  visualization/app/codeCharta/ui/metricValueHovered/metricValueHovered.area.component.html
  visualization/app/codeCharta/ui/metricValueHovered/metricValueHovered.color.component.html
  visualization/app/codeCharta/ui/metricValueHovered/metricValueHovered.height.component.html
  visualization/app/codeCharta/ui/ui.ts
Labels: pr-visualization

#911 Feature/780/treeview click events
  CHANGELOG.md
  visualization/app/codeCharta/codeCharta.component.scss
  visualization/app/codeCharta/ui/mapTreeView/mapTreeView.component.scss
  visualization/app/codeCharta/ui/mapTreeView/mapTreeView.component.ts
  visualization/app/codeCharta/ui/mapTreeView/mapTreeView.level.component.html
  visualization/app/codeCharta/ui/mapTreeView/mapTreeView.level.component.spec.ts
  visualization/app/codeCharta/ui/mapTreeView/mapTreeView.level.component.ts
Labels: pr-visualization

#915 Tech/enhance travis build performance
  .travis.yml
  analysis/script/travis-build.sh
  visualization/script/travis-build.sh
Labels: tech

#916 Bugfix/travis deployment as stage
  .travis.yml
Labels: bug, tech

#914 Bug/837/improve search performance
  CHANGELOG.md
  visualization/app/codeCharta/codeCharta.model.ts
  visualization/app/codeCharta/state/nodeSearch.service.spec.ts
  visualization/app/codeCharta/state/nodeSearch.service.ts
  visualization/app/codeCharta/state/store/dynamicSettings/dynamicSettings.splitter.ts
  visualization/app/codeCharta/state/store/dynamicSettings/searchedNodePaths/searchedNodePaths.actions.ts
  visualization/app/codeCharta/state/store/dynamicSettings/searchedNodePaths/searchedNodePaths.reducer.spec.ts
  visualization/app/codeCharta/state/store/dynamicSettings/searchedNodePaths/searchedNodePaths.reducer.ts
  visualization/app/codeCharta/state/store/dynamicSettings/searchedNodePaths/searchedNodePaths.service.spec.ts
  visualization/app/codeCharta/state/store/dynamicSettings/searchedNodePaths/searchedNodePaths.service.ts
  visualization/app/codeCharta/state/store/dynamicSettings/searchedNodePaths/searchedNodePaths.splitter.ts
  visualization/app/codeCharta/ui/mapTreeView/mapTreeView.component.ts
  visualization/app/codeCharta/ui/mapTreeView/mapTreeView.level.component.spec.ts
  visualization/app/codeCharta/ui/mapTreeView/mapTreeView.level.component.ts
  visualization/app/codeCharta/util/dataMocks.ts
  visualization/app/codeCharta/util/treeMapHelper.spec.ts
  visualization/app/codeCharta/util/treeMapHelper.ts
Labels: bug, pr-visualization

#910 Tech/878/eslint recommended ruleset
  visualization/.eslintrc.js
Labels: tech

#917 Tech/travis run deploy only on tag
  .travis.yml
  analysis/build.gradle
Labels: tech

#918 tech/travis release on tag with any branch
  .travis.yml
Labels: tech

#919 Tech/travis deploy gh pages later
  .travis.yml
Labels: tech

#922 Revert travis changes
  .travis.yml
  analysis/script/travis-build.sh
  visualization/script/travis-build.sh
Labels: tech

#924 Tech/eslint use more rules
  visualization/.eslintrc.js
  visualization/app/codeCharta/util/fileNameHelper.ts
  visualization/app/codeCharta/util/nodeDecorator.ts
  visualization/app/codeCharta/util/settingsHelper.ts
  visualization/app/codeCharta/util/urlExtractor.ts
Labels: pr-visualization, tech

#927 Add travis stages
  .travis.yml
  visualization/script/travis-build.sh
Labels: tech

#913 Bug/836/improve blacklist performance
  CHANGELOG.md
  visualization/app/codeCharta/codeCharta.model.ts
  visualization/app/codeCharta/codeCharta.service.spec.ts
  visualization/app/codeCharta/state/metric.service.ts
  visualization/app/codeCharta/ui/codeMap/__snapshots__/codeMap.preRender.service.spec.ts.snap
  visualization/app/codeCharta/ui/codeMap/codeMap.preRender.service.spec.ts
  visualization/app/codeCharta/ui/codeMap/codeMap.preRender.service.ts
  visualization/app/codeCharta/ui/codeMap/codeMap.render.service.spec.ts
  visualization/app/codeCharta/ui/codeMap/codeMap.render.service.ts
  visualization/app/codeCharta/ui/fileExtensionBar/fileExtensionBar.component.spec.ts
  visualization/app/codeCharta/ui/fileExtensionBar/fileExtensionBar.component.ts
  visualization/app/codeCharta/ui/mapTreeView/mapTreeView.level.component.html
  visualization/app/codeCharta/ui/mapTreeView/mapTreeView.level.component.spec.ts
  visualization/app/codeCharta/ui/mapTreeView/mapTreeView.level.component.ts
  visualization/app/codeCharta/ui/matchingFilesCounter/matchingFilesCounter.component.spec.ts
  visualization/app/codeCharta/ui/matchingFilesCounter/matchingFilesCounter.component.ts
  visualization/app/codeCharta/ui/nodeContextMenu/nodeContextMenu.component.html
  visualization/app/codeCharta/util/__snapshots__/aggregationGenerator.spec.ts.snap
  visualization/app/codeCharta/util/__snapshots__/mapBuilder.spec.ts.snap
  visualization/app/codeCharta/util/__snapshots__/treeMapGenerator.spec.ts.snap
  visualization/app/codeCharta/util/__snapshots__/treeMapHelper.spec.ts.snap
  visualization/app/codeCharta/util/aggregationGenerator.ts
  visualization/app/codeCharta/util/codeMapHelper.spec.ts
  visualization/app/codeCharta/util/codeMapHelper.ts
  visualization/app/codeCharta/util/dataMocks.ts
  visualization/app/codeCharta/util/deltaGenerator.spec.ts
  visualization/app/codeCharta/util/fileDownloader.ts
  visualization/app/codeCharta/util/fileExtensionCalculator.spec.ts
  visualization/app/codeCharta/util/fileExtensionCalculator.ts
  visualization/app/codeCharta/util/mapBuilder.spec.ts
  visualization/app/codeCharta/util/nodeDecorator.spec.ts
  visualization/app/codeCharta/util/nodeDecorator.ts
  visualization/app/codeCharta/util/treeMapGenerator.spec.ts
  visualization/app/codeCharta/util/treeMapGenerator.ts
  visualization/app/codeCharta/util/treeMapHelper.spec.ts
  visualization/app/codeCharta/util/treeMapHelper.ts
Labels: bug, pr-visualization

#928 Tech/update travis
  .travis.yml
  analysis/script/sonar-publish.sh
  visualization/script/sonar-publish.sh
Labels: tech

#930 Tech/matching id for node and building
  visualization/app/codeCharta/codeCharta.model.ts
  visualization/app/codeCharta/codeCharta.service.spec.ts
  visualization/app/codeCharta/ui/codeMap/__snapshots__/codeMap.preRender.service.spec.ts.snap
  visualization/app/codeCharta/ui/codeMap/__snapshots__/codeMap.render.service.spec.ts.snap
  visualization/app/codeCharta/util/__snapshots__/treeMapGenerator.spec.ts.snap
  visualization/app/codeCharta/util/__snapshots__/treeMapHelper.spec.ts.snap
  visualization/app/codeCharta/util/dataMocks.ts
  visualization/app/codeCharta/util/nodeDecorator.spec.ts
  visualization/app/codeCharta/util/nodeDecorator.ts
  visualization/app/codeCharta/util/treeMapHelper.ts
Labels: pr-visualization, tech

#932 Feature/610/helpful message if scheme doesnt match ccjson ajv
  visualization/app/codeCharta/util/fileValidator.ts
  visualization/package-lock.json
  visualization/package.json
Labels: pr-visualization

#933 Eslint: Enable no unused vars
  visualization/.eslintrc.js
  visualization/app/codeCharta/state/store/appSettings/sortingOrderAscending/sortingOrderAscending.service.ts
  visualization/app/codeCharta/state/store/fileSettings/attributeTypes/attributeTypes.merger.ts
  visualization/app/codeCharta/state/store/fileSettings/blacklist/blacklist.service.ts
  visualization/app/codeCharta/ui/attributeSideBar/attributeSideBar.module.ts
  visualization/app/codeCharta/ui/dialog/dialog.globalSettings.component.spec.ts
  visualization/app/codeCharta/ui/loadingGif/loadingGif.module.ts
  visualization/tsconfig.json
Labels: pr-visualization, tech

#936 Eslint: Enable camelCase rule
  visualization/.eslintrc.js
  visualization/app/codeCharta/state/edgeMetricData.service.spec.ts
Labels: pr-visualization, tech

#934 Eslint: Enable prefer const rule
  visualization/.eslintrc.js
  visualization/app/codeCharta/codeCharta.service.spec.ts
  visualization/app/codeCharta/codeCharta.service.ts
  visualization/app/codeCharta/e2e/url.e2e.ts
  visualization/app/codeCharta/state/edgeMetricData.service.ts
  visualization/app/codeCharta/state/store/dynamicSettings/margin/margin.reset.ts
  visualization/app/codeCharta/state/store/fileSettings/attributeTypes/attributeTypes.merger.ts
  visualization/app/codeCharta/state/store/fileSettings/blacklist/blacklist.merger.ts
  visualization/app/codeCharta/state/store/fileSettings/edges/edges.merger.ts
  visualization/app/codeCharta/state/store/fileSettings/markedPackages/markedPackages.merger.ts
  visualization/app/codeCharta/state/store/files/files.reducer.spec.ts
  visualization/app/codeCharta/ui/areaSettingsPanel/areaSettingsPanel.component.spec.ts
  visualization/app/codeCharta/ui/codeMap/codeMap.label.service.spec.ts
  visualization/app/codeCharta/ui/codeMap/codeMap.label.service.ts
  visualization/app/codeCharta/ui/codeMap/codeMap.mouseEvent.service.ts
  visualization/app/codeCharta/ui/codeMap/codeMap.preRender.service.ts
  visualization/app/codeCharta/ui/codeMap/rendering/boxGeometryGenerationHelper.ts
  visualization/app/codeCharta/ui/codeMap/rendering/codeMapGeometricDescription.ts
  visualization/app/codeCharta/ui/codeMap/rendering/geometryGenerator.ts
  visualization/app/codeCharta/ui/codeMap/rendering/rendering.spec.ts
  visualization/app/codeCharta/ui/codeMap/threeViewer/threeUpdateCycleService.spec.ts
  visualization/app/codeCharta/ui/dialog/dialog.service.ts
  visualization/app/codeCharta/ui/edgeChooser/edgeChooser.component.spec.ts
  visualization/app/codeCharta/ui/fileChooser/fileChooser.component.ts
  visualization/app/codeCharta/ui/fileExtensionBar/fileExtensionBar.component.spec.ts
  visualization/app/codeCharta/ui/heightSettingsPanel/heightSettingsPanel.component.spec.ts
  visualization/app/codeCharta/ui/mapTreeView/mapTreeView.level.component.spec.ts
  visualization/app/codeCharta/ui/mapTreeView/mapTreeView.level.component.ts
  visualization/app/codeCharta/ui/mapTreeView/mapTreeView.module.ts
  visualization/app/codeCharta/ui/matchingFilesCounter/matchingFilesCounter.component.spec.ts
  visualization/app/codeCharta/ui/searchBar/searchBar.component.spec.ts
  visualization/app/codeCharta/util/aggregationGenerator.spec.ts
  visualization/app/codeCharta/util/aggregationGenerator.ts
  visualization/app/codeCharta/util/codeMapHelper.ts
  visualization/app/codeCharta/util/color/colorConverter.ts
  visualization/app/codeCharta/util/deltaGenerator.spec.ts
  visualization/app/codeCharta/util/deltaGenerator.ts
  visualization/app/codeCharta/util/fileDownloader.ts
  visualization/app/codeCharta/util/fileExtensionCalculator.ts
  visualization/app/codeCharta/util/fileValidator.ts
  visualization/app/codeCharta/util/nodeDecorator.ts
  visualization/app/codeCharta/util/settingsHelper.ts
  visualization/app/codeCharta/util/treeMapGenerator.spec.ts
  visualization/app/codeCharta/util/treeMapGenerator.ts
  visualization/app/codeCharta/util/treeMapHelper.spec.ts
  visualization/app/codeCharta/util/treeMapHelper.ts
  visualization/app/codeCharta/util/urlExtractor.ts
Labels: pr-visualization, tech

#935 Eslint: Enable no-empty-interface rule
  visualization/.eslintrc.js
  visualization/app/codeCharta/util/treeMapGenerator.ts
  visualization/app/codeCharta/util/treeMapHelper.spec.ts
  visualization/app/codeCharta/util/treeMapHelper.ts
Labels: pr-visualization, tech

#937 Eslint: Enable no-empty-functions
  visualization/.eslintrc.js
Labels: pr-visualization, tech

#921 Feature/694/highlight buildings in folder
  CHANGELOG.md
  visualization/app/codeCharta/codeCharta.model.ts
  visualization/app/codeCharta/state/injector.service.ts
  visualization/app/codeCharta/state/state.module.ts
  visualization/app/codeCharta/state/store/lookUp/idToBuilding/idToBuilding.actions.ts
  visualization/app/codeCharta/state/store/lookUp/idToBuilding/idToBuilding.reducer.spec.ts
  visualization/app/codeCharta/state/store/lookUp/idToBuilding/idToBuilding.reducer.ts
  visualization/app/codeCharta/state/store/lookUp/idToBuilding/idToBuilding.service.spec.ts
  visualization/app/codeCharta/state/store/lookUp/idToBuilding/idToBuilding.service.ts
  visualization/app/codeCharta/state/store/lookUp/idToBuilding/idToBuilding.splitter.ts
  visualization/app/codeCharta/state/store/lookUp/idToNode/idToNode.actions.ts
  visualization/app/codeCharta/state/store/lookUp/idToNode/idToNode.reducer.spec.ts
  visualization/app/codeCharta/state/store/lookUp/idToNode/idToNode.reducer.ts
  visualization/app/codeCharta/state/store/lookUp/idToNode/idToNode.service.spec.ts
  visualization/app/codeCharta/state/store/lookUp/idToNode/idToNode.service.ts
  visualization/app/codeCharta/state/store/lookUp/idToNode/idToNode.splitter.ts
  visualization/app/codeCharta/state/store/lookUp/lookUp.actions.ts
  visualization/app/codeCharta/state/store/lookUp/lookUp.reducer.spec.ts
  visualization/app/codeCharta/state/store/lookUp/lookUp.reducer.ts
  visualization/app/codeCharta/state/store/lookUp/lookUp.splitter.ts
  visualization/app/codeCharta/state/store/state.actions.ts
  visualization/app/codeCharta/state/store/state.reducer.ts
  visualization/app/codeCharta/state/store/state.splitter.ts
  visualization/app/codeCharta/ui/codeMap/codeMap.mouseEvent.service.spec.ts
  visualization/app/codeCharta/ui/codeMap/codeMap.mouseEvent.service.ts
  visualization/app/codeCharta/ui/codeMap/rendering/codeMapMesh.ts
  visualization/app/codeCharta/ui/codeMap/threeViewer/threeSceneService.ts
  visualization/app/codeCharta/util/dataMocks.ts
  visualization/plopfile.js
Labels: pr-visualization

#941 Eslint: Add object-shorthand-rule
  visualization/.eslintrc.js
  visualization/app/codeCharta/codeCharta.service.ts
  visualization/app/codeCharta/state/store.service.ts
  visualization/app/codeCharta/state/store/fileSettings/attributeTypes/attributeTypes.actions.ts
  visualization/app/codeCharta/ui/codeMap/codeMap.actions.service.ts
  visualization/app/codeCharta/ui/codeMap/codeMap.label.service.ts
  visualization/app/codeCharta/ui/codeMap/codeMap.mouseEvent.service.ts
  visualization/app/codeCharta/ui/codeMap/rendering/codeMapMesh.ts
  visualization/app/codeCharta/ui/codeMap/rendering/geometryGenerator.ts
  visualization/app/codeCharta/ui/dialog/dialog.download.component.ts
  visualization/app/codeCharta/ui/fileChooser/fileChooser.component.spec.ts
  visualization/app/codeCharta/ui/fileChooser/fileChooser.component.ts
  visualization/app/codeCharta/ui/legendPanel/legendPanel.component.ts
  visualization/app/codeCharta/ui/nodeContextMenu/nodeContextMenu.component.ts
  visualization/app/codeCharta/ui/viewCube/viewCube.component.ts
  visualization/app/codeCharta/ui/viewCube/viewCube.meshGenerator.ts
  visualization/app/codeCharta/ui/viewCube/viewCube.mouseEvents.service.ts
  visualization/app/codeCharta/util/deltaGenerator.ts
  visualization/app/codeCharta/util/fileExtensionCalculator.ts
  visualization/app/codeCharta/util/treeMapHelper.spec.ts
Labels: pr-visualization, tech

#942 Change move show complete map button under the viewcube
  CHANGELOG.md
  visualization/app/codeCharta/codeCharta.component.html
  visualization/app/codeCharta/codeCharta.component.scss
  visualization/app/codeCharta/ui/codeMap/codeMap.component.html
  visualization/app/codeCharta/ui/unfocusButton/unfocusButton.component.html
  visualization/app/codeCharta/ui/unfocusButton/unfocusButton.component.scss
Labels: pr-visualization
