Repository MaibornWolff/codecharta, pull requests merged in 2020-10, with the labels that each got.

#1303 Feature/1277/support java 14
  CHANGELOG.md
  analysis/build.gradle
  analysis/import/SourceCodeParser/src/main/kotlin/de/maibornwolff/codecharta/importer/sourcecodeparser/SourceCodeParserMain.kt
  analysis/import/SourceCodeParser/src/main/kotlin/de/maibornwolff/codecharta/importer/sourcecodeparser/sonaranalyzers/JavaSonarAnalyzer.kt
  analysis/import/SourceCodeParser/src/test/kotlin/de/maibornwolff/codecharta/importer/sourcecodeparser/ProjectParserTest.kt
  analysis/import/SourceCodeParser/src/test/kotlin/de/maibornwolff/codecharta/importer/sourcecodeparser/ProjectTraverserTest.kt
  analysis/import/SourceCodeParser/src/test/kotlin/de/maibornwolff/codecharta/importer/sourcecodeparser/e2e/ExcludeFilesAndFolders.kt
  analysis/import/SourceCodeParser/src/test/kotlin/de/maibornwolff/codecharta/importer/sourcecodeparser/e2e/FileDoesNotExist.kt
  analysis/import/SourceCodeParser/src/test/kotlin/de/maibornwolff/codecharta/importer/sourcecodeparser/e2e/ParseFileToJson.kt
  analysis/import/SourceCodeParser/src/test/kotlin/de/maibornwolff/codecharta/importer/sourcecodeparser/e2e/ParseFileToTable.kt
  analysis/import/SourceCodeParser/src/test/kotlin/de/maibornwolff/codecharta/importer/sourcecodeparser/e2e/ParseFolderToJson.kt
  analysis/import/SourceCodeParser/src/test/kotlin/de/maibornwolff/codecharta/importer/sourcecodeparser/e2e/ParseFolderToTable.kt
  analysis/import/SourceCodeParser/src/test/kotlin/de/maibornwolff/codecharta/importer/sourcecodeparser/e2e/PipedInputStream.kt
  analysis/import/SourceCodeParser/src/test/kotlin/de/maibornwolff/codecharta/importer/sourcecodeparser/metrics/FileMetricsTest.kt
  analysis/import/SourceCodeParser/src/test/kotlin/de/maibornwolff/codecharta/importer/sourcecodeparser/metrics/ProjectMetricsTest.kt
  analysis/import/SourceCodeParser/src/test/kotlin/de/maibornwolff/codecharta/importer/sourcecodeparser/metricwriters/CSVMetricWriterTest.kt
  analysis/import/SourceCodeParser/src/test/kotlin/de/maibornwolff/codecharta/importer/sourcecodeparser/metricwriters/JSONMetricWriterTest.kt
  analysis/import/SourceCodeParser/src/test/kotlin/de/maibornwolff/codecharta/importer/sourcecodeparser/sourcecodeparser/JavaSonarAnalyzerTest.kt
  analysis/import/SourceCodeParser/src/test/kotlin/de/maibornwolff/codecharta/importer/sourcecodeparser/visitors/MaxNestingLevelVisitorTest.kt
  analysis/import/SourceCodeParser/src/test/resources/sampleproject/Java14.java
  analysis/tools/ccsh/build.gradle
  visualization/app/codeCharta/ui/legendPanel/legendPanel.component.html
  visualization/app/codeCharta/ui/legendPanel/legendPanel.component.ts
Labels: java, pr-analysis

#1320 Fix/1266/first startup fails
  CHANGELOG.md
  analysis/node-wrapper/package-lock.json
  analysis/node-wrapper/package.json
  gh-pages/_posts/release/2020-10-09-v1_59_0.md
  visualization/app/codeCharta/state/store/dynamicSettings/margin/margin.reset.ts
  visualization/app/codeCharta/ui/mapTreeView/mapTreeView.level.component.spec.ts
  visualization/app/codeCharta/ui/mapTreeView/mapTreeView.level.component.ts
  visualization/app/codeCharta/ui/nodeContextMenu/nodeContextMenu.component.html
  visualization/app/codeCharta/ui/nodeContextMenu/nodeContextMenu.component.spec.ts
  visualization/app/codeCharta/ui/nodeContextMenu/nodeContextMenu.component.ts
  visualization/app/codeCharta/ui/unfocusButton/unfocusButton.component.ts
  visualization/app/codeCharta/util/treeMapGenerator.ts
  visualization/package-lock.json
  visualization/package.json
Labels: bug, pr-visualization-desktop

#1421 Tech/dependabot/adjust dependency update schedule
  .github/dependabot.yml
  .github/workflows/auto-approve-and-merge.yml
  CHANGELOG.md
Labels: dependencies, tech
