Repository MaibornWolff/codecharta, pull requests merged in 2020-09, with the labels that each got.

#1200 Fix/improve merge performance
  CHANGELOG.md
  visualization/app/codeCharta/state/store/fileSettings/blacklist/blacklist.merger.ts
  visualization/app/codeCharta/state/store/fileSettings/edges/edges.merger.ts
  visualization/app/codeCharta/state/store/fileSettings/markedPackages/markedPackages.merger.ts
Labels: performance, pr-visualization

#1141 Fix/1036/close panels when clicking somewhere else
  CHANGELOG.md
  analysis/README.md
  visualization/app/codeCharta/codeCharta.component.html
  visualization/app/codeCharta/codeCharta.component.spec.ts
  visualization/app/codeCharta/codeCharta.component.ts
  visualization/app/codeCharta/codeCharta.model.ts
  visualization/app/codeCharta/codeCharta.module.ts
  visualization/app/codeCharta/codeCharta.mouseEvent.service.spec.ts
  visualization/app/codeCharta/codeCharta.mouseEvent.service.ts
  visualization/app/codeCharta/state/injector.service.ts
  visualization/app/codeCharta/state/state.module.ts
  visualization/app/codeCharta/state/store.service.ts
  visualization/app/codeCharta/state/store/appSettings/appSettings.actions.ts
  visualization/app/codeCharta/state/store/appSettings/appSettings.reducer.ts
  visualization/app/codeCharta/state/store/appSettings/appSettings.splitter.ts
  visualization/app/codeCharta/state/store/appSettings/panelSelection/panelSelection.actions.ts
  visualization/app/codeCharta/state/store/appSettings/panelSelection/panelSelection.reducer.spec.ts
  visualization/app/codeCharta/state/store/appSettings/panelSelection/panelSelection.reducer.ts
  visualization/app/codeCharta/state/store/appSettings/panelSelection/panelSelection.service.spec.ts
  visualization/app/codeCharta/state/store/appSettings/panelSelection/panelSelection.service.ts
  visualization/app/codeCharta/state/store/appSettings/panelSelection/panelSelection.splitter.ts
  visualization/app/codeCharta/ui/codeMap/codeMap.preRender.service.ts
  visualization/app/codeCharta/ui/ribbonBar/ribbonBar.component.html
  visualization/app/codeCharta/ui/ribbonBar/ribbonBar.component.spec.ts
  visualization/app/codeCharta/ui/ribbonBar/ribbonBar.component.ts
  visualization/app/codeCharta/ui/ribbonBar/ribbonBar.e2e.ts
  visualization/app/codeCharta/ui/searchPanel/searchPanel.component.html
  visualization/app/codeCharta/ui/searchPanel/searchPanel.component.spec.ts
  visualization/app/codeCharta/ui/searchPanel/searchPanel.component.ts
  visualization/app/codeCharta/util/dataMocks.ts
Labels: bug, pr-visualization

#1218 Tech/use-option-object-instead-of-boolean
  visualization/app/codeCharta/state/store.service.spec.ts
  visualization/app/codeCharta/state/store.service.ts
  visualization/app/codeCharta/state/store/lookUp/idToBuilding/idToBuilding.service.ts
  visualization/app/codeCharta/state/store/lookUp/idToNode/idToNode.service.ts
  visualization/app/codeCharta/ui/codeMap/threeViewer/threeCameraService.ts
  visualization/app/codeCharta/ui/codeMap/threeViewer/threeOrbitControlsService.ts
Labels: pr-visualization, tech

#1219 Fix/1202/standalone broken
  .prettierignore
  CHANGELOG.md
  visualization/app/codeCharta/ui/attributeTypeSelector/attributeTypeSelector.component.html
  visualization/app/codeCharta/ui/blacklistPanel/blacklistPanel.exclude.component.html
  visualization/app/codeCharta/ui/blacklistPanel/blacklistPanel.flatten.component.html
  visualization/app/codeCharta/ui/searchBar/searchBar.component.html
  visualization/app/codeCharta/util/fileNameHelper.spec.ts
  visualization/package.json
Labels: bug, pr-visualization-desktop

#992 ESLint: enable no var requires rule
  CHANGELOG.md
  gh-pages/_posts/dev-guide/2020-07-31-e2e-testing-with-puppeteer.md
  visualization/.eslintignore
  visualization/.eslintrc.js
  visualization/app/codeCharta/codeCharta.component.spec.ts
  visualization/app/codeCharta/codeCharta.component.ts
  visualization/app/codeCharta/e2e/logo.e2e.ts
  visualization/app/codeCharta/e2e/url.e2e.ts
  visualization/app/codeCharta/state/store/dynamicSettings/colorRange/colorRange.reducer.ts
  visualization/app/codeCharta/state/store/fileSettings/attributeTypes/attributeTypes.reducer.ts
  visualization/app/codeCharta/state/store/fileSettings/blacklist/blacklist.reducer.ts
  visualization/app/codeCharta/state/store/fileSettings/edges/edges.reducer.ts
  visualization/app/codeCharta/state/store/fileSettings/markedPackages/markedPackages.reducer.ts
  visualization/app/codeCharta/state/store/files/files.reducer.ts
  visualization/app/codeCharta/state/store/metricData/edgeMetricData/edgeMetricData.reducer.ts
  visualization/app/codeCharta/state/store/metricData/nodeMetricData/nodeMetricData.reducer.ts
  visualization/app/codeCharta/ui/codeMap/codeMap.preRender.service.ts
  visualization/app/codeCharta/ui/codeMap/threeViewer/threeOrbitControlsService.ts
  visualization/app/codeCharta/ui/fileChooser/fileChooser.component.html
  visualization/app/codeCharta/ui/fileChooser/fileChooser.component.ts
  visualization/app/codeCharta/ui/mapTreeView/mapTreeView.component.ts
  visualization/app/codeCharta/util/aggregationGenerator.ts
  visualization/app/codeCharta/util/clone.spec.ts
  visualization/app/codeCharta/util/clone.ts
  visualization/app/codeCharta/util/deltaGenerator.ts
  visualization/app/codeCharta/util/fileDownloader.ts
  visualization/app/codeCharta/util/fileValidator.spec.ts
  visualization/app/codeCharta/util/fileValidator.ts
  visualization/app/codeCharta/util/reduxHelper.ts
  visualization/app/codeCharta/util/scenarioHelper.spec.ts
  visualization/app/codeCharta/util/scenarioHelper.ts
  visualization/app/puppeteer.helper.ts
  visualization/package-lock.json
  visualization/plop/templates/redux/reducer.ts.hbs
Labels: tech

#1237 Tech/Replace lodash clone with rfdc
  visualization/app/codeCharta/codeCharta.service.spec.ts
  visualization/app/codeCharta/state/store/dynamicSettings/margin/margin.service.spec.ts
  visualization/app/codeCharta/state/store/fileSettings/blacklist/blacklist.merger.spec.ts
  visualization/app/codeCharta/state/store/fileSettings/edges/edges.merger.spec.ts
  visualization/app/codeCharta/state/store/fileSettings/markedPackages/markedPackages.merger.spec.ts
  visualization/app/codeCharta/state/store/metricData/edgeMetricData/edgeMetricData.reducer.spec.ts
  visualization/app/codeCharta/state/store/metricData/edgeMetricData/edgeMetricData.service.spec.ts
  visualization/app/codeCharta/state/store/metricData/nodeMetricData/nodeMetricData.reducer.spec.ts
  visualization/app/codeCharta/ui/attributeSideBar/attributeSideBar.component.spec.ts
  visualization/app/codeCharta/ui/codeMap/codeMap.actions.service.spec.ts
  visualization/app/codeCharta/ui/codeMap/codeMap.mouseEvent.service.spec.ts
  visualization/app/codeCharta/ui/codeMap/codeMap.preRender.service.spec.ts
  visualization/app/codeCharta/ui/codeMap/codeMap.render.service.spec.ts
  visualization/app/codeCharta/ui/codeMap/threeViewer/threeSceneService.spec.ts
  visualization/app/codeCharta/ui/edgeChooser/edgeChooser.component.spec.ts
  visualization/app/codeCharta/ui/fileChooser/fileChooser.component.spec.ts
  visualization/app/codeCharta/ui/fileExtensionBar/fileExtensionBar.component.spec.ts
  visualization/app/codeCharta/ui/mapTreeView/mapTreeView.component.spec.ts
  visualization/app/codeCharta/ui/mapTreeView/mapTreeView.level.component.spec.ts
  visualization/app/codeCharta/ui/metricDeltaSelected/metricDeltaSelected.component.spec.ts
  visualization/app/codeCharta/ui/metricValueHovered/metricValueHovered.component.spec.ts
  visualization/app/codeCharta/util/codeMapHelper.spec.ts
  visualization/app/codeCharta/util/deltaGenerator.spec.ts
  visualization/app/codeCharta/util/fileExtensionCalculator.spec.ts
  visualization/app/codeCharta/util/mapBuilder.spec.ts
  visualization/app/codeCharta/util/nodeDecorator.spec.ts
  visualization/app/codeCharta/util/treeMapGenerator.spec.ts
Labels: pr-visualization, tech

#1199 Feature/fixed folders
  visualization/.eslintrc.js
  visualization/app/codeCharta/codeCharta.api.model.ts
  visualization/app/codeCharta/codeCharta.model.ts
  visualization/app/codeCharta/codeCharta.service.ts
  visualization/app/codeCharta/ressources/fixed-folders/example.json
  visualization/app/codeCharta/ressources/fixed-folders/fixed-folders-example.ts
  visualization/app/codeCharta/state/nodeSearch.service.ts
  visualization/app/codeCharta/state/store/dynamicSettings/focusedNodePath/focusedNodePath.splitter.ts
  visualization/app/codeCharta/state/store/files/files.reducer.ts
  visualization/app/codeCharta/ui/codeMap/codeMap.preRender.service.ts
  visualization/app/codeCharta/ui/codeMap/rendering/geometryGenerator.ts
  visualization/app/codeCharta/ui/codeMap/threeViewer/threeSceneService.ts
  visualization/app/codeCharta/ui/filePanel/filePanel.component.ts
  visualization/app/codeCharta/ui/metricValueHovered/metricValueHovered.component.ts
  visualization/app/codeCharta/ui/nodeContextMenu/nodeContextMenu.component.ts
  visualization/app/codeCharta/util/__snapshots__/fileHelper.spec.ts.snap
  visualization/app/codeCharta/util/__snapshots__/treeMapGenerator.spec.ts.snap
  visualization/app/codeCharta/util/__snapshots__/treeMapHelper.spec.ts.snap
  visualization/app/codeCharta/util/codeMapHelper.spec.ts
  visualization/app/codeCharta/util/codeMapHelper.ts
  visualization/app/codeCharta/util/fileDownloader.ts
  visualization/app/codeCharta/util/fileExtensionCalculator.ts
  visualization/app/codeCharta/util/fileHelper.spec.ts
  visualization/app/codeCharta/util/fileHelper.ts
  visualization/app/codeCharta/util/scenarioHelper.ts
  visualization/app/codeCharta/util/treeMapGenerator.spec.ts
  visualization/app/codeCharta/util/treeMapGenerator.ts
  visualization/app/codeCharta/util/treeMapHelper.spec.ts
  visualization/app/codeCharta/util/treeMapHelper.ts
  visualization/jest.config.json
Labels: pr-visualization

#1163 Docs/fixed-folders
  gh-pages/_posts/how-to/2020-08-17-fixate-folders-with-a-custom-cc-json.md
  gh-pages/assets/images/posts/how-to/fixate-folders/fixated-folder-example.jpg
Labels: documentation

#1241 Fix/validation unique file names
  CHANGELOG.md
  visualization/app/codeCharta/codeCharta.service.spec.ts
  visualization/app/codeCharta/util/fileValidator.spec.ts
  visualization/app/codeCharta/util/fileValidator.ts
Labels: bug, pr-visualization

#1244 Fix/api version not set correctly in analysis
  CHANGELOG.md
  analysis/filter/MergeFilter/src/test/kotlin/de/maibornwolff/codecharta/filter/mergefilter/ProjectMergerTest.kt
  analysis/filter/StructureModifier/src/test/resources/invalid_project.cc.json
  analysis/filter/StructureModifier/src/test/resources/sample_project.cc.json
  analysis/import/CodeMaatImporter/README.md
  analysis/import/SCMLogParser/src/test/resources/cc_project.cc.json
  analysis/import/SCMLogParser/src/test/resources/expected_git_numstat.json
  analysis/import/SCMLogParser/src/test/resources/expected_svn.json
  analysis/import/SourceCodeParser/src/test/resources/cc_project.cc.json
  analysis/import/SourceCodeParser/src/test/resources/jsonMetricHierarchy.json
  analysis/import/SourceCodeParser/src/test/resources/jsonMetricValues.json
  analysis/model/src/main/kotlin/de/maibornwolff/codecharta/model/Project.kt
  analysis/parser/RawTextParser/src/test/resources/cc_projects/project_1.cc.json
  analysis/parser/RawTextParser/src/test/resources/cc_projects/project_2.cc.json
  analysis/parser/RawTextParser/src/test/resources/cc_projects/project_3.cc.json
  analysis/parser/RawTextParser/src/test/resources/cc_projects/project_4.cc.json
  analysis/test/data/codecharta/codecharta_edges.cc.json
Labels: bug, pr-analysis

#1245 Docs/api-changes
  CC_JSON_SCHEMA_CHANGELOG.md
Labels: documentation

#1242 Dependabot/1187/auto approve green prs
  .github/workflows/auto-approve.yml
  .github/workflows/auto-merge.yml
Labels: dependencies

#1252 Tech/Combine auto approve and auto merge
  .github/workflows/auto-approve-and-merge.yml
  .github/workflows/auto-approve.yml
  .github/workflows/auto-merge.yml
Labels: dependencies

#1256 Tech/trigger-auto-approve-on-check-suite-completed
  .github/workflows/auto-approve-and-merge.yml
Labels: dependencies, tech

#990 Analysis: Tech/787/enable coverage report
  .travis.yml
  analysis/build.gradle
  analysis/gradle.properties
  analysis/sonar-project.properties
Labels: pr-analysis, tech

#1288 Tech/enable-dependabot-for-root
  .github/dependabot.yml
Labels: tech

#1284 Tech/improve decoration performance
  CHANGELOG.md
  visualization/app/codeCharta/codeCharta.component.spec.ts
  visualization/app/codeCharta/codeCharta.component.ts
  visualization/app/codeCharta/e2e/url.e2e.ts
  visualization/app/codeCharta/state/store/lookUp/idToNode/idToNode.service.spec.ts
  visualization/app/codeCharta/ui/codeMap/__snapshots__/codeMap.render.service.spec.ts.snap
  visualization/app/codeCharta/ui/codeMap/codeMap.mouseEvent.service.spec.ts
  visualization/app/codeCharta/ui/codeMap/codeMap.preRender.service.ts
  visualization/app/codeCharta/ui/codeMap/codeMap.render.service.spec.ts
  visualization/app/codeCharta/ui/mapTreeView/mapTreeView.level.e2e.ts
  visualization/app/codeCharta/ui/mapTreeView/mapTreeView.level.po.ts
  visualization/app/codeCharta/ui/unfocusButton/unfocusButton.component.spec.ts
  visualization/app/codeCharta/util/__snapshots__/nodeDecorator.spec.ts.snap
  visualization/app/codeCharta/util/dataMocks.ts
  visualization/app/codeCharta/util/nodeDecorator.spec.ts
  visualization/app/codeCharta/util/nodeDecorator.ts
Labels: performance, pr-visualization

#1293 Fix/1258/metric panel collapse after click
  CHANGELOG.md
  visualization/app/codeCharta/ui/areaSettingsPanel/areaSettingsPanel.po.ts
  visualization/app/codeCharta/ui/ribbonBar/ribbonBar.component.html
  visualization/app/codeCharta/ui/ribbonBar/ribbonBar.e2e.ts
Labels: bug, pr-visualization

#1287 Tech/test not logged and not run
  analysis/build.gradle
  analysis/filter/EdgeFilter/build.gradle
  analysis/filter/StructureModifier/build.gradle
  analysis/filter/StructureModifier/src/test/kotlin/de/maibornwolff/codecharta/filter/structuremodifier/StructureModifierTest.kt
  analysis/gradle/wrapper/gradle-wrapper.properties
  analysis/import/CSVImporter/build.gradle
  analysis/import/CodeMaatImporter/build.gradle
  analysis/import/CrococosmoImporter/build.gradle
  analysis/import/SCMLogParser/build.gradle
  analysis/import/SonarImporter/build.gradle
  analysis/import/SourceCodeParser/build.gradle
  analysis/import/TokeiImporter/build.gradle
  analysis/import/TokeiImporter/src/test/kotlin/de/maibornwolff/codecharta/importer/tokeiimporter/TokeiImporterTest.kt
  analysis/import/UnderstandImporter/build.gradle
  analysis/model/build.gradle
  analysis/parser/RawTextParser/build.gradle
  analysis/tools/ccsh/build.gradle
Labels: bug, pr-analysis, tech
