Repository MaibornWolff/codecharta, pull requests merged in 2020-01, with the labels that each got.

#814 Tech/validate branch name in pre push
  visualization/package.json
  visualization/script/pre-push.sh
Labels: tech

#818 Docs/767/edges in demo
  script/build_gh_pages.sh
Labels: documentation

#792 Tech/790/decorate node path earlier
  CHANGELOG.md
  visualization/app/codeCharta/state/fileState.service.spec.ts
  visualization/app/codeCharta/state/fileState.service.ts
  visualization/app/codeCharta/ui/codeMap/codeMap.preRender.service.spec.ts
  visualization/app/codeCharta/ui/codeMap/codeMap.preRender.service.ts
  visualization/app/codeCharta/ui/codeMap/codeMap.render.service.spec.ts
  visualization/app/codeCharta/ui/codeMap/codeMap.render.service.ts
  visualization/app/codeCharta/ui/dialog/dialog.download.component.spec.ts
  visualization/app/codeCharta/ui/dialog/dialog.download.component.ts
  visualization/app/codeCharta/ui/filePanel/filePanel.component.spec.ts
  visualization/app/codeCharta/ui/filePanel/filePanel.component.ts
  visualization/app/codeCharta/ui/legendPanel/legendPanel.component.ts
  visualization/app/codeCharta/ui/rangeSlider/rangeSlider.component.ts
Labels: pr-visualization, tech

#829 Tech/refactor rootscope subscriber calls
  visualization/app/codeCharta/state/nodeSearch.service.ts
  visualization/app/codeCharta/state/store/appSettings/amountOfEdgePreviews/amountOfEdgePreviews.service.ts
  visualization/app/codeCharta/state/store/appSettings/amountOfTopLabels/amountOfTopLabels.service.ts
  visualization/app/codeCharta/state/store/appSettings/dynamicMargin/dynamicMargin.service.ts
  visualization/app/codeCharta/state/store/appSettings/edgeHeight/edgeHeight.service.ts
  visualization/app/codeCharta/state/store/appSettings/hideFlatBuildings/hideFlatBuildings.service.ts
  visualization/app/codeCharta/state/store/appSettings/invertColorRange/invertColorRange.service.ts
  visualization/app/codeCharta/state/store/appSettings/invertDeltaColors/invertDeltaColors.service.ts
  visualization/app/codeCharta/state/store/appSettings/invertHeight/invertHeight.service.ts
  visualization/app/codeCharta/state/store/appSettings/isPresentationMode/isPresentationMode.service.ts
  visualization/app/codeCharta/state/store/appSettings/isWhiteBackground/isWhiteBackground.service.ts
  visualization/app/codeCharta/state/store/appSettings/mapColors/mapColors.service.ts
  visualization/app/codeCharta/state/store/appSettings/resetCameraIfNewFileIsLoaded/resetCameraIfNewFileIsLoaded.service.ts
  visualization/app/codeCharta/state/store/appSettings/scaling/scaling.service.ts
  visualization/app/codeCharta/state/store/appSettings/showOnlyBuildingsWithEdges/showOnlyBuildingsWithEdges.service.ts
  visualization/app/codeCharta/state/store/appSettings/whiteColorBuildings/whiteColorBuildings.service.ts
  visualization/app/codeCharta/state/store/fileSettings/attributeTypes/attributeTypes.service.ts
  visualization/app/codeCharta/state/store/fileSettings/blacklist/blacklist.service.ts
  visualization/app/codeCharta/state/store/fileSettings/edges/edges.service.ts
  visualization/app/codeCharta/state/store/fileSettings/markedPackages/markedPackages.service.ts
  visualization/app/codeCharta/state/store/treeMap/mapSize/mapSize.service.ts
  visualization/app/codeCharta/ui/codeMap/codeMap.mouseEvent.service.ts
  visualization/app/codeCharta/ui/matchingFilesCounter/matchingFilesCounter.component.ts
  visualization/app/codeCharta/ui/viewCube/viewCube.component.ts
  visualization/package-lock.json
Labels: pr-visualization, tech

#832 Tech/update plop util template
  visualization/plop-templates/util/util.spec.ts.hbs
  visualization/plop-templates/util/util.ts.hbs
Labels: tech

#839 Spike/815/componenet based on env
  visualization/app/codeCharta/util/envDetector.ts
  visualization/conf/webpack.config.js
  visualization/package.json
  visualization/script/travis-build.sh
Labels: pr-visualization, pr-visualization-desktop

#844 Tech/loadinggifservice to redux
  visualization/app/codeCharta/codeCharta.component.spec.ts
  visualization/app/codeCharta/codeCharta.component.ts
  visualization/app/codeCharta/codeCharta.model.ts
  visualization/app/codeCharta/state/fileState.service.spec.ts
  visualization/app/codeCharta/state/fileState.service.ts
  visualization/app/codeCharta/state/injector.service.ts
  visualization/app/codeCharta/state/loadingStatus.service.spec.ts
  visualization/app/codeCharta/state/loadingStatus.service.ts
  visualization/app/codeCharta/state/state.module.ts
  visualization/app/codeCharta/state/store.service.spec.ts
  visualization/app/codeCharta/state/store.service.ts
  visualization/app/codeCharta/state/store/appSettings/appSettings.actions.ts
  visualization/app/codeCharta/state/store/appSettings/appSettings.reducer.ts
  visualization/app/codeCharta/state/store/appSettings/appSettings.splitter.ts
  visualization/app/codeCharta/state/store/appSettings/isLoadingFile/isLoadingFile.actions.ts
  visualization/app/codeCharta/state/store/appSettings/isLoadingFile/isLoadingFile.reducer.spec.ts
  visualization/app/codeCharta/state/store/appSettings/isLoadingFile/isLoadingFile.reducer.ts
  visualization/app/codeCharta/state/store/appSettings/isLoadingFile/isLoadingFile.service.spec.ts
  visualization/app/codeCharta/state/store/appSettings/isLoadingFile/isLoadingFile.service.ts
  visualization/app/codeCharta/state/store/appSettings/isLoadingFile/isLoadingFile.splitter.ts
  visualization/app/codeCharta/state/store/appSettings/isLoadingMap/isLoadingMap.actions.ts
  visualization/app/codeCharta/state/store/appSettings/isLoadingMap/isLoadingMap.reducer.spec.ts
  visualization/app/codeCharta/state/store/appSettings/isLoadingMap/isLoadingMap.reducer.ts
  visualization/app/codeCharta/state/store/appSettings/isLoadingMap/isLoadingMap.service.spec.ts
  visualization/app/codeCharta/state/store/appSettings/isLoadingMap/isLoadingMap.service.ts
  visualization/app/codeCharta/state/store/appSettings/isLoadingMap/isLoadingMap.splitter.ts
  visualization/app/codeCharta/state/store/dynamicSettings/focusedNodePath/focusedNodePath.service.ts
  visualization/app/codeCharta/state/store/state.splitter.spec.ts
  visualization/app/codeCharta/ui/codeMap/codeMap.component.spec.ts
  visualization/app/codeCharta/ui/codeMap/codeMap.component.ts
  visualization/app/codeCharta/ui/codeMap/codeMap.preRender.service.spec.ts
  visualization/app/codeCharta/ui/codeMap/codeMap.preRender.service.ts
  visualization/app/codeCharta/ui/codeMap/threeViewer/threeOrbitControlsService.spec.ts
  visualization/app/codeCharta/ui/codeMap/threeViewer/threeOrbitControlsService.ts
  visualization/app/codeCharta/ui/fileChooser/fileChooser.component.spec.ts
  visualization/app/codeCharta/ui/fileChooser/fileChooser.component.ts
  visualization/app/codeCharta/ui/loadingGif/loadingGif.component.spec.ts
  visualization/app/codeCharta/ui/loadingGif/loadingGif.component.ts
  visualization/app/codeCharta/util/dataMocks.ts
Labels: tech

#827 Feature/660/raw text parser (indentation level parser)
  CHANGELOG.md
  analysis/README.md
  analysis/gradle.properties
  analysis/import/SCMLogParser/src/main/kotlin/de/maibornwolff/codecharta/importer/scmlogparser/input/metrics/MetricsFactory.kt
  analysis/import/SourceCodeParser/build.gradle
  analysis/import/SourceCodeParser/src/test/kotlin/de/maibornwolff/codecharta/importer/sourcecodeparser/visitors/MaxNestingLevelVisitorTest.kt
  analysis/model/src/main/kotlin/de/maibornwolff/codecharta/serialization/ProjectDeserializer.kt
  analysis/parser/RawTextParser/README.md
  analysis/parser/RawTextParser/build.gradle
  analysis/parser/RawTextParser/src/main/kotlin/de/maibornwolff/codecharta/parser/rawtextparser/MetricCollector.kt
  analysis/parser/RawTextParser/src/main/kotlin/de/maibornwolff/codecharta/parser/rawtextparser/ProjectGenerator.kt
  analysis/parser/RawTextParser/src/main/kotlin/de/maibornwolff/codecharta/parser/rawtextparser/RawTextParser.kt
  analysis/parser/RawTextParser/src/main/kotlin/de/maibornwolff/codecharta/parser/rawtextparser/metrics/IndentationCounter.kt
  analysis/parser/RawTextParser/src/main/kotlin/de/maibornwolff/codecharta/parser/rawtextparser/metrics/Metric.kt
  analysis/parser/RawTextParser/src/main/kotlin/de/maibornwolff/codecharta/parser/rawtextparser/metrics/MetricsFactory.kt
  analysis/parser/RawTextParser/src/main/kotlin/de/maibornwolff/codecharta/parser/rawtextparser/model/BoolIntConversion.kt
  analysis/parser/RawTextParser/src/main/kotlin/de/maibornwolff/codecharta/parser/rawtextparser/model/FileMetrics.kt
  analysis/parser/RawTextParser/src/test/kotlin/de/maibornwolff/codecharta/indentationlevelparser/MetricCollectorTest.kt
  analysis/parser/RawTextParser/src/test/kotlin/de/maibornwolff/codecharta/indentationlevelparser/ProjectGeneratorTest.kt
  analysis/parser/RawTextParser/src/test/kotlin/de/maibornwolff/codecharta/indentationlevelparser/RawTextParserTest.kt
  analysis/parser/RawTextParser/src/test/kotlin/de/maibornwolff/codecharta/indentationlevelparser/metrics/IndentationCounterTest.kt
  analysis/parser/RawTextParser/src/test/kotlin/de/maibornwolff/codecharta/indentationlevelparser/metrics/MetricsFactoryTest.kt
  analysis/parser/RawTextParser/src/test/kotlin/de/maibornwolff/codecharta/indentationlevelparser/model/FileMetricsTest.kt
  analysis/parser/RawTextParser/src/test/resources/cc_projects/project_1.cc.json
  analysis/parser/RawTextParser/src/test/resources/cc_projects/project_2.cc.json
  analysis/parser/RawTextParser/src/test/resources/cc_projects/project_3.cc.json
  analysis/parser/RawTextParser/src/test/resources/cc_projects/project_4.cc.json
  analysis/parser/RawTextParser/src/test/resources/sampleproject/spaces/spaces_3.xyz
  analysis/parser/RawTextParser/src/test/resources/sampleproject/spaces/spaces_4.xyz
  analysis/parser/RawTextParser/src/test/resources/sampleproject/spaces/spaces_xyz.wrong
  analysis/parser/RawTextParser/src/test/resources/sampleproject/tabs.xyz
  analysis/settings.gradle
  analysis/tools/ccsh/build.gradle
  analysis/tools/ccsh/src/main/kotlin/de/maibornwolff/codecharta/tools/ccsh/Ccsh.kt
Labels: pr-analysis

#833 Feature/772/kebab case ccsh
  CHANGELOG.md
  analysis/import/SourceCodeParser/README.md
  analysis/tools/ccsh/build.gradle
  analysis/tools/ccsh/src/main/kotlin/de/maibornwolff/codecharta/tools/ccsh/Ccsh.kt
  analysis/tools/ccsh/src/test/kotlin/de/maibornwolff/codecharta/ccsh/CcshTest.kt
  gh-pages/_docs/01-01-quick-start-guide.md
Labels: pr-analysis
