Repository MaibornWolff/codecharta, pull requests merged in 2020-07, with the labels that each got.

#1020 Fix unary metric being added if cc.json already contains it
  visualization/app/codeCharta/state/metric.service.spec.ts
  visualization/app/codeCharta/state/metric.service.ts
Labels: bug, pr-visualization

#1085 Feature/1071/auto expand on search
  CHANGELOG.md
  visualization/app/codeCharta/codeCharta.component.html
  visualization/app/codeCharta/codeCharta.component.spec.ts
  visualization/app/codeCharta/codeCharta.component.ts
  visualization/app/codeCharta/ui/searchPanel/searchPanel.component.html
  visualization/app/codeCharta/ui/searchPanel/searchPanel.component.spec.ts
  visualization/app/codeCharta/ui/searchPanel/searchPanel.component.ts
Labels: feature, pr-visualization

#1087 Bug/1040/sorting not working
  CHANGELOG.md
  visualization/app/codeCharta/ui/mapTreeView/mapTreeView.level.component.html
Labels: bug, pr-visualization

#1084 Bug/1034/Persist color conversions to improve performance
  CHANGELOG.md
  visualization/app/codeCharta/ui/codeMap/codeMap.arrow.service.ts
  visualization/app/codeCharta/ui/codeMap/rendering/codeMapBuilding.ts
  visualization/app/codeCharta/ui/codeMap/rendering/geometryGenerator.ts
  visualization/app/codeCharta/util/color/colorConverter.spec.ts
  visualization/app/codeCharta/util/color/colorConverter.ts
Labels: performance, pr-visualization

#1086 Feature/1043/reduce collapsing expanding time
  CHANGELOG.md
  visualization/app/codeCharta/ui/ribbonBar/ribbonBar.component.scss
Labels: pr-visualization

#1023 Fix Docker Hub Image
  visualization/script/docker-publish.sh
  visualization/script/travis-build.sh
Labels: bug

#1089 Add 1.50.0 Release post
  CHANGELOG.md
  gh-pages/_posts/release/2020-07-10-v1_50_0.md
Labels: tech

#1096 Feature/1030/provide tooltips
  visualization/app/codeCharta/ui/areaSettingsPanel/areaSettingsPanel.component.html
  visualization/app/codeCharta/ui/attributeTypeSelector/attributeTypeSelector.component.html
  visualization/app/codeCharta/ui/centerMapButton/centerMapButton.component.html
  visualization/app/codeCharta/ui/centerMapButton/centerMapButton.component.scss
  visualization/app/codeCharta/ui/colorSettingsPanel/colorSettingsPanel.component.html
  visualization/app/codeCharta/ui/dialog/dialog.globalSettings.component.html
  visualization/app/codeCharta/ui/downloadButton/downloadButton.component.html
  visualization/app/codeCharta/ui/edgeChooser/edgeChooser.component.html
  visualization/app/codeCharta/ui/edgeSettingsPanel/edgeSettingsPanel.component.html
  visualization/app/codeCharta/ui/fileChooser/fileChooser.component.html
  visualization/app/codeCharta/ui/filePanel/filePanel.component.html
  visualization/app/codeCharta/ui/globalSettingsButton/globalSettingsButton.component.html
  visualization/app/codeCharta/ui/heightSettingsPanel/heightSettingsPanel.component.html
  visualization/app/codeCharta/ui/legendPanel/legendPanel.component.html
  visualization/app/codeCharta/ui/loadingGif/loadingGif.map.component.html
  visualization/app/codeCharta/ui/mapTreeView/mapTreeView.level.component.html
  visualization/app/codeCharta/ui/matchingFilesCounter/matchingFilesCounter.component.html
  visualization/app/codeCharta/ui/metricChooser/metricChooser.area.component.html
  visualization/app/codeCharta/ui/metricChooser/metricChooser.color.component.html
  visualization/app/codeCharta/ui/metricChooser/metricChooser.distribution.component.html
  visualization/app/codeCharta/ui/metricChooser/metricChooser.height.component.html
  visualization/app/codeCharta/ui/nodeContextMenu/nodeContextMenu.component.html
  visualization/app/codeCharta/ui/presentationModeButton/presentationModeButton.component.html
  visualization/app/codeCharta/ui/resetSettingsButton/resetSettingsButton.component.html
  visualization/app/codeCharta/ui/resetSettingsButton/resetSettingsButton.component.ts
  visualization/app/codeCharta/ui/ribbonBar/ribbonBar.component.html
  visualization/app/codeCharta/ui/scenarioDropDown/scenarioDropDown.component.html
  visualization/app/codeCharta/ui/scenarioDropDown/scenarioDropDown.component.ts
  visualization/app/codeCharta/ui/searchBar/searchBar.component.html
  visualization/app/codeCharta/ui/searchPanel/searchPanel.component.html
  visualization/app/codeCharta/ui/searchPanelModeSelector/searchPanelModeSelector.component.html
  visualization/app/codeCharta/ui/sortingButton/sortingButton.component.html
  visualization/app/codeCharta/ui/sortingOption/sortingOption.component.html
  visualization/app/codeCharta/ui/unfocusButton/unfocusButton.component.html
  visualization/app/codeCharta/util/dataMocks.ts
  visualization/app/codeCharta/util/scenarioHelper.spec.ts
  visualization/app/codeCharta/util/scenarioHelper.ts
Labels: pr-visualization

#1097 Tech/update jest, babel and adapt mocks
  visualization/.babelrc
  visualization/app/codeCharta/ui/attributeSideBar/attributeSideBar.component.spec.ts
  visualization/app/codeCharta/ui/codeMap/codeMap.component.spec.ts
  visualization/app/codeCharta/ui/codeMap/codeMap.label.service.spec.ts
  visualization/app/codeCharta/ui/codeMap/threeViewer/threeOrbitControlsService.spec.ts
  visualization/app/codeCharta/ui/dialog/dialog.download.component.spec.ts
  visualization/app/codeCharta/ui/edgeChooser/edgeChooser.component.spec.ts
  visualization/app/codeCharta/ui/edgeSettingsPanel/edgeSettingsPanel.component.spec.ts
  visualization/app/codeCharta/ui/mapTreeView/mapTreeView.level.component.spec.ts
  visualization/app/codeCharta/ui/nodeContextMenu/nodeContextMenu.component.spec.ts
  visualization/app/codeCharta/util/urlExtractor.spec.ts
  visualization/babel.config.json
  visualization/conf/webpack.loaders.js
  visualization/jest.config.json
  visualization/package-lock.json
  visualization/package.json
Labels: pr-visualization, tech

#1100 Bug/1098/blacklisting broken
  CHANGELOG.md
  visualization/app/codeCharta/state/metric.service.spec.ts
  visualization/app/codeCharta/state/metric.service.ts
  visualization/app/codeCharta/ui/mapTreeView/mapTreeView.level.component.html
  visualization/app/codeCharta/ui/mapTreeView/mapTreeView.level.e2e.ts
  visualization/app/codeCharta/ui/mapTreeView/mapTreeView.level.po.ts
  visualization/app/codeCharta/ui/nodeContextMenu/nodeContextMenu.component.html
  visualization/app/codeCharta/ui/nodeContextMenu/nodeContextMenu.po.ts
  visualization/app/codeCharta/ui/searchPanelModeSelector/searchPanelModeSelector.po.ts
  visualization/package-lock.json
  visualization/package.json
Labels: bug, pr-visualization

#860 Tech/rewrite file validation
  README.md
  analysis/import/JasomeImporter/src/main/kotlin/de/maibornwolff/codecharta/importer/jasome/JasomeProjectBuilder.kt
  analysis/import/JasomeImporter/src/test/kotlin/de/maibornwolff/codecharta/importer/jasome/JasomeProjectBuilderTest.kt
  analysis/tools/ValidationTool/src/main/resources/cc.json
  visualization/README.md
  visualization/app/codeCharta/assets/sample2.cc.json
  visualization/app/codeCharta/assets/sample3.cc.json
  visualization/app/codeCharta/codeCharta.api.model.ts
  visualization/app/codeCharta/codeCharta.component.ts
  visualization/app/codeCharta/codeCharta.model.ts
  visualization/app/codeCharta/codeCharta.service.spec.ts
  visualization/app/codeCharta/codeCharta.service.ts
  visualization/app/codeCharta/ui/dialog/dialog.component.scss
  visualization/app/codeCharta/ui/dialog/dialog.service.ts
  visualization/app/codeCharta/ui/fileChooser/fileChooser.component.ts
  visualization/app/codeCharta/util/color/colorConverter.ts
  visualization/app/codeCharta/util/color/hsl.ts
  visualization/app/codeCharta/util/dataMocks.ts
  visualization/app/codeCharta/util/fileDownloader.ts
  visualization/app/codeCharta/util/fileValidator.spec.ts
  visualization/app/codeCharta/util/fileValidator.ts
  visualization/app/codeCharta/util/generatedSchema.json
  visualization/app/codeCharta/util/scenarioHelper.spec.ts
  visualization/app/codeCharta/util/scenarioHelper.ts
  visualization/app/codeCharta/util/schema.json
  visualization/app/codeCharta/util/urlExtractor.ts
  visualization/package-lock.json
  visualization/package.json
Labels: pr-visualization, tech

#1083 Bug/1032/opening same file should reset state
  CHANGELOG.md
  visualization/app/app.e2e.ts
  visualization/app/codeCharta/e2e/logo.e2e.ts
  visualization/app/codeCharta/e2e/url.e2e.ts
  visualization/app/codeCharta/ui/fileChooser/fileChooser.component.html
  visualization/app/codeCharta/ui/fileChooser/fileChooser.e2e.ts
  visualization/app/codeCharta/ui/mapTreeView/mapTreeView.level.e2e.ts
  visualization/app/codeCharta/ui/nodeContextMenu/nodeContextMenu.e2e.ts
  visualization/app/codeCharta/ui/ribbonBar/ribbonBar.e2e.ts
  visualization/app/puppeteer.helper.ts
  visualization/jest.config.json
  visualization/plop/templates/ui/e2e.ts.hbs
Labels: bug, pr-visualization

#1110 Bug/1106/edge metric not updated correctly
  CHANGELOG.md
  visualization/app/codeCharta/ressources/sample1_with_different_edges.cc.json
  visualization/app/codeCharta/ui/edgeChooser/edgeChooser.component.html
  visualization/app/codeCharta/ui/edgeChooser/edgeChooser.e2e.ts
  visualization/app/codeCharta/ui/edgeChooser/edgeChooser.po.ts
Labels: bug, pr-visualization

#1112 Add 1.51.0 release post
  gh-pages/_posts/release/2020-07-24-v1_51_0.md
Labels: tech

#1113 Tech/1101/move po functions
  visualization/app/codeCharta/ui/mapTreeView/mapTreeView.level.component.html
  visualization/app/codeCharta/ui/mapTreeView/mapTreeView.level.e2e.ts
  visualization/app/codeCharta/ui/mapTreeView/mapTreeView.level.po.ts
  visualization/app/codeCharta/ui/metricChooser/metricChooser.po.ts
  visualization/app/codeCharta/ui/nodeContextMenu/nodeContextMenu.e2e.ts
  visualization/app/codeCharta/ui/ribbonBar/ribbonBar.e2e.ts
  visualization/app/codeCharta/ui/ribbonBar/ribbonBar.po.ts
  visualization/app/codeCharta/ui/searchPanel/searchPanel.po.ts
  visualization/app/codeCharta/ui/searchPanelModeSelector/searchPanelModeSelector.e2e.ts
  visualization/app/codeCharta/ui/searchPanelModeSelector/searchPanelModeSelector.po.ts
Labels: pr-visualization, tech

#1114 Tech/update templates
  .github/pull_request_template.md
  CONTRIBUTING.md
  ISSUE_TEMPLATE.md
  PULL_REQUEST_TEMPLATE.md
Labels: tech

#1118 Tech/fix-plop-update-dependencies
  visualization/package-lock.json
  visualization/package.json
  visualization/plopfile.ts
Labels: dependencies, tech

#1123 Tech/travis use java 11
  .travis.yml
  CHANGELOG.md
  analysis/README.md
Labels: tech

#1119 Tech/783/update release post automatically
  Pipfile
  Pipfile.lock
  script/make_release.py
  script/make_release.sh
Labels: tech

#1115 Tech/1101/use jest puppeteer
  .travis.yml
  visualization/.eslintrc.js
  visualization/app/app.e2e.ts
  visualization/app/codeCharta/codeCharta.service.ts
  visualization/app/codeCharta/e2e/logo.e2e.ts
  visualization/app/codeCharta/e2e/logo.po.ts
  visualization/app/codeCharta/e2e/url.e2e.ts
  visualization/app/codeCharta/ui/dialog/dialog.error.po.ts
  visualization/app/codeCharta/ui/edgeChooser/edgeChooser.e2e.ts
  visualization/app/codeCharta/ui/edgeChooser/edgeChooser.po.ts
  visualization/app/codeCharta/ui/fileChooser/fileChooser.e2e.ts
  visualization/app/codeCharta/ui/fileChooser/fileChooser.po.ts
  visualization/app/codeCharta/ui/filePanel/filePanel.po.ts
  visualization/app/codeCharta/ui/mapTreeView/mapTreeView.level.e2e.ts
  visualization/app/codeCharta/ui/mapTreeView/mapTreeView.level.po.ts
  visualization/app/codeCharta/ui/metricChooser/metricChooser.po.ts
  visualization/app/codeCharta/ui/nodeContextMenu/nodeContextMenu.e2e.ts
  visualization/app/codeCharta/ui/nodeContextMenu/nodeContextMenu.po.ts
  visualization/app/codeCharta/ui/ribbonBar/ribbonBar.e2e.ts
  visualization/app/codeCharta/ui/ribbonBar/ribbonBar.po.ts
  visualization/app/codeCharta/ui/searchPanel/searchPanel.po.ts
  visualization/app/codeCharta/ui/searchPanelModeSelector/searchPanelModeSelector.e2e.ts
  visualization/app/codeCharta/ui/searchPanelModeSelector/searchPanelModeSelector.po.ts
  visualization/app/puppeteer.helper.ts
  visualization/jest-preset.js
  visualization/jest-puppeteer.config.js
  visualization/jest.config.json
  visualization/package-lock.json
  visualization/package.json
  visualization/plop/templates/ui/e2e.ts.hbs
  visualization/plop/templates/ui/po.ts.hbs
  visualization/tsconfig.json
Labels: tech

#1125 Update sonar keys #879
  .travis.yml
  CHANGELOG.md
  README.md
  analysis/build.gradle
  analysis/gradle.properties
  visualization/sonar-project.properties
Labels: tech
