Repository MaibornWolff/codecharta, pull requests merged in 2021-06, with the labels that each got.

#1765 Export current view as .png
  .gitattributes
  visualization/app/codeCharta/ui/codeMap/threeViewer/threeRendererService.ts
  visualization/app/codeCharta/ui/codeMap/threeViewer/threeViewerService.ts
  visualization/app/codeCharta/ui/screenshotButton/screenshotButton.component.html
  visualization/app/codeCharta/ui/screenshotButton/screenshotButton.component.scss
  visualization/app/codeCharta/ui/screenshotButton/screenshotButton.component.spec.ts
  visualization/app/codeCharta/ui/screenshotButton/screenshotButton.component.ts
  visualization/app/codeCharta/ui/screenshotButton/screenshotButton.module.ts
  visualization/app/codeCharta/ui/toolBar/toolBar.component.html
  visualization/app/codeCharta/ui/ui.ts
  visualization/package-lock.json
  visualization/package.json
Labels: difficulty:low, feature, pr-visualization

#2041 Feature/1613/reset color thresholds and hex values separately
  CHANGELOG.md
  visualization/app/codeCharta/ui/colorSettingsPanel/colorSettingsPanel.component.html
  visualization/app/codeCharta/ui/colorSettingsPanel/colorSettingsPanel.component.scss
  visualization/app/codeCharta/ui/rangeSlider/rangeSlider.component.scss
  visualization/app/codeCharta/ui/resetSettingsButton/resetSettingsButton.component.html
  visualization/app/codeCharta/ui/resetSettingsButton/resetSettingsButton.component.scss
  visualization/app/codeCharta/ui/resetSettingsButton/resetSettingsButton.component.spec.ts
  visualization/app/codeCharta/ui/resetSettingsButton/resetSettingsButton.component.ts
Labels: UX / UI, feature

#2081 Fix slider initialisation #2077
  visualization/app/codeCharta/ui/rangeSlider/rangeSlider.component.ts
Labels: UX / UI, bug, pr-visualization
