Repository MaibornWolff/codecharta, pull requests merged in 2021-07, with the labels that each got.

#2079 Fix building selection #2070
  visualization/app/codeCharta/ui/codeMap/codeMap.mouseEvent.service.spec.ts
  visualization/app/codeCharta/ui/codeMap/codeMap.mouseEvent.service.ts
Labels: bug, priority:urgent

#2065 Feature/1954/loading map should not replace old ones
  CHANGELOG.md
  visualization/app/codeCharta/assets/sample4.cc.json
  visualization/app/codeCharta/codeCharta.model.ts
  visualization/app/codeCharta/codeCharta.service.spec.ts
  visualization/app/codeCharta/codeCharta.service.ts
  visualization/app/codeCharta/model/files/files.helper.ts
  visualization/app/codeCharta/state/injector.service.ts
  visualization/app/codeCharta/state/state.module.ts
  visualization/app/codeCharta/state/store/dynamicSettings/dynamicSettings.actions.ts
  visualization/app/codeCharta/state/store/dynamicSettings/dynamicSettings.reducer.ts
  visualization/app/codeCharta/state/store/dynamicSettings/dynamicSettings.splitter.ts
  visualization/app/codeCharta/state/store/dynamicSettings/recentFiles/recentFiles.actions.ts
  visualization/app/codeCharta/state/store/dynamicSettings/recentFiles/recentFiles.reducer.spec.ts
  visualization/app/codeCharta/state/store/dynamicSettings/recentFiles/recentFiles.reducer.ts
  visualization/app/codeCharta/state/store/dynamicSettings/recentFiles/recentFiles.service.spec.ts
  visualization/app/codeCharta/state/store/dynamicSettings/recentFiles/recentFiles.service.ts
  visualization/app/codeCharta/state/store/dynamicSettings/recentFiles/recentFiles.splitter.ts
  visualization/app/codeCharta/state/store/files/files.actions.ts
  visualization/app/codeCharta/state/store/files/files.reducer.spec.ts
  visualization/app/codeCharta/state/store/files/files.reducer.ts
  visualization/app/codeCharta/ui/fileChooser/fileChooser.e2e.ts
  visualization/app/codeCharta/ui/filePanel/filePanel.component.html
  visualization/app/codeCharta/ui/filePanel/filePanel.component.scss
  visualization/app/codeCharta/ui/filePanel/filePanel.component.spec.ts
  visualization/app/codeCharta/ui/filePanel/filePanel.component.ts
  visualization/app/codeCharta/ui/removeFileButton/removeFileButton.component.html
  visualization/app/codeCharta/ui/removeFileButton/removeFileButton.component.scss
  visualization/app/codeCharta/ui/removeFileButton/removeFileButton.component.ts
  visualization/app/codeCharta/ui/removeFileButton/removeFileButton.module.ts
  visualization/app/codeCharta/ui/ui.ts
  visualization/app/codeCharta/util/customConfigBuilder.ts
  visualization/app/codeCharta/util/dataMocks.ts
  visualization/app/codeCharta/util/fileValidator.spec.ts
  visualization/app/codeCharta/util/fileValidator.ts
Labels: feature, pr-visualization

#2097 Feature/1557/create scenario with changed colors
  CHANGELOG.md
  visualization/app/codeCharta/codeCharta.model.ts
  visualization/app/codeCharta/ui/dialog/dialog.addScenarioSettings.component.ts
  visualization/app/codeCharta/ui/scenarioDropDown/scenarioDropDown.component.ts
  visualization/app/codeCharta/util/dataMocks.ts
  visualization/app/codeCharta/util/scenarioHelper.spec.ts
  visualization/app/codeCharta/util/scenarioHelper.ts
Labels: feature, pr-visualization

#2100 Fix/1312/calculate metrics only once
  CHANGELOG.md
  visualization/app/codeCharta/ui/codeMap/codeMap.preRender.service.spec.ts
  visualization/app/codeCharta/ui/codeMap/codeMap.preRender.service.ts
Labels: bug, pr-visualization, priority:medium

#2297 Fix/901/same size after reincluding buildings
  CHANGELOG.md
  visualization/app/codeCharta/state/store/fileSettings/blacklist/blacklist.service.spec.ts
  visualization/app/codeCharta/state/store/fileSettings/blacklist/blacklist.service.ts
  visualization/app/codeCharta/ui/blacklistPanel/blacklistPanel.e2e.ts
  visualization/app/codeCharta/ui/customColorPicker/nodeContextMenuColorPicker/nodeContextMenuColorPicker.component.ts
  visualization/app/codeCharta/ui/nodeContextMenu/nodeContextMenu.component.spec.ts
  visualization/app/codeCharta/ui/nodeContextMenu/nodeContextMenu.component.ts
  visualization/app/codeCharta/ui/nodeContextMenu/nodeContextMenu.e2e.ts
  visualization/app/codeCharta/ui/nodeContextMenu/nodeContextMenu.po.ts
  visualization/app/codeCharta/ui/searchBar/searchBar.component.spec.ts
  visualization/app/codeCharta/ui/searchBar/searchBar.component.ts
  visualization/app/codeCharta/util/fileValidator.ts
Labels: bug, pr-visualization, priority:high

#2099 Feature/1520/show max value instead of infinite
  CHANGELOG.md
  visualization/app/codeCharta/ui/colorSettingsPanel/colorSettingsPanel.component.html
  visualization/app/codeCharta/ui/colorSettingsPanel/colorSettingsPanel.component.spec.ts
  visualization/app/codeCharta/ui/colorSettingsPanel/colorSettingsPanel.component.ts
  visualization/app/codeCharta/ui/legendPanel/legendPanel.component.html
  visualization/app/codeCharta/ui/legendPanel/legendPanel.component.spec.ts
  visualization/app/codeCharta/ui/legendPanel/legendPanel.component.ts
Labels: UX / UI, priority:medium

#2069 Feature/1953/indicate if a metric is set to sum or median
  CHANGELOG.md
  visualization/app/codeCharta/codeCharta.model.ts
  visualization/app/codeCharta/state/injector.service.ts
  visualization/app/codeCharta/state/state.module.ts
  visualization/app/codeCharta/state/store.service.ts
  visualization/app/codeCharta/state/store/appSettings/appSettings.actions.ts
  visualization/app/codeCharta/state/store/appSettings/appSettings.reducer.ts
  visualization/app/codeCharta/state/store/appSettings/appSettings.splitter.ts
  visualization/app/codeCharta/state/store/appSettings/secondaryMetrics/secondaryMetrics.actions.ts
  visualization/app/codeCharta/state/store/appSettings/secondaryMetrics/secondaryMetrics.reducer.spec.ts
  visualization/app/codeCharta/state/store/appSettings/secondaryMetrics/secondaryMetrics.reducer.ts
  visualization/app/codeCharta/state/store/appSettings/secondaryMetrics/secondaryMetrics.service.spec.ts
  visualization/app/codeCharta/state/store/appSettings/secondaryMetrics/secondaryMetrics.service.ts
  visualization/app/codeCharta/state/store/appSettings/secondaryMetrics/secondaryMetrics.splitter.ts
  visualization/app/codeCharta/ui/attributeSideBar/attributeSideBar.component.html
  visualization/app/codeCharta/ui/attributeSideBar/attributeSideBar.component.scss
  visualization/app/codeCharta/ui/attributeSideBar/attributeSideBar.component.spec.ts
  visualization/app/codeCharta/ui/attributeSideBar/attributeSideBar.component.ts
  visualization/app/codeCharta/ui/attributeTypeSelector/attributeTypeSelector.component.html
  visualization/app/codeCharta/ui/attributeTypeSelector/attributeTypeSelector.component.scss
  visualization/app/codeCharta/ui/attributeTypeSelector/attributeTypeSelector.component.spec.ts
  visualization/app/codeCharta/ui/attributeTypeSelector/attributeTypeSelector.component.ts
  visualization/app/codeCharta/ui/codeMap/codeMap.preRender.service.ts
  visualization/app/codeCharta/ui/edgeChooser/edgeChooser.component.html
  visualization/app/codeCharta/ui/metricChooser/metricChooser.area.component.html
  visualization/app/codeCharta/ui/metricChooser/metricChooser.color.component.html
  visualization/app/codeCharta/ui/metricChooser/metricChooser.height.component.html
  visualization/app/codeCharta/util/customConfigBuilder.ts
  visualization/app/codeCharta/util/dataMocks.ts
Labels: Hackathon, UX / UI, difficulty:medium
